<template lang="pug">
  app-card
    v-tabs
      v-tab(:to="{name:'base-view'}") Общие сведения
    v-divider.mb-4
    transition(name="fade" mode="out-in")
      router-view
</template>

<script>
  import LoadMixin from 'mixins/LoadMixin'

  export default {
    mixins: [LoadMixin],
    props: ['id', 'apiPath'],
  }
</script>
