<template>
  <div class="no-wrap">
    <HeaderDropdown :profile-info="profileInfo" />
  </div>
</template>
<script>
  import HeaderDropdown from './HeaderDropdown'

  export default {
    name: 'CHeader',
    components: {
      HeaderDropdown,
    },
    props: {
      profileInfo: {
        type: Object,
        required: true,
      },
    },

    data() {
      return {
        activeItem: '',
      }
    },

    methods: {
      asideToggle(tab) {
        if (this.activeItem !== tab) {
          this.activeItem = tab
        } else {
          this.activeItem = ''
        }
        this.$root.$emit('showRightMenu', tab)
      },
    },
  }
</script>

<style scoped lang="scss">
  .d-md-down-none.active /deep/ i {
    padding-bottom: 5px;
    border-bottom: 1px solid #3c2f2f;
  }
</style>
