<template lang="pug">
  span
    v-tooltip(v-if="userIsImpersonated" bottom)
      template(#activator="{ on }")
        v-btn(color="error" flat icon large @click="stopImpersonate" v-on="on")
          v-avatar(color="white" size="40px")
            v-icon fa-user-secret
      span Завершить подмену
    v-menu(offset-y left)
      v-btn(
        slot="activator"
        class="user-avatar"
        :class="{ 'is-impersonated': userIsImpersonated }"
        :ripple="false"
        flat
        icon
      )
        v-avatar(size="36")
          img(:src="profileInfo.icon" alt="avatar")
      v-list(dense)
        template(v-for="(menu, index) in profileInfo.menu")
          template(v-if="menu.children")
            v-subheader(:key="menu.name") {{ menu.name }}
            v-list-tile(v-for="(childMenu, childIndex) in menu.children" :key="childIndex"
              :href="childMenu.url" :active="hasActiveMenuItem(childMenu)")
              v-icon(small left) fa-{{ childMenu.icon }}
              v-list-tile-content
                v-list-tile-title {{ childMenu.name }}
          template(v-else)
            v-list-tile(:key="menu.name" :active="hasActiveMenuItem(menu)")
              v-icon(small left) fa-{{ menu.icon }}
              v-list-tile-content
                v-list-tile-title {{ menu.name }}
        v-divider
        v-list-tile(@click="logout")
          v-icon(small left) fa-sign-out-alt
          v-list-tile-content
            v-list-tile-title Выйти
</template>

<script>
  export default {
    name: 'HeaderDropdown',
    props: {
      profileInfo: {
        type: Object,
        required: true,
      },
    },
    computed: {
      userIsImpersonated() {
        return this.$store.getters.projectData.userIsImpersonated
      },
    },

    methods: {
      hasActiveMenuItem(menu) {
        return !!menu.active.length
      },
      async stopImpersonate(row, table) {
        try {
          await this.$ajax.delete('/api/impersonate/')
        } catch (err) {
          this.$notifyError('Ошибка', err)
          return
        }
        window.location = '/'
      },
      async logout() {
        await this.$ajax.get(this.$store.getters.projectData.logoutUrl)
        window.location = '/'
      },
    },
  }
</script>
<style>
  .user-avatar.v-btn::before,
  .user-avatar.v-btn:hover::before,
  .user-avatar.v-btn:focus::before {
    background-color: transparent;
  }

  .user-avatar {
    height: 40px;
    width: 40px;
    border: 2px solid rgba(89, 173, 121, 0.5);
  }

  .user-avatar:hover {
    border: 2px solid #59ad79;
  }

  .is-impersonated.user-avatar {
    border: 2px solid rgba(255, 110, 64, 0.5);
  }

  .is-impersonated.user-avatar:hover {
    border: 2px solid #ff6e40;
  }
</style>
