{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <title>{% block title %}{% firstof title view.title %}{% endblock %} | {{ app_settings.APP_NAME }}</title>

  {% block style %}
    {% block basestyle %}
      <style>
        [v-cloak] {
          visibility: hidden;
        }
      </style>
    {% endblock %}
    {% block extrastyle %}
    {% endblock %}
  {% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
<div id="app" v-cloak :class="{
  'app-xs': $vuetify.breakpoint.xs,
  'app-xs-and-up': $vuetify.breakpoint.xsAndUp,
  'app-sm': $vuetify.breakpoint.sm,
  'app-sm-and-down': $vuetify.breakpoint.smAndDown,
  'app-sm-and-up': $vuetify.breakpoint.smAndUp,
  'app-md': $vuetify.breakpoint.md,
  'app-md-and-down': $vuetify.breakpoint.mdAndDown,
  'app-md-and-up': $vuetify.breakpoint.mdAndUp,
  'app-lg': $vuetify.breakpoint.lg,
  'app-lg-and-down': $vuetify.breakpoint.lgAndDown,
  'app-lg-and-up': $vuetify.breakpoint.lgAndUp,
  'app-xl': $vuetify.breakpoint.xl,
  'app-xl-and-down': $vuetify.breakpoint.xlAndDown}">
  <app :app-routes="{{ app_routes|default:'[]' }}" :routes-meta="{{ routes_meta|default:'null' }}">
    <v-app>
      {% block body %}
      {% endblock body %}
      <div ref="modal-container"></div>
    </v-app>
    <div class="font_preload" style="opacity: 0">
      <span style="font-weight: bold"></span>
    </div>
  </app>
</div>
{% block script %}
  {% block basescript %}
    <script type="text/javascript">
      if (!window.APP) window.APP = {}
      window.APP.SCRIPT_NAME = '{{ SCRIPT_NAME }}'
      window.APP.COOKIE_NAME_PREFIX = '{{ app_settings.COOKIE_NAME_PREFIX }}'
      window.CSRF_COOKIE_NAME = '{{ app_settings.CSRF_COOKIE_NAME }}'
      window.COPYRIGHT = '{{ app_settings.COPYRIGHT|default:'' }}'
      window.PROJECT_DATA = {{ project_data|default:'{}'|safe }};
    </script>
    <script src="{% static 'frontend/common.js' %}"></script>
  {% endblock basescript %}
  {% block extrascript %}
  {% endblock extrascript %}
{% endblock script %}

{% block metrics %}
  {% include "includes/metrics.html" %}
{% endblock metrics %}
</body>
</html>
