<template>
  <base-form ref="form" :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners"></base-form>
</template>

<script>
  export default {
    name: 'PromoCodeEditForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'code'},
          {name: 'start_date'},
          {name: 'end_date'},
          {name: 'type'},
          {
            name: 'value',
            visible: (f, c) => {
              return c.model.type
            },
          },
          {name: 'minimum_amount'},
          {name: 'number_uses'},
          {name: 'comment', type: 'textarea'},
        ],
      }
    },
    mounted() {
      this.$watch(
        () => this.$refs.form.model.type,
        () => this.$refs.form.updateFieldsLayout(),
      )
    },
  }
</script>
