<template lang="pug">
  app-modal(v-model="show" :title="title" :disabled-close-btn="disabledCloseBtn" @hidden="onHidden")
    loader-overlay(:value="isLoading")
    transition(name="fade" mode="out-in")
      loading-alert(v-if="loadingAlert" @refresh="load" :type="loadingAlertType" v-html="loadingAlert")
      div(v-else-if='isLoaded')
        div(v-if="permsNeeded.length")
          p У вас недостаточно прав для удаление следующих связанных данных:
          ul
            li(v-for="(item, i) in permsNeeded" :key="i") {{item}}
        div(v-else-if="protected.length")
          p Удаление невозможно, так как следующие связанные данные - защищены:
          ul
            li(v-for="(item, i) in protected" :key="i") {{item}}
        div(v-else)
          div(v-html="confirmationText")
          div(v-if="modelCount.length")
            br
            div Все следующие связанные данные также будут удалены:
            h3 Краткая статистика:
            ul
              li(v-for="(item, i) in modelCount" :key="i") {{upperFirst(item[0])}}: {{item[1]}}

        div(v-if="toDelete.length")
          h3 Связанные данные:
          v-treeview(:items="toDelete" open-all)
            template(slot="prepend" slot-scope="{ item, open, leaf }")
              v-icon(v-if="item['type'] === 'is_protected'" color="error") fa-exclamation-circle
              v-icon(v-else-if="item['type'] === 'perms_needed'" color="error") fa-ban

    template(slot="buttons" v-if="isLoaded" )
      v-btn(:color="btnColor" outline depressed small @click="confirmation(false)") {{cancelBtnText}}
      v-btn(:loading="isLoading" :disabled="!canDelete" :color="btnColor" depressed small @click="confirmation(true)") {{btnText}}
</template>

<script>
  import LoadMixin from 'mixins/LoadMixin'
  import ModalMixin from 'mixins/ModalMixin'

  export default {
    mixins: [ModalMixin, LoadMixin],
    props: {
      apiPath: {
        type: String,
        required: true,
      },
      selected: {
        type: Object,
        required: true,
      },
      hardDelete: {
        type: Boolean,
        required: false,
        default: false,
      },
      title: {
        type: String,
        required: true,
      },
      disabledCloseBtn: {
        type: Boolean,
        required: false,
        default: false,
      },
      confirmationText: {
        type: String,
        required: true,
      },
      cancelBtnText: {
        type: String,
        required: false,
        default: 'Отменить',
      },
      btnText: {
        type: String,
        required: false,
        default: '',
      },
      btnColor: {
        type: String,
        required: false,
        default: 'error',
      },
      afterDelete: {
        type: Function,
        required: false,
      },
    },
    data() {
      return {
        modelCount: [],
        toDelete: [],
        protected: [],
        permsNeeded: [],
      }
    },
    computed: {
      canDelete() {
        return !this.protected.length && !this.permsNeeded.length
      },
    },
    methods: {
      upperFirst(val) {
        return _.upperFirst(val)
      },
      async load() {
        const params = {selected: this.selected}
        const response = await this.loadingDecorator(this.$ajax.get(this.apiPath, {params}))
        this.toDelete = response.data.toDelete || []
        this.modelCount = response.data.modelCount || []
        this.protected = response.data.protected || []
        this.permsNeeded = response.data.permsNeeded || []
      },
      async confirmation(result) {
        if (result) {
          const params = {selected: this.selected}
          const response = await this.loadingDecorator(this.$ajax.post(this.apiPath, {}, {params}))

          if (this.afterDelete) {
            this.afterDelete()
          }
          if (this.hardDelete) {
            this.$notify('Данные удалены из базы', {
              level: 'warning',
              timeout: 10000,
            })
          } else {
            const deleted = response.data.deleted
            this.$notify('Данные удалены из базы', {
              level: 'warning',
              timeout: 10000,
            })
            // this.$notify('Данные удалены', {
            //   action: {
            //     icon: 'fa-redo-alt fa-flip-horizontal',
            //     title: 'Восстановить',
            //     onClick: () => this.restore(deleted)
            //   },
            //   level: 'warning',
            //   timeout: 10000
            // })
          }
        }

        this.closeModal()
        this.$emit('submitted', result)
      },
      async restore(deleted) {
        await this.loadingDecorator(this.$ajax.post(this.apiPath + 'restore/', {deleted}))
        if (this.afterDelete) {
          this.afterDelete()
        }
      },
    },
  }
</script>
