<template>
  <app-card>
    <translation-fields-table
      id="paper_type-list"
      ref="table"
      v-bind="$props"
      :create-form-component="EditForm"
      :edit-form-component="EditForm"
      :show-columns="showColumns"
      v-on="$listeners"
    ></translation-fields-table>
  </app-card>
</template>

<script>
  import EditForm from './forms/EditForm'

  export default {
    name: 'PaperTypeList',
    props: ['apiPath'],
    data() {
      return {
        EditForm,
        showColumns: [{name: 'name'}, {name: 'enabled'}, {name: 'order'}],
      }
    },

    mounted() {
      this.$root.$emit('title-replace', 'Типы бумаги')
    },
  }
</script>
