<template>
  <app-card>
    <base-table
      id="account-list"
      ref="table"
      v-bind="$props"
      :create-form-component="AccountCreateForm"
      :edit-form-component="AccountEditForm"
      :extra-row-actions="extraRowActions"
      :default-row-actions="defaultRowActions"
      :extra-fields="['organization_permission']"
      :show-columns="showColumns"
      v-on="$listeners"
    >
      <template #cell-email="props">
        <router-link :to="`/${props.row.pk}/`">
          {{ props.value || '—' }}
        </router-link>
      </template>
    </base-table>
  </app-card>
</template>

<script>
  import AccountEditForm from './forms/AccountEditForm'
  import AccountCreateForm from './forms/AccountCreateForm'
  import ChangePasswordForm from './forms/ChangePasswordForm'

  export default {
    name: 'AccountList',
    props: ['apiPath'],
    data() {
      return {
        ChangePasswordForm,
        AccountEditForm,
        AccountCreateForm,
        showColumns: [
          {name: 'organization'},
          {name: 'first_name'},
          {name: 'last_name'},
          {name: 'patronymic'},
          {name: 'email'},
          {name: 'email_is_confirmed'},
          {name: 'last_login'},
          {name: 'is_active'},
          {name: 'groups'},
        ],
        defaultRowActions: [
          {
            name: 'edit',
            title: 'Редактирование',
            icon: 'fa-pencil-alt',
            text: 'Изменить',
            permission: 'update',
            mode: 'edit',
          },
          {
            name: 'delete',
            title: 'Удалить',
            icon: 'fa-trash-alt',
            text: 'Удалить',
            permission: 'destroy',
            mode: 'edit',
            checker: row => {
              return !row.organization_permission
            },
          },
        ],
        extraRowActions: [
          {
            name: 'impersonate',
            title: 'Подменить',
            text: 'Подменить',
            icon: 'fa-user-secret',
            action: this.impersonate,
            checker: row => {
              return row.pk !== this.$store.getters.projectData.userId
            },
          },
          {
            name: 'change_passwd',
            title: 'Изменить пароль',
            text: 'Изменить пароль',
            icon: 'fa-key',
            action: this.change_passwd,
          },
        ],
      }
    },

    mounted() {
      this.$root.$emit('title-replace', 'Реестр пользователей')
    },

    methods: {
      async impersonate(row, table) {
        try {
          await this.$ajax.post(`/api/impersonate/${row.pk}/`)
        } catch (err) {
          this.$notifyError('Ошибка', err)
          return
        }
        window.location = this.$store.getters.projectData.dashboardPath
      },
      change_passwd(row, table) {
        const promise = this.$modalForm({
          title: 'Изменение пароля',
          formComponent: this.ChangePasswordForm,
          formPath: `${this.apiPath}${row.pk}/change_passwd/`,
          btnText: 'Изменить',
        })
        promise.then(
          selected => {
            table.load()
          },
          () => {},
        )
      },
    },
  }
</script>
