<template lang="pug">
  account-edit-form(
    ref="form"
    :api-path="apiPath"
    :hide-after-submit="false"
    submit-btn-text="Сохранить"
    :to-after-save="{name: 'account-view'}"
  )
</template>

<script>
  import AccountEditForm from './forms/AccountEditForm'

  export default {
    name: 'AccountEdit',
    components: {AccountEditForm},
    props: ['id', 'apiPath'],
    provide() {
      return {
        $modal: this,
      }
    },
  }
</script>
