<template>
  <translation-fields-form
    help-id="organization-edit-form"
    help-title="Форма редактирования организации"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    v-on="$listeners"
  ></translation-fields-form>
</template>

<script>
  export default {
    name: 'OrganizationEditForm',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [{name: 'short_name'}, {name: 'full_name'}, {name: 'address'}, {name: 'logo'}, {name: 'admin'}],
      }
    },
  }
</script>
