{% extends 'layout.html' %}
{% load static %}

{% block body_class %}app header-fixed sidebar-minimized aside-menu-fixed aside-menu-hidden pace-done disable-animation{% endblock %}

{% block body %}
  <div class="app-body">
    {% include "private/includes/left_sidebar.html" %}
    {% include 'private/includes/header.html' %}

    <v-content>
      <v-container fluid style="margin-bottom: 40px">
        {% block content %}
        {% endblock content %}
        {% include "private/includes/footer.html" %}
      </v-container>
    </v-content>
  </div>
{% endblock body %}

{% block basescript %}
  {{ block.super }}
  <script src="{% static 'frontend/entries/private.js' %}"></script>
{% endblock %}
