<template>
  <div>
    <app-card elevation="0" title="Настройки приложения" class="mt-3">
      <base-form
        :api-path="apiPath"
        :show-fields="showFields"
        :show-cancel-btn="false"
        :hide-after-save="false"
        submit-btn-text="Сохранить"
        v-bind="$attrs"
        v-on="$listeners"
      ></base-form>
    </app-card>

    <app-card elevation="0" title="Настройки обновления (ios)" class="mt-3">
      <translation-fields-form
        :api-path="mobileApiPath"
        :show-fields="iosShowFields"
        :show-cancel-btn="false"
        :hide-after-save="false"
        submit-btn-text="Сохранить"
        v-bind="$attrs"
        v-on="$listeners"
      ></translation-fields-form>
    </app-card>

    <app-card elevation="0" title="Настройки обновления (android)" class="mt-3">
      <translation-fields-form
        :api-path="mobileApiPath"
        :show-fields="androidShowFields"
        :show-cancel-btn="false"
        :hide-after-save="false"
        submit-btn-text="Сохранить"
        v-bind="$attrs"
        v-on="$listeners"
      ></translation-fields-form>
    </app-card>
  </div>
</template>

<script>
  export default {
    name: 'MobileConfigPage',
    props: ['apiPath', 'mobileApiPath'],
    data() {
      return {
        showFields: [
          {name: 'about_link'},
          {name: 'personal_data_policy_link'},
          {name: 'privacy_policy_link'},
          {name: 'refund_policy_link'},
        ],
        iosShowFields: [
          {name: 'ios_show_blocking_modal'},
          {name: 'ios_blocking_modal_text'},
          {name: 'ios_blocking_modal_button_text'},
          {name: 'ios_blocking_modal_target_version'},
        ],
        androidShowFields: [
          {name: 'android_show_blocking_modal'},
          {name: 'android_blocking_modal_text'},
          {name: 'android_blocking_modal_button_text'},
          {name: 'android_blocking_modal_target_version'},
        ],
      }
    },
  }
</script>
