{% extends 'email/base.html' %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
  {% autoescape off %}
    <p>
      Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте
      {{ site_url }}, которая связана с этим адресом электронной почты.
    </p>
    <p>
      {% with site_url|add:"/#/password/reset/confirm/"|add:uid|add:"/"|add:token|add:"/" as link %}
        Пожалуйста, перейдите на эту <a href="{{ link }}">страницу</a> и введите новый пароль:<br>
        {% block reset_link %}
          <a href="{{ link }}">{{ link }}</a>
        {% endblock %}
      {% endwith %}
    </p>
    <p>
      Ваше имя пользователя: <b>{{ user.get_username }}</b>
    </p>
  {% endautoescape %}
{% endblock %}
