<template>
  <v-card :elevation="elevation">
    <template v-if="$slots.header">
      <v-toolbar class="app-card-header" color="gray" flat>
        <slot name="header" />
      </v-toolbar>
      <v-divider />
    </template>
    <template v-if="title">
      <v-toolbar class="app-card-header" color="gray" flat>
        <v-toolbar-title>
          <help-tip :title="title" help-id="title" help-title="Заголовок" :title-ellipsis="titleEllipsis" />
        </v-toolbar-title>
      </v-toolbar>
      <v-divider />
    </template>

    <slot name="header-extension" />
    <v-card-text>
      <slot />
    </v-card-text>
    <template v-if="$slots.footer">
      <v-divider />
      <v-toolbar color="gray" flat height="44">
        <slot name="footer" />
      </v-toolbar>
    </template>
  </v-card>
</template>
<script>
  import HelpComponentMixin from 'mixins/help/HelpComponentMixin'

  export default {
    name: 'AppCard',
    mixins: [HelpComponentMixin],
    props: {
      flat: {
        type: Boolean,
        default: false,
      },
      title: {
        type: String,
        required: false,
      },
      elevation: {
        type: String,
        required: false,
        default: '10',
      },
      titleEllipsis: {
        type: Boolean,
        default: false,
      },
      helpTitle: {
        type: String,
        default() {
          return this.$options.propsData.title ? `Карточка "${this.$options.propsData.title}"` : null
        },
      },
      helpIsLeafOnly: {
        type: Boolean,
        default: true,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .bordered {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .v-card {
    -webkit-box-shadow: 0 0 32px 0 rgba(67, 84, 110, 0.2);
    -moz-box-shadow: 0 0 32px 0 rgba(67, 84, 110, 0.2);
    box-shadow: 0 0 32px 0 rgba(67, 84, 110, 0.2);
  }

  .v-card /deep/ .v-toolbar__content {
    height: auto !important;
    min-height: 44px;
    padding: 7px 16px !important;

    .v-toolbar__title {
      white-space: normal;
      font-size: 14px;

      .v-menu {
        vertical-align: unset;
      }
    }
  }
</style>
