<template lang="pug">
  v-draggable.app-dashboard(handle=".app-card-header")
    slot
</template>

<script>
  export default {
    name: 'AppDashboard',
  }
</script>
<style lang="scss" scoped>
  /deep/ {
    canvas {
      display: block;
    }

    .v-card {
      margin-bottom: 30px;
    }
  }

  @supports (display: grid) {
    .app-dashboard {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      grid-auto-rows: minmax(355px, max-content);
    }

    /deep/ {
      .v-card {
        margin-bottom: 0;
      }

      .row-2 {
        grid-row-end: span 2;
      }

      .row-3 {
        grid-row-end: span 3;
      }

      .col-2 {
        grid-column-end: span 2;
      }

      .col-3 {
        grid-column-end: span 3;
      }

      .full-row {
        grid-column: 1 / -1;
      }
    }
  }
</style>
