<template lang="pug">
  div
    loader-overlay(:value="value.isLoading")
    loading-alert(v-if="value.loadingAlert" @refresh="value.load" :can-refresh="canRefresh" :type="value.loadingAlertType" v-html="value.loadingAlert")
</template>

<script>
  export default {
    name: 'AppLoader',
    props: {
      value: {
        required: true,
      },
      canRefresh: {
        type: Boolean,
        default: true,
      },
    },
  }
</script>
