<template lang="pug">
  v-dialog(
    :persistent="true"
    :max-width="maxWidth"
    v-model="value"
    scrollable
    v-on:update:returnValue="close"
  )
    v-card
      v-card-title.py-1.pr-1
        v-layout
          h3.align-center.d-flex
            help-tip(:title="title" help-id="title" help-title="Заголовок")
          v-spacer
          v-btn.close-btn(icon @click="$emit('input', false)" :disabled="disabledCloseBtn")
            v-icon close
      v-divider
      v-card-text.min-height-container
        slot
      template(v-if="!!$slots.buttons")
        v-divider
        v-card-actions.py-2
          v-layout.mx-0(justify-end)
            slot(name="buttons")
</template>

<script>
  import HelpTip from './help/HelpTip'

  export default {
    name: 'AppModal',
    components: {HelpTip},
    props: {
      maxWidth: {
        type: String,
        default: '1000px',
      },
      title: {
        type: String,
        required: true,
      },
      value: {
        type: Boolean,
        required: true,
      },
      disabledCloseBtn: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    computed: {},
    methods: {
      close() {
        setTimeout(() => {
          this.$emit('hidden')
        }, 500)
      },
    },
  }
</script>
<style scoped>
  .close-btn {
    min-width: 36px;
    min-height: 36px;
  }

  /deep/ .v-card__actions .v-btn__content {
    min-width: 50px;
  }

  /deep/ .card__actions > *,
  /deep/ .card__actions .v-btn {
    margin: 0 0 0 8px;
  }
</style>
