<template lang="pug">
  v-snackbar(
    auto-height multi-line top right
    ref="snackbar"
    :style="{top: top + 'px', zIndex: 1000 + count - index}"
    v-model="snackbar"
    :color="level"
    :timeout="timeout")
    v-progress-linear(color="white" height="2" :value="countdown" ref="progress")
    div.message.vb-left(v-bar)
      div(v-html="message" ref="message")
    v-flex.text-xs-right.text-no-wrap(align-self-start)
      v-btn(
        v-if="action"
        flat
        @click="(snackbar = false, action.onClick())")
        v-icon.mr-2(small v-if="action.icon") {{action.icon}}
        span {{ action.title }}
      v-btn(
        flat
        icon
        @click="onClickBtn")
        v-icon(small v-if="stopped") fa-times
        v-icon(small v-else) fa-pause
</template>
<script>
  const openNotifies = []
  export default {
    props: {
      message: {},
      action: {},
      level: {
        default: 'info',
      },
      timeout: {
        default: 3000,
      },
    },
    data() {
      return {
        stopped: false,
        snackbar: true,
        localTimeout: this.timeout,
        openNotifies,
        countdown: 100,
      }
    },
    computed: {
      visibleNotifies() {
        return _.filter(this.openNotifies, {snackbar: true})
      },
      count() {
        return this.visibleNotifies.length
      },
      index() {
        return _.findIndex(this.visibleNotifies, {_uid: this._uid})
      },
      top() {
        let top = 0
        for (const n of this.visibleNotifies.slice(-3)) {
          if (n._uid === this._uid) return top
          top = top + n.$el.offsetHeight + 15
        }
        if (this.$el) return -this.$el.offsetHeight - 30

        return top
      },
    },
    watch: {
      snackbar(newVal) {
        if (!newVal) {
          this.$refs.message.className = ''
          this.$refs.message.style.cssText = ''
          this.$refs.message.parentNode.className = 'message'
          this.$refs.message.parentNode.style.className = ''
          this.$emit('close')
        }
      },
    },
    mounted() {
      this.openNotifies.push(this)
      this.setProgressCountdown()
    },
    destroyed() {
      const index = _.findIndex(openNotifies, {_uid: this._uid})
      this.openNotifies = this.openNotifies.splice(index, 1)
    },
    methods: {
      onClickBtn() {
        if (this.stopped) {
          // закрытие
          this.snackbar = false
          return
        }
        // на первое нажатие стоп
        window.clearTimeout(this.$refs.snackbar.activeTimeout)
        this.$refs.progress.$refs.front.style.transitionDuration = '0ms'
        this.countdown = 100
        this.stopped = true
      },

      setProgressCountdown() {
        this.$refs.progress.$refs.front.style.transitionDuration = this.timeout + 'ms'
        this.countdown = 0
      },
    },
  }
</script>
<style lang="scss" scoped>
  .v-snack {
    top: 500px;
    transition: all 0.5s;
  }

  .message {
    max-height: 200px;
    overflow-y: auto;
  }

  /deep/ .v-snack__wrapper {
    position: relative;
  }

  /deep/ .v-progress-linear {
    position: absolute;
    top: 0;
    left: 2px;
    right: 2px;
    width: auto;
    margin: 2px 0;
  }

  /deep/ .v-progress-linear__bar__determinate {
    transition-timing-function: linear;
  }

  /deep/ .v-snack__content {
    padding: 10px 15px;

    .v-btn {
      margin-left: 0;
      min-width: 28px;
    }
  }
</style>
