<template lang="pug">
  ul.v-pagination(v-if="length > 1")
    li
      v-btn(small depressed icon :disabled="value === 1" @click="$emit('input', value - 1)")
        v-icon chevron_left
    li(v-for="item in items" :key="item.value")
      v-btn(
      small depressed icon
      :color="value === item.value?'accent':''"
      @click="$emit('input', item.value)"
      :class="{sm: +item.label > 999, xs: +item.label > 9999 }"
      ) {{ item.label }}
    li
      v-btn(small depressed icon :disabled="value === length" @click="$emit('input', value + 1)")
        v-icon chevron_right
</template>

<script>
  export default {
    name: 'AppPagination',
    props: {
      length: {
        type: Number,
        required: true,
      },
      value: {
        type: Number,
        required: true,
      },
    },
    data() {
      return {
        totalVisible: 7,
      }
    },
    computed: {
      items() {
        const items = []

        if (this.length <= this.totalVisible) {
          for (let i = 1; i <= this.length; i++) {
            items.push(this.getItem(i))
          }
          return items
        }

        const half = Math.floor(this.totalVisible / 2)

        let left = 0
        if (this.value > half + 1) {
          if (this.value > this.length - half) {
            if (this.value === this.length) {
              left = half
            } else {
              left = half - (this.length - this.value - half + 2)
            }
          } else {
            left = 1
          }
        } else {
          if (this.value < half) {
            left = half
          } else {
            left = this.value + 1
          }
        }

        let right = 0
        if (this.value <= half + 1) {
          right = this.length - half - (half - left - 1)
        } else {
          if (this.value >= this.length - half) {
            if (this.value > this.length - half + 1) {
              right = this.length - half + 1
            } else {
              right = this.value - 1
            }
          } else {
            right = this.length
          }
        }

        for (let i = 1; i <= left; i++) {
          items.push(this.getItem(i))
        }

        if (this.value > half + 1 && this.value < this.length - half) {
          const step = half - 2
          items.push(this.getItem(this.getMiddle(this.value, left), true))
          for (let i = this.value - step; i <= this.value + step; i++) {
            items.push(this.getItem(i))
          }
          items.push(this.getItem(this.getMiddle(this.value, right), true))
        } else {
          items.push(this.getItem(this.getMiddle(left, right), true))
        }

        for (let i = right; i <= this.length; i++) {
          items.push(this.getItem(i))
        }

        return items
      },
    },
    methods: {
      getItem(value, more) {
        return {
          label: more ? '...' : value,
          value: value,
        }
      },
      getMiddle(a, b) {
        return Math.floor((a + b) / 2)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .v-btn {
    margin: 0;

    &.sm {
      letter-spacing: -2px;

      /deep/ .v-btn__content {
        margin-left: -2px;
      }
    }

    &.xs {
      letter-spacing: -3px;

      /deep/ .v-btn__content {
        margin-left: -3px;
      }
    }
  }
</style>
