<template>
  <transition name="fade">
    <div v-if="value" class="loader-overlay">
      <v-progress-circular indeterminate color="accent" />
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'LoaderOverlay',
    props: {
      value: Boolean,
    },
  }
</script>

<style scoped lang="scss">
  .loader-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
  }
</style>
