<template lang="pug">
  v-alert.mb-2(:value='true' v-bind="$attrs" outline)
    v-layout(row)
      div.my-2
        slot
      v-spacer
      v-tooltip(top v-if="canRefresh")
        v-btn(slot="activator" icon flat @click="$emit('refresh')")
          v-icon(small) fa-sync-alt
        span Обновить
</template>
<script>
  export default {
    name: 'LoadingAlert',
    props: ['canRefresh'],
  }
</script>
<style scoped lang="scss">
  .theme--light.v-btn {
    color: inherit;
  }
</style>
