<template>
  <transition name="fade" mode="out-in">
    <app-card>
      <router-view />
    </app-card>
  </transition>
</template>

<script>
  export default {
    name: 'TransitionAppcardRouterView',
  }
</script>
