<template lang="pug">
  v-layout.vertical-tabs(row fill-height)
    .tabs-group(:style="tagGroupStyle" ref="group")
      v-tabs(v-model="selectTab")
        slot(name="tabs")
    .tab-items-group
      v-tabs-items(v-model="selectTab")
        slot(name="tab-items")
</template>

<script>
  export default {
    name: 'VerticalTabs',
    data() {
      return {
        selectTab: null,
        tagGroupStyle: {},
      }
    },
    watch: {
      selectTab() {
        setTimeout(() => window.dispatchEvent(new Event('resize')))
      },
    },
    mounted() {
      // переворачиваем ширину и высоту
      this.tagGroupStyle = {
        width: this.$refs.group.clientHeight + 'px',
        minHeight: 50 * this.$refs.group.getElementsByClassName('v-tabs__div').length + 'px',
      }
    },
  }
</script>

<style scoped lang="scss">
  .tabs-group {
    flex: 0 0 201px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
  }

  .tab-items-group {
    padding: 8px 20px;
    flex: 1;
    overflow-y: auto;
  }

  .v-tabs {
    transform: rotate(90deg);
    transform-origin: 100px 100px;
    height: 200px;
  }

  .v-tabs /deep/ {
    .v-tabs__container {
      .v-tabs__slider-wrapper {
        top: 0;
        width: 50px !important;
      }

      height: 200px;
    }

    .v-tabs__div {
      width: 50px;
      height: 200px;
      display: inline-block;
    }

    .v-tabs__item {
      transform: rotate(-90deg);
      transform-origin: 100px 100px;
      width: 200px;
      height: 48px;
      display: block;
      text-align: left;
      line-height: 36px;
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>
