<template>
  <div>
    <app-card elevation="0" title="Настройки" class="mt-3">
      <base-form
        :api-path="apiPath"
        :show-fields="showFields"
        :show-cancel-btn="false"
        :hide-after-save="false"
        submit-btn-text="Сохранить"
        v-bind="$attrs"
        v-on="$listeners"
      ></base-form>
    </app-card>
    <app-card elevation="0" title="Типы оплаты" class="mt-3">
      <translation-fields-table
        id="payment_type-table"
        ref="table"
        :api-path="paymentTypeApiPath"
        v-bind="$props"
        :show-columns="paymentTypeShowColumns"
        :create-form-component="PaymentTypeForm"
        :edit-form-component="PaymentTypeForm"
        v-on="$listeners"
      ></translation-fields-table>
    </app-card>

    <app-card elevation="0" title="Настройка почты (только SSL)" class="mt-3">
      <base-form
        :api-path="smtpApiPath"
        :show-fields="emailSettingShowFields"
        :show-cancel-btn="false"
        :hide-after-save="false"
        submit-btn-text="Сохранить"
      />
    </app-card>
  </div>
</template>

<script>
  import PaymentTypeForm from './forms/PaymentTypeForm'

  export default {
    name: 'ConfigPage',
    props: ['apiPath', 'paymentTypeApiPath', 'smtpApiPath'],
    data() {
      return {
        PaymentTypeForm,
        showFields: [
          {name: 'languages'},
          {name: 'currency'},
          {name: 'export_key'},
          {name: 'lead_time', type: 'textarea'},
        ],
        paymentTypeShowColumns: [
          {name: 'name'},
          {name: 'address'},
          {name: 'phone_list'},
          {name: 'email'},
          {name: 'working_hours'},
        ],
        emailSettingShowFields: [
          {name: 'smtp_host'},
          {name: 'smtp_port'},
          {name: 'smtp_user'},
          {name: 'smtp_passwd_source', type: 'password'},
        ],
      }
    },
  }
</script>
