<template>
  <translation-fields-read-form
    ref="form"
    :api-path="apiPath"
    :show-fields="showFields"
    :to-edit="{name: 'category-edit'}"
  >
    <template slot="field-icon" slot-scope="props">
      <img :src="props.model[props.field.name].path" style="width: 100px;" />
    </template>
    <template slot="field-photos" slot-scope="props">
      <div v-if="props.model[props.field.name].length">
        <img v-for="photo in props.model[props.field.name]" :key="photo.pk" :src="photo.path" style="width: 100px;" />
      </div>
      <div v-else>---</div>
    </template>
    <template slot="field-enabled" slot-scope="props">
      <BooleanIcon :value="props.model[props.field.name]"></BooleanIcon>
    </template>
  </translation-fields-read-form>
</template>

<script>
  export default {
    name: 'CategoryView',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'name'},
          {name: 'icon'},
          {name: 'photos'},
          {name: 'description'},
          {name: 'display_option'},
          {name: 'enabled'},
        ],
      }
    },
  }
</script>
