<template>
  <translation-fields-table
    id="format-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    create-form-title="Добавление формата"
    :create-form-component="FormatForm"
    edit-form-title="Редактирование формата"
    :edit-form-component="FormatForm"
    delete-confirm-title="Удаление формата"
    delete-confirm-text="Вы действительно хотите удалить формат?"
    v-on="$listeners"
  ></translation-fields-table>
</template>

<script>
  import FormatForm from './forms/Form'

  export default {
    name: 'FormatList',
    props: ['apiPath'],
    data() {
      return {
        FormatForm,
        showColumns: [{name: 'name'}, {name: 'width'}, {name: 'height'}],
      }
    },
  }
</script>
