<template>
  <translation-fields-form
    help-id="edit-form"
    help-title="Форма редактирования скидки"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    v-on="$listeners"
  ></translation-fields-form>
</template>

<script>
  export default {
    name: 'EditForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'min_count'},
          {name: 'max_count'},
          {name: 'discount_value'},
          {name: 'show_packet_cost'},
          {name: 'enabled'},
          {name: 'order'},
        ],
      }
    },
  }
</script>
