<template>
  <div>
    <div v-for="page of pageCount" :key="page" class="text-xs-center">
      <img :src="getPageUrl(page)" :title="getPageOf(page)" class="page-image" />
      <p>{{ getPageOf(page) }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DocxPagePreview',

    props: {
      apiPath: {
        type: String,
        required: true,
      },
      reference: {
        type: String,
        required: true,
      },
      pageCount: {
        type: Number,
        required: true,
      },
    },

    methods: {
      getPageUrl(page) {
        return `${this.apiPath}${this.reference}/${page}`
      },
      getPageOf(page) {
        return `Страница ${page} из ${this.pageCount}`
      },
    },
  }
</script>

<style scoped>
  .page-image {
    border: 1px solid #a9a9a9;
    margin: 0 auto;
  }
</style>
