<template lang="pug">
  v-btn(:title="title" @click="download" depressed falt icon small v-if="apiPath")
    v-icon {{icon}}
</template>

<script>
  export default {
    name: 'GetDocButton',
    props: {
      apiPath: {type: String, required: true},
      fileType: {type: String, default: () => ''},
      customTitle: {type: String},
      downloadForerun: {type: Boolean, default: () => true},
    },

    computed: {
      icon() {
        switch (this.fileType.toLowerCase()) {
          case '.doc':
          case '.docx':
            return 'far fa-file-word'
          case '.xls':
          case '.xlsx':
            return 'far fa-file-excel'
          case '.ppt':
            return 'far fa-file-powerpoint'
          case '.pdf':
            return 'far fa-file-pdf'
          case '.txt':
            return 'far fa-file-alt'
          case '.png':
          case '.jpg':
          case '.jpeg':
          case '.tiff':
          case '.gif':
          case '.bmp':
            return 'far fa-file-image'
          case '.zip':
            return 'far fa-file-archive'
          case '.xml':
            return 'far fa-file-code'
          case '.p7s':
          case '.sig':
            return 'fa-key'
          default:
            return 'far fa-file'
        }
      },
      title() {
        if (this.customTitle) return this.customTitle
        return `Скачать документ ${this.fileType.toUpperCase()}`.trim()
      },
    },

    methods: {
      async download() {
        if (this.downloadForerun) {
          try {
            await this.$ajax.patch(this.apiPath, {})
            await this.$parent.$table?.composer?.load?.()
          } catch {}
        }
        window.location = this.apiPath
      },
    },
  }
</script>
