<template>
  <translation-fields-table
    id="subdivision-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    create-form-title="Добавление фотоцентра"
    :create-form-component="SubdivisionForm"
    edit-form-title="Редактирование фотоцентра"
    :edit-form-component="SubdivisionForm"
    delete-confirm-title="Удаление фотоцентра"
    delete-confirm-text="Вы действительно хотите удалить фотоцентр?"
    v-on="$listeners"
  >
    <template #cell-phone_list="props">
      <p v-for="(v, i) in props.value" :key="i">{{ v }}</p>
    </template>
  </translation-fields-table>
</template>

<script>
  import SubdivisionForm from './forms/Form'

  export default {
    name: 'SubdivisionList',
    props: ['apiPath'],
    data() {
      return {
        SubdivisionForm,
        showColumns: [
          {name: 'name'},
          {name: 'address'},
          {name: 'phone_list'},
          {name: 'email'},
          {name: 'working_hours'},
          {name: 'payment_types'},
          {name: 'enabled'},
        ],
      }
    },
  }
</script>
