<template>
  <v-layout row wrap>

  </v-layout>
</template>

<script>
  export default {
    name: 'OrderPhotoList',
    props: ['apiPath', 'downloadAllPhotoApiPath'],
    data() {
      return {}
    },
    methods: {
      onDelete(photoPk) {
        return this.$deleteConfirm({
          helpId: 'deleteConfirm',
          helpTitle: 'Подтверждение удаления',
          title: 'Удаление',
          confirmationText: 'Удалить?',
          btnText: 'Удалить',
          apiPath: `${this.apiPath}${photoPk}/`,
          afterDelete: () => {
            this.$refs.list.composer.load()
          },
        }).catch(err => {
          if (err.message !== 'canceled') {
            this.$notifyError('Ошибка во время удаления', err)
          }
        })
      },
    },
  }
</script>

<style lang="scss"></style>
