<template>
  <div>
    <label>{{ field.label }}</label>
    <v-checkbox
      v-for="(value, key) in field.choices"
      :key="key"
      v-model="model[field.name]"
      v-validate="field.validator"
      :name="name"
      :disabled="field.read_only"
      :required="field.required"
      :box="field.disabled"
      :value="value[0]"
      :label="value[1]"
    />
  </div>
</template>

<script>
  import FieldMixin from './FieldMixin'

  export default {
    name: 'CheckboxMultipleField',
    mixins: [FieldMixin],
  }
</script>
