<template>
  <v-checkbox
    v-model="model[field.name]"
    v-validate="field.validator"
    :name="name"
    :readonly="field.read_only && !field.disabled"
    :disabled="field.disabled"
    :required="field.required"
    :box="field.disabled"
    :error-messages="$veeErrors.collect(name)"
    :label="field.label"
    :persistent-hint="true"
    :hint="field.help_text"
  />
</template>

<script>
  import FieldMixin from './FieldMixin'

  export default {
    name: 'CheckboxField',
    mixins: [FieldMixin],
  }
</script>
