<template>
  <date-picker
    v-model="model[field.name]"
    v-validate="field.validator"
    :required="field.required"
    :name="name"
    :use-work-calendar="useWorkCalendar"
    :readonly="field.read_only && !field.disabled"
    :disabled="field.disabled"
    :box="field.disabled"
    :label="field.label"
    :error-messages="$veeErrors.collect(name)"
    :messages="field.messages || []"
  />
</template>

<script>
  import DatePicker from 'components/widgets/DatePicker'
  import FieldMixin from './FieldMixin'
  import UseWorkCalendarMixin from './UseWorkCalendarMixin'

  export default {
    name: 'DateField',
    components: {DatePicker},
    mixins: [FieldMixin, UseWorkCalendarMixin],
    props: {
      format: {
        type: String,
        default: 'DD.MM.YYYY',
      },
    },
  }
</script>
