<template>
  <FiasAddress
    v-model="model[field.name]"
    v-validate="field.validator"
    :api-key="apiKey"
    :api-root="apiRootUrl"
    :box="field.disabled"
    :clearable="!(field.required || field.read_only || field.disabled || field.allow_blank === false)"
    :disabled="field.disabled"
    :error-messages="$veeErrors.collect(name)"
    :label="field.label"
    :name="name"
    :readonly="field.read_only && !field.disabled"
    :required="field.required"
  />
</template>

<script>
  import FieldMixin from './FieldMixin'
  import FiasAddress from 'components/widgets/FiasAddress'

  export default {
    name: 'FiasAddressField',
    components: {FiasAddress},
    mixins: [FieldMixin],
    computed: {
      apiRootUrl() {
        return this.$store.getters.projectData.FIAS_API_URL
      },
      apiKey() {
        return this.$store.getters.projectData.FIAS_API_KEY
      },
    },
  }
</script>
