<template>
  <file-input
    v-model="model[field.name]"
    v-validate="field.validator"
    :accept="field.accept"
    :box="field.disabled"
    :disabled="field.disabled"
    :error-messages="$veeErrors.collect(name)"
    :label="field.label"
    :messages="field.messages || []"
    :name="name"
    :readonly="field.read_only && !field.disabled"
    :required="field.required"
  />
</template>

<script>
  import FileInput from 'components/widgets/FileInput'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'FileField',
    components: {FileInput},
    mixins: [FieldMixin],
  }
</script>
