<template lang="pug">
  v-layout(row wrap)
    v-flex(xs12 lg6)
      v-textarea(
        v-model="model[field.name]"
        v-validate="field.validator"
        :name="name"
        :label="field.label"
        :readonly="field.read_only && !field.disabled"
        :disabled="field.disabled"
        :box="field.disabled"
        :required="field.required"
        :rows="field.rows || 3"
        :error-messages="$veeErrors.collect(name)")
    v-flex(xs12 lg6)
      v-expansion-panel(inset)
        v-expansion-panel-content
          template(slot="header") Теги
          v-card
            v-card-text.grey.lighten-3
              v-treeview.tags(:items="tagsTreeData")
                template(slot="append" slot-scope="props")
                  span.desc ({{props.item.desc}})
        v-expansion-panel-content
          template(slot="header") Операции
          v-card
            v-card-text.grey.lighten-3
              template(v-for="operation in operations")
                v-tooltip(bottom)
                  template(slot="activator")
                    v-btn(small) {{operation.code}}
                  span {{operation.desc}}

</template>

<script>
  import FieldMixin from './FieldMixin'

  export default {
    name: 'FormulaField',
    mixins: [FieldMixin],
    data() {
      return {
        operations: [
          {code: '+', desc: 'a + b'},
          {code: '-', desc: 'a - b'},
          {code: '/', desc: 'a / b'},
          {code: '*', desc: 'a * b'},
          {code: '-a', desc: '-a'},
          {code: 'ДОЛЯ', desc: 'ДОЛЯ(50)'},
          {code: '|a|', desc: '|a|'},
        ],
      }
    },

    computed: {
      tagsTreeData() {
        const tree = []

        _.forEach(this.field.available_tags, tag => {
          tree.push({
            name: tag.code,
            desc: tag.descr,
          })
        })

        return tree
      },
    },
  }
</script>

<style lang="scss" scoped>
  .tags {
    .desc {
      padding-left: 5px;
      color: #999;
      font-style: italic;
    }
  }

  .operation {
    padding: 5px;
  }
</style>
