<template>
  <input :id="id" type="hidden" :value="model[field.name]" :name="name" :size="size" :readonly="field.read_only" />
</template>

<script>
  import FieldMixin from './FieldMixin'

  export default {
    name: 'HiddenField',
    mixins: [FieldMixin],
  }
</script>
