<template>
  <v-text-field
    :id="id"
    v-model="model[field.name]"
    v-validate="field.validator"
    :append-icon="appendIcon"
    :box="field.disabled"
    :disabled="field.disabled"
    :error-messages="$veeErrors.collect(name)"
    :hint="field.help_text"
    :label="field.label"
    :messages="field.messages || []"
    :name="name"
    :readonly="field.read_only && !field.disabled"
    :required="field.required"
    :type="inputType"
    persistent-hint
    @click:append="onClickAppendIcon"
  />
</template>

<script>
  import FieldMixin from './FieldMixin'

  export default {
    name: 'InputField',
    mixins: [FieldMixin],
    props: {
      appendIcon: {
        type: String,
        required: false,
        default: '',
      },
    },

    computed: {
      inputType() {
        if (this.field.input_type) {
          return this.field.input_type
        }
        if (this.field.meta && this.field.meta.input_type) {
          return this.field.meta.input_type
        }
        if (this.field.type === 'number') {
          return this.field.type
        }
        return null
      },
    },

    methods: {
      onClickAppendIcon() {
        this.$emit('clickAppendIcon')
      },
    },
  }
</script>
