<template>
  <v-combobox
    :id="id"
    v-model="model[field.name]"
    v-validate="field.validator"
    :name="name"
    :label="field.label"
    :error-messages="$veeErrors.collect(name)"
    :disabled="field.disabled"
    chips
    multiple
  />
</template>

<script>
  import FieldMixin from './FieldMixin'

  export default {
    name: 'ListField',
    mixins: [FieldMixin],
  }
</script>

<style lang="scss" scoped>
  /deep/ .v-chip__content {
    white-space: normal;
    height: auto;
    border-radius: 6px;
    padding: 6px 14px;
  }
</style>
