<template>
  <v-autocomplete
    v-validate="field.validator"
    multiple
    :clearable="!(field.required || field.read_only || field.disabled || field.allow_blank === false)"
    :value="model[field.name] || []"
    :label="field.label"
    :name="name"
    :items="items"
    :loading="loading"
    :readonly="field.read_only && !field.disabled"
    :disabled="field.disabled"
    :box="field.disabled"
    :required="field.required"
    no-data-text="Нет данных"
    menu-props="{maxHeight:'400px'}"
    :error-messages="$veeErrors.collect(name)"
    @input="value => (model[field.name] = value)"
  />
</template>
<script>
  import AsyncSelectMixin from './AsyncSelectMixin'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'SelectMultipleField',
    mixins: [FieldMixin, AsyncSelectMixin],
  }
</script>
