<template lang="pug">
  div
    label.v-label.v-label--active.theme--light {{field.label}}
    chunk-uploader(
    :single="false"
    :accept="field.accept"
    v-model="model[field.name]"
    :name="name"
    v-validate="field.validator"
    :error-messages="$veeErrors.collect(name)")
    input(
    type="hidden"
    :value="model[field.name]"
    :id="id")
</template>

<script>
  import ChunkUploader from 'components/widgets/ChunkUploader'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'MultiChunkUploadField',
    components: {ChunkUploader},
    mixins: [FieldMixin],
  }
</script>

<style lang="scss" scoped>
  .v-label {
    font-size: 14px;
  }
</style>
