<template>
  <vue-password
    v-model="model[field.name]"
    v-validate="field.validator"
    :name="name"
    :label="field.label"
    :readonly="field.read_only && !field.disabled"
    :disabled="field.disabled"
    :box="field.disabled"
    :required="field.required"
    :class="{'is-invalid': $veeErrors.has(name)}"
    :error-messages="$veeErrors.collect(name)"
  />
</template>

<script>
  import VuePassword from 'components/widgets/VuePassword'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'PasswordField',
    components: {
      VuePassword,
    },
    mixins: [FieldMixin],
  }
</script>
