<template lang="pug">
  v-container.fluid
    v-layout.row
      v-flex.xs-12 {{field.label}}
    v-radio-group(
    row
    ref="input"
    v-model="model[field.name]"
    v-validate="field.validator"
    :mandatory="false"
    :name="name"
    :readonly="field.read_only && !field.disabled"
    :disabled="field.disabled"
    :box="field.disabled"
    :required="field.required"
    :error-messages="$veeErrors.collect(name)")
      v-radio(v-for="item in items" :key="item" :label="items[item]" :value="item")
</template>

<script>
  import AsyncSelectMixin from './AsyncSelectMixin'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'RadioField',
    mixins: [FieldMixin, AsyncSelectMixin],
  }
</script>
