<template>
  <div>
    <v-input
      :id="id"
      v-validate="field.validator"
      class="select-related-field"
      :name="name"
      :value="value"
      :label="field.label"
      :hint="field.help_text"
      persistent-hint
      :required="field.required"
      :error-messages="$veeErrors.collect(name)"
      :messages="field.messages || []"
    >
      <v-layout row fluid wrap>
        <v-flex>
          <InputField
            v-for="(attr, i) in showingFields"
            :key="attr.name + i"
            :field="attr"
            :prefix="field.name + '__'"
            :model="model[field.name] || {}"
            hide-details
          />
        </v-flex>
        <v-flex class="text-sm-right ml-3" shrink>
          <div v-if="value && !field.required" class="mb-1">
            <v-btn flat icon small title="Очистить" @click="clear">
              <v-icon>fa-times</v-icon>
            </v-btn>
          </div>
          <div class="mb-1">
            <v-btn
              flat
              icon
              small
              title="Выбрать"
              :disabled="!enableButtons || (dependOn && (!dependOnValue || isObject(dependOnValue)))"
              @click="oneAtTime(select)"
            >
              <v-icon>fa-bars</v-icon>
            </v-btn>
          </div>
          <div v-if="canDelete" class="mb-1">
            <v-btn
              flat
              icon
              small
              :disabled="!enableButtons"
              :title="deleteConfirmButton"
              @click="oneAtTime(openDeleteConfirm, value)"
            >
              <v-icon>fa-trash-alt</v-icon>
            </v-btn>
          </div>
          <div v-if="canEdit" class="mb-1">
            <v-btn
              flat
              icon
              small
              :disabled="!enableButtons"
              :title="editFormButton"
              @click="oneAtTime(openEditModal, value)"
            >
              <v-icon>fa-pencil-alt</v-icon>
            </v-btn>
          </div>
          <div v-if="canCreate" class="mb-1">
            <v-btn
              flat
              icon
              small
              :disabled="!enableButtons"
              :title="createFormButton"
              @click="oneAtTime(openCreateModal, value)"
            >
              <v-icon>fa-plus</v-icon>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>
    </v-input>
  </div>
</template>

<script>
  import AsyncTableSelectModal from 'components/modal/AsyncTableSelectModal'
  import AsyncSelectMixin from './AsyncSelectMixin'
  import FieldMixin from './FieldMixin'
  import InputField from './InputField'

  export default {
    name: 'SelectRelatedField',
    components: {InputField},
    mixins: [FieldMixin, AsyncSelectMixin],
    data() {
      return {
        displayedValue: '',
        value: this.model[this.field.name]?.pk,
        initial: this.model[this.field.name]?.pk,
        createFormTitle: 'Добавление',
        createFormButton: 'Добавить',
        createFormComponent: this.field.createFormComponent,
        createFormProps: this.field.createFormProps,
        editFormComponent: this.field.editFormComponent || this.field.createFormComponent,
        editFormProps: this.field.editFormProps || this.field.createFormProps,
        editFormTitle: 'Редактирование',
        editFormButton: 'Изменить',
        deleteConfirmTitle: 'Удаление',
        deleteConfirmText: 'Удалить?',
        deleteConfirmButton: 'Удалить',
        edit: this.field.canEdit ?? true,
        delete: this.field.canDelete ?? true,
        enableButtons: true,
        isObject: _.isObject,
      }
    },
    computed: {
      showingFields() {
        return this.field.related.fields.filter(elem => !this.field.hiddenFields?.includes(elem.name))
      },
      apiNormalizedPath() {
        let path = ''
        if (typeof this.field.asyncUrl !== 'undefined' && this.field.asyncUrl(this.model))
          path = this.field.asyncUrl(this.model)
        if (typeof this.field.apiPath !== 'undefined' && this.field.apiPath) path = this.field.apiPath
        return this.normalizePath(path)
      },
      canCreate() {
        let result = false
        if (this.createFormComponent) {
          result = true
        }
        if (result && this.dependOn && !this.dependOnValue) {
          result = false
        }
        if (result && this.checker && !this.checker()) {
          result = false
        }
        return result
      },
      canEdit() {
        return this.canCreate && this.edit && this.value
      },
      canDelete() {
        return this.canCreate && this.delete && this.value && this.value !== this.initial
      },
    },
    watch: {
      dependOnValue(val) {
        if (this.isDepends) {
          this.clear()
        }
      },
    },
    methods: {
      clear() {
        this.value = null
        this.$set(this.model, this.field.name, null)
      },
      loadItems() {
        return null
      },
      async oneAtTime(method, ...args) {
        if (!this.enableButtons) {
          return
        }
        this.enableButtons = false
        try {
          await method(...args)
        } catch (e) {}
        this.enableButtons = true
      },
      select() {
        if (this.dependOn && !this.dependOnValue) {
        } else {
          const promise = this.$modal(AsyncTableSelectModal, {
            title: this.field.label,
            apiPath: this.apiNormalizedPath,
            extraFilters: this.field.extraFilters,
            multipleSelect: false,
            showColumns: this.field.showColumns || this.showingFields,
            extraFields: this.field.hiddenFields,
            initSelected: [this.value],
          })

          return promise.then(
            selected => {
              const data = selected.data && selected.data[0]
              this.$set(this.model, this.field.name, data)
              this.value = data.pk
            },
            () => {},
          )
        }
      },
      normalizePath(path) {
        if (_.isFunction(path)) {
          return path(this.model)
        }
        return path
      },

      openCreateModal() {
        if (this.createFormComponent) {
          const params = {}
          if (this.dependOn && this.dependOnValue) {
            params.dependOn = this.dependOnValue
          }
          const promise = this.$modalForm({
            formPath: this.apiNormalizedPath,
            formComponent: this.createFormComponent,
            formProps: _.isFunction(this.createFormProps) ? this.createFormProps(this.model) : this.createFormProps,
            create: true,
            title: this.createFormTitle,
            btnText: this.createFormButton,
          })
          return promise.then(
            data => {
              this.$set(this.model, this.field.name, data)
              this.value = data.pk
            },
            () => {},
          )
        }
      },
      openEditModal(value) {
        if (this.editFormComponent) {
          const promise = this.$modalForm({
            formPath: this.apiNormalizedPath + value + '/',
            formComponent: this.editFormComponent,
            formProps: _.isFunction(this.editFormProps) ? this.editFormProps(this.model) : this.editFormProps,
            title: this.editFormTitle,
            btnText: this.editFormButton,
          })
          return promise.then(
            data => {
              this.$set(this.model, this.field.name, data)
              this.value = data.pk
            },
            () => {},
          )
        }
      },
      openDeleteConfirm(value) {
        if (this.editFormComponent) {
          return this.$deleteConfirm({
            title: this.deleteConfirmTitle,
            confirmationText: this.deleteConfirmText,
            btnText: this.deleteConfirmButton,
            apiPath: this.apiNormalizedPath + value + '/',
            afterDelete: () => {
              this.value = null
              this.$set(this.model, this.field.name, null)
            },
          })
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .select-related-field /deep/ .v-input__slot {
    display: block;

    .v-text-field__details {
      display: none;
    }
  }
</style>
