<template>
  <v-layout v-show="checkShowField" align-center ma-0>
    <v-autocomplete
      ref="input"
      v-model="model[field.name]"
      v-resize="onClick"
      v-validate="field.validator"
      :box="field.disabled"
      :clearable="!(field.required || field.read_only || field.disabled || field.allow_blank === false)"
      :disabled="field.disabled"
      :error-messages="$veeErrors.collect(name)"
      :items="items"
      :label="field.label"
      :loading="loading"
      :menu-props="{maxHeight: '400px', maxWidth: maxWidth}"
      :name="name"
      :readonly="field.read_only && !field.disabled"
      :required="field.required"
      no-data-text="Нет данных"
    />
    <v-btn v-if="canDelete" flat icon @click="openDeleteConfirm(model[field.name])">
      <v-icon small>
        fa-trash-alt
      </v-icon>
    </v-btn>
    <v-btn v-if="canEdit" flat icon @click="openEditModal(model[field.name])">
      <v-icon small>
        fa-pencil-alt
      </v-icon>
    </v-btn>
    <v-btn v-if="canCreate" flat icon @click="openCreateModal">
      <v-icon small>
        fa-plus
      </v-icon>
    </v-btn>
  </v-layout>
</template>

<script>
  import AsyncSelectMixin from './AsyncSelectMixin'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'SelectField',
    mixins: [FieldMixin, AsyncSelectMixin],

    data() {
      return {
        maxWidth: null,
        loading: false,
        loaded: false,
        items: [],
        initial: this.model[this.field.name],

        createApiPath: this.field.createApiPath,
        createReturnField: this.field.createReturnField,
        editFormComponent: this.field.createFormComponent,
        editFormProps: this.field.createFormProps,

        createFormTitle: this.field.createFormTitle || 'Добавление',
        createFormButton: this.field.createFormButton || 'Добавить',
        editFormTitle: this.field.editFormTitle || 'Редактирование',
        editFormButton: this.field.editFormButton || 'Изменить',
        deleteConfirmTitle: this.field.deleteConfirmTitle || 'Удаление',
        deleteConfirmText: this.field.deleteConfirmText || 'Удалить?',
        deleteConfirmButton: this.field.deleteConfirmButton || 'Удалить',
        edit: true,
        delete: true,
      }
    },
    computed: {
      canCreate() {
        let result = false
        if (this.editFormComponent) {
          result = true
        }
        if (result && this.dependOn && !this.dependOnValue) {
          result = false
        }
        if (result && this.checker && !this.checker()) {
          result = false
        }
        return result
      },
      canEdit() {
        return this.canCreate && this.edit && this.model[this.field.name]
      },
      canDelete() {
        return (
          this.canCreate && this.delete && this.model[this.field.name] && this.model[this.field.name] !== this.initial
        )
      },
      autoSelect() {
        return this.items.length === 1 && this.field.required
      },
      checkShowField() {
        return (!this.autoSelect || !this.field.hideIfOne) && this.loaded
      },
    },
    mounted() {
      this.$watch(
        () => this.$refs.input.items,
        newItems => {
          if (this.autoSelect) {
            this.$set(this.model, this.field.name, newItems[0].value)
          }
        },
      )
      this.$watch(
        () => this.$refs.input.menuCanShow,
        () => {
          if (this.$refs.input.menuCanShow && !this.maxWidth) {
            this.maxWidth = this.$refs.input.$el.clientWidth
          }
        },
      )
      this.loaded = true
    },

    methods: {
      normalizePath(path) {
        if (_.isFunction(path)) {
          return path(this.model)
        }
        return path
      },
      openCreateModal() {
        if (this.editFormComponent) {
          const params = {}
          if (this.dependOn && this.dependOnValue) {
            params.dependOn = this.dependOnValue
          }
          const promise = this.$modalForm({
            formPath: this.normalizePath(this.createApiPath),
            formComponent: this.editFormComponent,
            formProps: this.createFormProps,
            create: true,
            title: this.createFormTitle,
            btnText: this.createFormButton,
          })
          promise.then(
            data => {
              const item = {value: data.pk, text: data[this.createReturnField]}
              this.items.push(item)
              this.$set(this.model, this.field.name, data.pk)
            },
            () => {},
          )
        }
      },
      openEditModal(value) {
        if (this.editFormComponent) {
          const promise = this.$modalForm({
            formPath: this.normalizePath(this.createApiPath) + value + '/',
            formComponent: this.editFormComponent,
            formProps: this.editFormProps,
            title: this.editFormTitle,
            btnText: this.editFormButton,
          })
          promise.then(
            data => {
              const item = _.find(this.items, {value})
              if (item) {
                item.text = data[this.createReturnField]
                this.$refs.input.setSearch()
              }
            },
            () => {},
          )
        }
      },
      openDeleteConfirm(value) {
        if (this.editFormComponent) {
          this.$deleteConfirm({
            title: this.deleteConfirmTitle,
            confirmationText: this.deleteConfirmText,
            btnText: this.deleteConfirmButton,
            apiPath: this.normalizePath(this.createApiPath) + value + '/',
            afterDelete: () => {
              this.items.splice(_.findIndex(this.items, {value}), 1)
              this.$set(this.model, this.field.name, null)
            },
          })
        }
      },
      onClick() {
        this.maxWidth = this.$refs.input.$el.clientWidth
      },
    },
  }
</script>
