<template>
  <div>
    <input
      v-show="false"
      :id="id"
      v-model="model[field.name]"
      v-validate="field.validator"
      :name="name"
      :size="size"
      type="text"
    />

    <v-text-field
      :box="field.disabled"
      :disabled="field.disabled || (dependOn && !dependOnValue)"
      :error-messages="$veeErrors.collect(name)"
      :label="field.label"
      :messages="field.messages || []"
      :readonly="true"
      :required="field.required"
      :value="displayedValue"
      append-icon="fa-bars"
      @click.prevent="showModal"
      @click:append="showModal"
    />
  </div>
</template>

<script>
  import AsyncTableSelectModal from 'components/modal/AsyncTableSelectModal'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'TableSelectField',
    mixins: [FieldMixin],
    data() {
      return {
        displayedValue: '',
        multipleSelect: true,
        dependOn: this.field.dependOn,
        isShowModal: false,
      }
    },
    computed: {
      isDepends() {
        return this.dependOn && this.model && Object.prototype.hasOwnProperty.call(this.model, this.dependOn)
      },
      dependOnValue() {
        if (this.isDepends) {
          return this.model[this.dependOn]
        }
        return null
      },
      autoSelect() {
        return this.field.choices.length === 1 && this.field.required
      },
    },
    watch: {
      dependOnValue(val) {
        if (this.isDepends) {
          this.model[this.field.name] = this.multipleSelect ? [] : null
          this.setDisplayedValue()
        }
      },
    },
    mounted() {
      this.multipleSelect = _.has(this.field, 'multipleSelect') ? this.field.multipleSelect : true
      if (this.autoSelect) {
        const singleValue = this.field.choices[0][0]
        this.model[this.field.name] = this.multipleSelect ? [singleValue] : singleValue
      }
      this.setDisplayedValue()
    },
    methods: {
      normalizePath(path) {
        if (_.isFunction(path)) {
          return path(this.model)
        }
        return path
      },

      showModal() {
        if (this.isShowModal) {
          return
        }
        if (this.dependOn && !this.dependOnValue) {
        } else {
          this.isShowModal = true
          const promise = this.$modal(AsyncTableSelectModal, {
            tableComponent: this.field.tableComponent,
            title: this.field.modalTitle,
            apiPath: this.normalizePath(this.field.apiPath),
            multipleSelect: this.multipleSelect,
            showColumns: this.field.showColumns,
            formComponent: this.field.formComponent,
            extraFilters: this.field.extraFilters,
            groupBy: this.field.groupBy,
            initSelected: this.multipleSelect ? this.model[this.field.name] : [this.model[this.field.name]],
          })

          promise
            .then(selected => {
              this.model[this.field.name] = this.multipleSelect
                ? selected.values
                : selected.values && selected.values[0]
              this.field.choices = selected.choices
              this.setDisplayedValue()
            })
            .catch(() => {})
            .then(() => {
              this.isShowModal = false
            })
        }
      },
      setDisplayedValue() {
        const choicesMap = _.fromPairs(this.field.choices)
        if (this.multipleSelect) {
          const values = this.model[this.field.name]
          this.displayedValue = _.map(values, v => choicesMap[v]).join(', ')
        } else {
          const value = this.model[this.field.name]
          this.displayedValue = choicesMap[value]
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .table-select-field .text {
    padding: 0.375rem 0 0.375rem 0.75rem;
  }

  .v-btn-link {
    position: relative;

    &::before {
      content: '';
      border-left: 1px solid #d0d0d0;
      top: 4px;
      bottom: 4px;
      left: 0;
      position: absolute;
    }
  }
</style>
