<template>
  <v-textarea
    v-model="model[field.name]"
    v-validate="field.validator"
    :name="name"
    :label="field.label"
    :readonly="field.read_only && !field.disabled"
    :disabled="field.disabled"
    :box="field.disabled"
    :required="field.required"
    :rows="field.rows || 3"
    :hint="field.help_text"
    :error-messages="$veeErrors.collect(name)"
  />
</template>

<script>
  import FieldMixin from './FieldMixin'

  export default {
    name: 'TextareaField',
    mixins: [FieldMixin],
  }
</script>
