<template>
  <time-picker
    v-model="model[field.name]"
    v-validate="field.validator"
    :required="field.required"
    :name="name"
    :readonly="field.read_only && !field.disabled"
    :disabled="field.disabled"
    :box="field.disabled"
    :label="field.label"
    :error-messages="$veeErrors.collect(name)"
    :messages="field.messages || []"
  />
</template>

<script>
  import TimePicker from 'components/widgets/TimePicker'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'TimeField',
    components: {TimePicker},
    mixins: [FieldMixin],
  }
</script>
