<template>
  <div>
    <label>{{ field.label }}</label>
    <RichTextEditor v-model="model[field.name]" />
  </div>
</template>

<script>
  import LazyComponents from 'common/app/LazyComponents'
  import FieldMixin from './FieldMixin'

  export default {
    name: 'TextareaField',
    components: {RichTextEditor: LazyComponents.RichTextEditor},
    mixins: [FieldMixin],
  }
</script>
