<template>
  <div class="min-height-container read-form">
    <app-loader v-if="!hideLoader" :value="this" />
    <template v-if="isLoaded">
      <slot :fields="fields" :fieldsMap="fieldsMap" :model="model" name="fields">
        <template v-if="fieldSets && fieldSets.length">
          <app-card
            v-for="(fieldset, key) in fieldSets"
            :key="key"
            :help-id="'field-set-' + (fieldset.name || fieldset.fields[0])"
            :help-is-leaf-only="true"
            :title="fieldset.title"
            elevation="0"
            class="mb-3"
          >
            <div v-for="(field, i) in fieldset.fields" :key="i" class="field">
              <div class="label">
                {{ fieldsMap[field].label }}
              </div>
              <div class="value">
                <slot
                  :field="fieldsMap[field]"
                  :fieldsMap="fieldsMap"
                  :model="model"
                  :name="`field-${fieldsMap[field].name}`"
                  :value="model[fieldsMap[field].name]"
                >
                  <component
                    :is="fieldsMap[field].component"
                    v-if="fieldsMap[field].component"
                    :field="fieldsMap[field]"
                    :fields-map="fieldsMap"
                    :model="model"
                    v-bind="fieldsMap[field].props"
                    :value="model[fieldsMap[field].name]"
                  />
                  <template v-else>
                    {{ model[fieldsMap[field].name] || '—' }}
                  </template>
                </slot>
              </div>
            </div>
          </app-card>
        </template>
        <template v-else>
          <div v-for="(field, i) in fields" :key="i">
            <slot
              :field="field"
              :fieldsMap="fieldsMap"
              :model="model"
              :name="`fullfield-${field.name}`"
              :value="model[field.name]"
            >
              <div class="field">
                <div class="label">
                  {{ field.label }}
                </div>
                <div class="value">
                  <slot
                    :field="field"
                    :fieldsMap="fieldsMap"
                    :model="model"
                    :name="`field-${field.name}`"
                    :value="model[field.name]"
                  >
                    <component
                      :is="field.component"
                      v-if="field.component"
                      :field="field"
                      v-bind="field.props"
                      :fields-map="fieldsMap"
                      :model="model"
                      :value="model[field.name]"
                    />
                    <template v-else>
                      {{ model[field.name] || '—' }}
                    </template>
                  </slot>
                </div>
              </div>
            </slot>
          </div>
        </template>
      </slot>

      <slot :can-edit="canEdit" :readonly="readonly" name="buttons">
        <div
          v-if="goBack || (editFormComponent && !readonly) || (canEdit && toEdit && !readonly)"
          class="text-sm-right pt-4"
        >
          <v-btn
            v-if="goBack"
            :href="goBack.href"
            :to="goBack.href ? null : goBack"
            color="primary"
            depressed
            outline
            small
          >
            Назад
          </v-btn>
          <v-btn
            v-if="editFormComponent && !readonly"
            :title="editFormTitle"
            color="accent"
            depressed
            small
            @click="onEdit"
          >
            <v-icon v-if="editFormIcon" left small>
              {{ editFormIcon }}
            </v-icon>
            <span v-if="editFormButton">{{ editFormButton }}</span>
          </v-btn>
          <v-btn v-if="toEdit && canEdit && !readonly" :to="toEdit" color="primary" depressed small>
            Редактировать
          </v-btn>
        </div>
      </slot>
    </template>
  </div>
</template>

<script>
  import LoadMixin from 'mixins/LoadMixin'

  export default {
    name: 'BaseReadForm',
    mixins: [LoadMixin],

    provide() {
      return {
        $readForm: this,
      }
    },

    props: {
      apiPath: {
        type: String,
        required: true,
      },
      showFields: {
        type: Array,
        required: false,
      },
      extraFields: {
        type: Array,
        default: () => [],
      },
      fieldsets: {
        type: Array,
        default: () => [],
      },
      editFormComponent: {
        type: Object,
        required: false,
        default: null,
      },
      editFormProps: {
        type: Object,
        required: false,
        default: null,
      },
      editFormIcon: {
        type: String,
        required: false,
        default: 'fa-pencil-alt',
      },
      editFormTitle: {
        type: String,
        required: false,
        default: 'Изменение',
      },
      editFormButton: {
        type: String,
        required: false,
        default: 'Изменить',
      },
      goBack: {
        type: Object,
        required: false,
      },
      toEdit: {
        type: Object,
        required: false,
      },
      readonly: {
        type: Boolean,
        default: () => false,
      },
      hideLoader: {
        type: Boolean,
        default: () => false,
      },
    },

    data() {
      return {
        model: {},
        meta: {},
        fields: [],
        fieldsMap: {},
      }
    },

    computed: {
      canEdit() {
        return this.meta.permissions && (this.meta.permissions.update || this.meta.permissions.write)
      },
      fieldSets() {
        const visibleFields = _.map(this.fields, 'name')
        return _.reduce(
          this.fieldsets,
          (result, fieldset) => {
            const fields = _.intersection(fieldset.fields, visibleFields)
            if (fields.length && (fieldset.visible || (() => true))(this)) {
              const fieldsetResult = _.assign({}, fieldset)
              fieldsetResult.fields = fields
              result.push(fieldsetResult)
            }
            return result
          },
          [],
        )
      },
    },

    watch: {
      apiPath() {
        this.load()
      },
      showFields() {
        this.load()
      },
    },

    methods: {
      load() {
        this.beforeLoad()

        const params = {}
        if (this.showFields && this.showFields.length) {
          params.fields = _.map(this.showFields, 'name')
            .concat(this.extraFields)
            .join(',')
        }
        this.$ajax
          .get(this.apiPath, {params})
          .then(response => {
            this.meta = response.data.meta
            this.model = response.data
            this.updateFieldsLayout()
            this.$emit('change:model', this.model, this)
            this.loaded()
          })
          .catch(error => {
            this.errorOnLoad(error)
          })
      },

      updateFieldsLayout() {
        this.fields = this.getFields(this.meta.fields)
        this.fieldsMap = this.getFieldsMap(this.fields)
        this.normalizeModel()
      },

      getFields(fields) {
        const result = []
        if (!this.showFields || !this.showFields.length) {
          return fields
        }
        const showFields = _.filter(this.showFields, f => (f.visible || (() => true))(f, this))
        for (const showField of showFields) {
          let field = _.find(fields, {name: showField.name})
          if (field) {
            field = {...field, ...showField, meta: {...field.meta, ...showField.meta}}
            result.push(field)
          } else if (showField.label || showField.component) {
            field = {...showField, meta: {...showField.meta}}
            result.push(field)
          }
        }
        return result
      },

      getFieldsMap(fields) {
        return _.reduce(
          fields,
          (result, field) => {
            result[field.name] = field
            return result
          },
          {},
        )
      },

      normalizeModel() {
        _.forEach(this.fields, field => {
          if (field.default && !this.model[field.name]) {
            this.model[field.name] = field.default
          } else {
            let fieldValue = this.model[field.name]
            if (field.choices) {
              const choicesMap = _.fromPairs(field.choices)
              if (_.isArray(fieldValue)) {
                fieldValue = _.map(fieldValue, v => choicesMap[v]).join('; ')
              } else {
                fieldValue = _.get(choicesMap, fieldValue, fieldValue)
              }
            } else if (this.$scopedSlots['field-' + field.name]) {
              // преобразование будет в слоте
            } else if (_.isArray(fieldValue)) {
              fieldValue = fieldValue.join('; ')
            }
            this.model[field.name] = fieldValue
          }
        })
      },

      onEdit() {
        if (this.editFormComponent) {
          const promise = this.$modalForm({
            title: this.editFormTitle,
            formComponent: this.editFormComponent,
            formProps: this.editFormProps,
            formPath: this.apiPath,
            btnText: this.editFormButton,
          })
          promise.then(
            selected => {
              this.load()
            },
            () => {},
          )
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .read-form {
    .field {
      font-size: 13px;
      padding-bottom: 5px;

      .label {
        font-weight: bold;
      }
      .value {
        word-break: break-word;
      }
    }
  }
</style>
