<template lang="pug">
  div.min-height-container
    app-loader(:value="this")
    slot(name='message' :is-saved="isSaved" :message="message" :loading-error="!!loadingAlert")
      p(v-if="message") {{message}}
    v-form(ref="form" v-if="showForm" autocomplete="off" novalidate
    @submit.prevent="onSubmit" @reset.prevent="onReset")
      slot(name="errors")
        transition(name="fade")
          div(v-if="nonFieldErrors.length")
            v-alert.mb-2(:value="true" v-for="(error, i) in nonFieldErrors" :key="i" variant="danger" outline) {{error}}
      slot(name="fields" :fields-map="fieldsMap" :model="model")
        template(v-if="fieldSets && fieldSets.length")
          app-card.mb-3(v-for='fieldset in fieldSets'
            :key="fieldset.name"
            :title="fieldset.title"
            elevation="0"
            :help-id="'field-set-'+(fieldset.name || fieldset.fields[0])"
            :help-is-leaf-only="true")
            template(v-for="field in fieldset.fields")
              slot(:name="`field-${fieldsMap[field].name}`"
                :field="fieldsMap[field]"
                :help-id="fieldsMap[field].name"
                :help-title="fieldsMap[field].label"
                :model="model")
                field-group(
                  :key='fieldsMap[field].name'
                  :field='fieldsMap[field]'
                  :help-id="fieldsMap[field].name"
                  :help-title="fieldsMap[field].label"
                  :model='model')
        template(v-else v-for='(field, i) in fields')
          slot(:name="'field-'+field.name"
            :field='field'
            :model='model'
            :help-id="field.name"
            :help-title="field.label")
            field-group(
              :key="field.name+i"
              :field='field'
              :model='model'
              :help-id="field.name"
              :help-title="field.label")
      slot(name="buttons" :model="model" :isSaving="isSaving" :form="this")
        .text-sm-right.btn-group
          v-btn(v-if="showCancelBtn && showSubmitBtn" :color="cancelbtnColor" depressed small
          @click="onCancel") {{cancelBtnText}}
          v-btn(v-if="showSubmitBtn" depressed small :color="submitbtnColor" :dark="submitBtnDark" :outline="submitBtnOutline"
            type="submit" :loading="isSaving") {{submitBtnText}}
</template>

<script>
  import {concurrentConfirm} from 'common/modal'
  import HelpComponentMixin from 'mixins/help/HelpComponentMixin'
  import LoadSaveMixin from 'mixins/LoadSaveMixin'
  import SaveMixin from 'mixins/SaveMixin'
  import scrollIntoView from 'smooth-scroll-into-view-if-needed'
  import HelpTip from '../help/HelpTip'
  import FieldGroup from './FieldGroup'

  const NON_FIELD_ERRORS = '__all__'

  export default {
    name: 'BaseForm',

    components: {HelpTip, FieldGroup},
    mixins: [LoadSaveMixin, HelpComponentMixin],
    $_veeValidate: {
      validator: 'new',
    },

    provide() {
      return {
        $form: this,
      }
    },

    inject: {
      $modal: {default: null},
    },

    props: {
      id: {
        type: String,
      },
      helpId: {
        type: String,
        default() {
          return this.$options.propsData.id || 'form'
        },
      },
      apiPath: {
        type: String,
        required: true,
      },
      showCancelBtn: {
        type: Boolean,
        required: false,
        default: true,
      },
      showSubmitBtn: {
        type: Boolean,
        required: false,
        default: true,
      },
      hideAfterSave: {
        type: Boolean,
        required: false,
        default: true,
      },
      submitBtnText: {
        type: String,
        required: false,
        default: 'Отправить',
      },
      cancelBtnText: {
        type: String,
        required: false,
        default: 'Отменить',
      },
      submitbtnColor: {
        type: String,
        required: false,
        default: 'success',
      },
      cancelbtnColor: {
        type: String,
        required: false,
        default: 'warning',
      },
      submitBtnDark: {
        type: Boolean,
        required: false,
        default: true,
      },
      submitBtnOutline: {
        type: Boolean,
        required: false,
        default: false,
      },
      toAfterSave: {
        type: Object,
        required: false,
      },
      breadcrumbAttr: {
        type: String,
        required: false,
      },
      create: {
        type: Boolean,
        required: false,
        default: false,
      },
      extraFields: {
        type: Array,
        default: () => {
          return []
        },
      },
      showFields: {
        type: Array,
        required: false,
        default: () => {
          return []
        },
      },
      fieldsets: {
        type: Array,
        required: false,
        default: () => {
          return []
        },
      },
      staticFields: {
        type: Array,
        required: false,
        default: () => {
          return []
        },
      },
      requestParamsGetter: {
        type: Function,
        required: false,
        default: () => {
          return {}
        },
      },
      forceSave: {
        type: Boolean,
        required: false,
        default: false,
      },
    },

    data() {
      return {
        nonFieldErrors: [],
        message: '',
        initModel: {},
        meta: {},
        model: {},
        fields: [],
        fieldsMap: {},
      }
    },

    computed: {
      showForm() {
        if (this.isLoading) {
          return false
        }
        if (this.loadingAlert) {
          return false
        } else {
          return !(this.hideAfterSave && this.isSaved)
        }
      },
      fieldSets() {
        const visibleFields = _.map(this.fields, 'name')
        return _.reduce(
          this.fieldsets,
          (result, fieldset) => {
            const fields = _.intersection(fieldset.fields, visibleFields)
            if (fields.length && (fieldset.visible || (() => true))(this)) {
              const fieldsetResult = _.assign({}, fieldset)
              fieldsetResult.fields = fields
              result.push(fieldsetResult)
            }
            return result
          },
          [],
        )
      },
    },

    watch: {
      apiPath() {
        this.load()
      },
      model: {
        handler() {
          this.$emit('change:model', this.model, this)
        },
        deep: true,
      },
    },
    mounted() {
      if (this.$modal) {
        this.$modal.$on('submit', this.onSubmit)
        this.$modal.$on('cancel', this.onCancel)
      }
      if (this.breadcrumbAttr) {
        this.$watch('model.' + this.breadcrumbAttr, (newVal, oldVal) => {
          if (oldVal) {
            this.$root.$emit('breadcrumb-replace', oldVal, newVal)
          }
        })
      }
    },
    beforeDestroy() {
      if (this.$modal) {
        this.$modal.$off('submit', this.onSubmit)
        this.$modal.$off('cancel', this.onCancel)
      }
    },

    methods: {
      load() {
        this.beforeLoad()
        if (this.staticFields && this.staticFields.length) {
          this.fields = this.getFields(this.staticFields)
          this.fieldsMap = this.getFieldsMap(this.fields)
          this.setInitials()
          this.loaded()
          return
        }

        const params = {}
        if (this.showFields && this.showFields.length) {
          params.fields = _.map(this.showFields, 'name')
            .concat(this.extraFields)
            .join(',')
        }
        if (this.create) {
          params.meta = true
        }
        this.$ajax
          .get(this.apiPath, {params})
          .then(response => {
            this.meta = response.data.meta || {}
            if (!this.create) {
              this.model = response.data || {}
              delete this.model.meta
            } else {
              this.model = {}
            }
            this.updateFieldsLayout()
            this.takeModelSnapshot()
            this.loaded()
          })
          .catch(error => {
            this.errorOnLoad(error)
          })
      },
      updateFieldsLayout() {
        this.fields = this.getFields(this.meta.fields)
        this.fieldsMap = this.getFieldsMap(this.fields)
        this.setInitials()
      },
      getFields(fields) {
        if (this.showFields && this.showFields.length) {
          fields = fields || this.showFields
          const showFields = _.filter(this.showFields, f => (f.visible || (() => true))(f, this))
          const result = []
          for (const showField of showFields) {
            let field = _.find(fields, {name: showField.name})
            if (field) {
              field = _.extend({}, field, showField, {
                meta: _.extend({}, field.meta, showField.meta),
                validator: _.extend({}, this.getFieldValidator(field), showField.validator),
              })
              result.push(field)
            } else {
              field = _.extend({}, showField, {
                meta: _.extend({}, showField.meta),
                validator: _.extend({}, this.getFieldValidator(showField), showField.validator),
              })
              result.push(field)
            }
          }
          return result
        }
        return _.map(
          _.filter(fields, f => !f.read_only),
          f => {
            f.validator = _.extend({}, this.getFieldValidator(f), f.validator)
            return f
          },
        )
      },

      getFieldsMap(fields) {
        return _.reduce(
          fields,
          (result, field) => {
            result[field.name] = field
            return result
          },
          {},
        )
      },

      getFieldValidator(field) {
        const result = {}
        if (field.required) {
          result.required = true
        }
        if (field.max_length) {
          result.max = field.max_length
        }
        if (field.min_length) {
          result.min = field.min_length
        }
        if (field.type === 'email') {
          result.email = true
        }
        if (field.type === 'number') {
          result.decimal = true
          result.min_value = field.min_value === undefined ? -Infinity : field.min_value
          result.max_value = field.max_value === undefined ? Infinity : field.max_value
        }
        if (field.type === 'url') {
          result.url = true
        }
        if (field.validator) {
          return _.extend(result, field.validator)
        }
        return result
      },
      takeModelSnapshot() {
        this.initModel = _.cloneDeep(this.model)
      },
      hasInitials() {
        return _.some(this.model, (v, k) => this.fieldsMap[k] && this.fieldsMap[k].initial === v)
      },
      hasChanges() {
        return !_.isEqual(this.model, this.initModel)
      },

      setInitials() {
        _.forEach(this.fields, field => {
          if (
            field.initial !== undefined &&
            field.initial !== null &&
            (this.model[field.name] === undefined ||
              this.model[field.name] === null ||
              (Array.isArray(this.model[field.name]) && !this.model[field.name].length))
          ) {
            this.$set(this.model, field.name, field.initial)
          }
        })
      },

      fieldData() {
        let data = _.reduce(
          this.fields,
          (result, field) => {
            const key = field.name
            let val = this.model[key]
            if (val === undefined || val === '') {
              val = field.allow_null ? null : ''
            }
            result[key] = val
            return result
          },
          {},
        )
        const extra_data = _.reduce(
          this.extraFields,
          (result, field_name) => {
            let val = this.model[field_name]
            if (!val) {
              val = null
            }
            result[field_name] = val
            return result
          },
          {},
        )
        if (this.model.change_number || this.model.change_number === 0) {
          extra_data.change_number = this.model.change_number
        }
        data = _.defaults(data, extra_data)

        if (data.change_number === '') {
          delete data.change_number
        }
        return data
      },

      saved(result) {
        SaveMixin.methods.saved.apply(this)
        this.$emit('submit-success', {form: this, result})
        if (this.toAfterSave) {
          this.$router.push(this.toAfterSave)
        }
      },
      onCancel() {
        this.$emit('canceled', {form: this})
        if (this.toAfterSave) {
          this.$router.push(this.toAfterSave)
        }
      },
      onSubmit(e, options) {
        this.$validator.validateAll().then(result => {
          if (result) {
            this.beforeSave()
            this.$veeErrors.clear()
            this.nonFieldErrors = []
            if (!(this.forceSave || this.create || this.hasChanges() || this.hasInitials())) {
              // нет изменений эмулируем сохранение
              this.saved(this.model)
              return
            }

            const data = {...this.fieldData(), ...options}
            const method = this.create ? 'post' : 'put'
            const params = this.requestParamsGetter()
            let config = {data, method, params}

            // форма содержит поля с файлами?
            const hasFileFields = _.some(this.fields, e => {
              return e.type === 'file'
            })
            if (hasFileFields) {
              const form = new FormData()
              _.each(data, (value, key) => {
                if (value && typeof value === 'object' && !(value instanceof Date) && !(value instanceof File)) {
                  form.append(key, JSON.stringify(value))
                } else if (_.isArray(value)) {
                  for (const val of value) {
                    form.append(key, val)
                  }
                } else {
                  form.append(key, value)
                }
              })
              const headers = {'Content-Type': 'multipart/form-data'}
              config = {data: form, method, headers, params}
            }

            this.$ajax(this.apiPath, config)
              .then(response => {
                const result = response.data
                this.takeModelSnapshot()
                this.saved(result)
              })
              .catch(error => {
                if (error.response && error.response.status === 409) {
                  this.errorOnSave()
                  concurrentConfirm(
                    error.response.data.detail,
                    _.partial(this.onSubmit, e, {
                      ignore_concurrent_changes: true,
                    }),
                    this.load,
                    this,
                  )
                } else {
                  if (error.response && _.isObject(error.response.data)) {
                    const ErrorBag = this.$veeErrors

                    if (_.has(error.response.data, NON_FIELD_ERRORS)) {
                      this.nonFieldErrors = error.response.data[NON_FIELD_ERRORS]
                    }
                    if (_.has(error.response.data, 'console_error')) {
                      console.error(error.response.data.console_error)
                    }

                    if (_.isObject(error.response.data)) {
                      _.forEach(error.response.data, (error_list, field_name) => {
                        _.forEach(error_list, function(error) {
                          ErrorBag.add({
                            field: field_name,
                            msg: error,
                          })
                        })
                      })
                    }
                  } else if (!error.response || [502, 503, 504].indexOf(error.response?.status) >= 0) {
                    this.nonFieldErrors = ['Отсутствует соединение с сервером. Повторите попытку позже.']
                  } else {
                    this.nonFieldErrors = ['Во время сохранения произошла ошибка. Повторите попытку позже.']
                  }
                  this.scrollToError()
                  this.errorOnSave()
                }
              })
          } else {
            this.scrollToError()
            this.errorOnSave()
          }
        })
      },
      scrollToError() {
        let el = this.$el
        if (this.$validator.errors.items.length) {
          const field = this.$validator.errors.items[0].field
          el = this.$el.querySelector(`[name="${field}"]`) || el
        }
        scrollIntoView(el, {
          behavior: 'smooth',
          boundary: parent => getComputedStyle(parent).position !== 'fixed',
        })
      },
    },
  }
</script>
