<template>
  <component :is="component" :field="field" :model="model" v-bind="field.props" />
</template>

<script>
  import HelpTipMixin from 'mixins/help/HelpTipMixin'
  import HelpComponentMixin from 'mixins/help/HelpComponentMixin'

  import DateField from './fields/DateField'
  import DateTimeField from './fields/DateTimeField'
  import DateMonthField from './fields/DateMonthField'
  import TimeField from './fields/TimeField'
  import InputField from './fields/InputField'
  import HiddenField from './fields/HiddenField'
  import CheckboxField from './fields/CheckboxField'
  import CheckboxMultipleField from './fields/CheckboxMultipleField'
  import TextareaField from './fields/TextareaField'
  import PasswordField from './fields/PasswordField'
  import MultipleSelectField from './fields/MultipleSelectField'
  import TableSelectField from './fields/TableSelectField'
  import FileField from './fields/FileField'
  import SelectField from './fields/SelectField'
  import RadioField from './fields/RadioField'
  import WysiwygField from './fields/WysiwygField'
  import ChunkUploadField from './fields/ChunkUploadField'
  import MultiChunkUploadField from './fields/MultiChunkUploadField'
  import SelectRelatedField from './fields/SelectRelatedField'
  import ListField from './fields/ListField'
  import FormulaField from './fields/FormulaField'
  import FiasAddressField from './fields/FiasAddressField'

  export const COMPONENTS_BY_TYPE = {
    text: InputField,
    input: InputField,
    email: InputField,
    number: InputField,
    url: InputField,
    textarea: TextareaField,
    boolean: CheckboxField,
    date: DateField,
    datetime: DateTimeField,
    month: DateMonthField,
    time: TimeField,
    hidden: HiddenField,
    select: SelectField,
    choice: SelectField,
    radio: RadioField,
    checkbox: CheckboxField,
    'checkbox-multiple': CheckboxMultipleField,
    'select-multiple': MultipleSelectField,
    'table-select': TableSelectField,
    'select-related': SelectRelatedField,
    password: PasswordField,
    file: FileField,
    wysiwyg: WysiwygField,
    chunk_upload: ChunkUploadField,
    multi_chunk_upload: MultiChunkUploadField,
    list: ListField,
    formula: FormulaField,
    'fias-address': FiasAddressField,
  }

  export default {
    name: 'FieldGroup',
    mixins: [HelpComponentMixin, HelpTipMixin],

    props: {
      field: {
        type: Object,
        required: true,
      },
      model: {
        type: Object,
        required: true,
      },
      // Идентификатор компонента в справочной системе
      helpId: {
        type: String,
        default() {
          return this.$options.propsData.field.name || null
        },
      },
      // Заголовок компонента в справочной системе
      helpTitle: {
        type: String,
        default() {
          return this.$options.propsData.field.label || null
        },
      },
    },

    computed: {
      value() {
        return this.model[this.field.name]
      },
      component() {
        return this.field.component ? this.field.component : COMPONENTS_BY_TYPE[this.field.type]
      },
    },
    watch: {
      value(val) {
        if (this.$form) {
          this.$form.$emit('change:model:field', this.field.name, val, this.$form)
        }
      },
    },
  }
</script>
