<template>
  <base-read-form ref="form" :api-path="apiPath" :show-fields="showFields">
    <template slot="field-enabled" slot-scope="props">
      <BooleanIcon :value="props.model[props.field.name]"></BooleanIcon>
    </template>
  </base-read-form>
</template>

<script>
  export default {
    name: 'PhotoFormatView',
    props: ['id', 'apiPath'],
    data() {
      return {
        showFields: [
          {name: 'pk', label: 'Идентификатор'},
          {name: 'client_name'},
          {name: 'state'},
          {name: 'created_at'},
        ],
      }
    },
  }
</script>
