<template>
  <app-card>
    <v-tabs show-arrows>
      <v-tab :to="{name: 'order-view'}">
        Заказ
      </v-tab>
      <v-tab :to="{name: 'photo-list'}">
        Фотографии
      </v-tab>
    </v-tabs>
    <v-divider class="mb-3" />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </app-card>
</template>

<script>
  export default {
    name: 'OrderPage',
    props: ['id', 'apiPath'],
  }
</script>

<style></style>
