<template lang="pug">
  .table-page-jumper(v-if="length > 1")
    span страница:
    v-autocomplete(
      placeholder="Перейти"
      :value="value"
      @change="value => $emit('input', value)"
      :items="items"
      no-data-text="Нет данных"
      hide-details
      :filter="(item, queryText, itemText)=>item == +queryText")
</template>

<script>
  export default {
    name: 'PageJumper',
    props: {
      length: {
        type: Number,
        required: true
      },
      value: {
        type: Number,
        required: true
      }
    },
    computed: {
      items() {
        return _.range(1, this.length + 1)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .table-page-jumper {
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    flex: 0 0 auto;
    align-self: flex-end;

    /deep/ {

      > span {
        white-space: nowrap;
      }

      .v-input__control {
        min-height: 0;
        width: 60px;
      }

      .v-select {
        margin: 0 0 0 10px;
        padding: 0;
        position: static;

        .v-select__selection--comma {
          font-size: 12px;
          padding: 0;
        }
      }
    }

    * {
      font-size: 12px;
    }
  }
</style>
