<template lang="pug">
  div
    span Записи с {{paginator.start_index }} до {{ paginator.end_index }} из {{ paginator.count }}
    span(v-if="paginator.count !== paginator.total_count") {{' '}}| отфильтровано из {{ paginator.total_count }}
    span(v-if="selectInfo") | {{selectInfo}}
</template>

<script>

  export default {
    name: 'PageInfo',

    props: {
      paginator: {
        type: Object,
        required: true
      },
      selected: {
        type: Object,
        required: false
      },
      multipleSelect: {
        type: Boolean,
        required: true
      }
    },

    computed: {
      selectInfo() {
        if (this.multipleSelect) {
          if (this.selected.all) {
            return 'Выбраны все записи'
          } else if (this.selected.indeterminate) {
            const checked = this.paginator.count - this.selected.checked.length
            return 'Выбрано ' + checked + ' из ' + this.paginator.total_count
          } else if (this.selected.checked.length) {
            return 'Выбрано ' + this.selected.checked.length + ' из ' + this.paginator.total_count
          }
        }
        return ''
      }
    }
  }

</script>

<style lang="scss" scoped>
  span {
    line-height: 32px;
    font-size: 12px;
    vertical-align: middle;
  }
</style>
