<template lang="pug">
  .pt-4
    v-layout(row wrap)
      v-flex.shrink
        .px-2.mb-1.no-wrap
          page-info(:paginator="paginator" :selected="selected" :multiple-select="multipleSelect")
      v-flex.grow
        .px-2.mb-1.text-xs-center
          app-pagination(v-model="paginator.page" :length="paginator.num_pages")
      v-flex.shrink
        .px-2.mb-1.no-wrap
          page-jumper(v-model="paginator.page" :length="paginator.num_pages")
          page-size(v-model="paginator.page_size" :totalCount="paginator.count")
</template>

<script>
  import PageSize from './PageSize'
  import PageInfo from './PageInfo'
  import PageJumper from './PageJumper'

  export default {
    name: 'PageControls',
    components: {PageSize, PageInfo, PageJumper},
    props: {
      paginator: {
        type: Object,
        required: true
      },
      selected: {
        type: Object,
        required: true
      },
      multipleSelect: {
        type: Boolean,
        required: true
      }
    }
  }
</script>
