<template lang="pug">
  .table-page-size-select(v-if="pageSizes.length > 1")
    span на странице:
    v-select(
      :value="currentPageSize"
      @change="currentPageSize => $emit('input', currentPageSize)"
      :items="pageSizes"
      hide-details
      :menu-props="{auto: true}")
</template>

<script>
  const DEFAULT_PAGE_SIZES = [10, 20, 50, 100]
  export default {
    name: 'PageSize',

    props: {
      totalCount: {
        type: Number,
        required: true,
      },
      value: {
        type: Number,
        required: true,
      },
    },
    data() {
      return {
        currentPageSize: this.value,
        defaultPageSizes: [...(process.env.NODE_ENV !== 'production' ? [1, 5] : []), ...DEFAULT_PAGE_SIZES],
      }
    },
    computed: {
      pageSizes(){
        const index = this.defaultPageSizes.findIndex(size => size > Math.max(this.totalCount, 10))
        if (index === -1) {
          return this.defaultPageSizes
        } else {
          return  this.defaultPageSizes.slice(0, index)
        }
      }
    },
    watch:{
      totalCount: function (val) {
        const count = Math.max(this.totalCount, 10)
        const index = this.defaultPageSizes.findIndex(size => size > count)
        if (index !== -1) {
          const newPageSizes = this.defaultPageSizes.slice(0, index)
          this.currentPageSize = newPageSizes[newPageSizes.length - 1]
        }
      }
    },
    methods:{
    },
  }
</script>

<style lang="scss" scoped>
  .table-page-size-select /deep/ {
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    flex: 0 0 auto;
    align-self: flex-end;

    > span {
      white-space: nowrap;
    }

    .v-input__control {
      min-height: 0;
      width: 60px;
    }

    .v-select {
      margin: 0 0 0 10px;
      padding: 0;
      position: static;

      .v-select__selection--comma {
        font-size: 12px;
        padding: 0;
      }
    }
  }
</style>
