<template>
  <div>
    <base-form
      ref="form"
      help-id="service-edit-form"
      help-title="Форма редактирования организации"
      class="mb-3"
      :api-path="apiPath"
      :show-fields="showFields"
      :show-cancel-btn="false"
      :hide-after-save="false"
      submit-btn-text="Сохранить"
      v-bind="$attrs"
      @submit-success="load"
      v-on="$listeners"
    ></base-form>

    <template v-if="payment_method && sber_payment">
      <app-card v-if="payment_method === 'sber_payment'">
        <base-form
          :api-path="sberApiPath"
          :show-fields="sberShowFields"
          :show-cancel-btn="false"
          :hide-after-save="false"
          submit-btn-text="Сохранить"
          v-bind="$attrs"
          v-on="$listeners"
        ></base-form>
      </app-card>
    </template>
  </div>
</template>

<script>
  import LoadMixin from 'mixins/LoadMixin'

  export default {
    name: 'PaymentsPage',
    mixins: [LoadMixin],
    props: ['id', 'apiPath'],
    data() {
      return {
        payment_method: null,
        sber_payment: null,
        showFields: [{name: 'payment_method'}],
        sberShowFields: [{name: 'login'}, {name: 'password', type: 'password'}, {name: 'demo'}, {name: 'app_deeplink'}],
      }
    },

    computed: {
      sberApiPath: function() {
        return `${this.apiPath}sber-payment/${this.sber_payment}/`
      },
    },

    methods: {
      async load() {
        this.loaded()
        this.beforeLoad()
        try {
          const params = {fields: 'sber_payment,payment_method'}
          const response = await this.$ajax.get(this.apiPath, {params})
          this.sber_payment = response.data.sber_payment
          this.payment_method = response.data.payment_method
          this.loaded()
        } catch (error) {
          this.errorOnLoad(error)
        }
      },
    },
  }
</script>
