<template>
  <div>
    <v-select
      v-model="filter[field.name]"
      :items="[
        {value: true, text: 'Да'},
        {value: false, text: 'Нет'},
      ]"
      :label="field.label"
      :name="field.name"
      clearable
      no-data-text="Нет данных"
    />
  </div>
</template>
<script>
  export default {
    name: 'CheckboxField',
    props: {
      filter: {
        type: Object,
        required: true,
      },
      field: {
        type: Object,
        required: true,
      },
    },
  }
</script>
