<template lang="pug">
  div
    label(:title="field.label" class="no-wrap") {{field.label}}
    date-picker(:name="field.name" v-model="filter[field.name]")
</template>
<script>
  import DatePicker from 'components/widgets/DatePicker'

  export default {
    name: 'CheckboxField',
    components: {DatePicker},
    props: {
      filter: {
        type: Object,
        required: true,
      },
      field: {
        type: Object,
        required: true,
      },
    },
  }
</script>
