<template>
  <v-select
    :clearable="!field.read_only && !field.disabled"
    :value="filter[field.name] || []"
    :name="field.name"
    :label="field.label"
    :items="items"
    no-data-text="Нет данных"
    multiple
    @change="value => (filter[field.name] = value)"
  />
</template>
<script>
  export default {
    name: 'MultiSelectField',
    props: {
      filter: {
        type: Object,
        required: true,
      },
      field: {
        type: Object,
        required: true,
      },
    },
    computed: {
      items() {
        return _.map(this.field.choices, choice => {
          return {value: choice[0], text: choice[1]}
        })
      },
    },
  }
</script>
