<template>
  <v-select
    v-model="filter[field.name]"
    clearable
    :menu-props="{maxHeight: '400px'}"
    :name="field.name"
    :label="field.label"
    no-data-text="Нет данных"
    :items="items"
  />
</template>
<script>
  export default {
    name: 'SelectField',
    props: {
      filter: {
        type: Object,
        required: true,
      },
      field: {
        type: Object,
        required: true,
      },
    },
    computed: {
      items() {
        return _.map(this.field.choices, choice => {
          return {value: choice[0], text: choice[1]}
        })
      },
    },
  }
</script>
