<template>
  <v-text-field v-model="filter[field.name]" :name="field.name" :label="field.label" />
</template>
<script>
  export default {
    name: 'TextField',
    props: {
      filter: {
        type: Object,
        required: true,
      },
      field: {
        type: Object,
        required: true,
      },
    },
  }
</script>
