{% extends "rest_framework/base.html" %}
<title>{% block title %}{% if name %}{{ name }}{% endif %}{% endblock %}</title>

{% block branding %}
  <a class='navbar-brand' rel="nofollow" href='{% url 'presentation:public:index' %}'>Главная</a>
{% endblock %}