<template>
  <app-card>
    <base-table
      id="order-list"
      ref="table"
      v-bind="$props"
      :show-columns="showColumns"
      :default-row-actions="defaultRowActions"
      edit-form-title="Редактирование статуса"
      :edit-form-component="StateEditForm"
      :extra-fields="extraFields"
      :extra-group-actions="extraGroupActions"
      :default-group-actions="defaultGroupActions"
      v-on="$listeners"
    >
      <template #cell-fio="props">
        {{ props.row.fio }}
        <br />
        {{ props.row.email }}
        <br />
        {{ props.row.phone }}
        <br />
      </template>

      <template #cell-state="props">
        <v-chip small :class="stateColor(props.value)">{{ props.row.state_name }}</v-chip>
      </template>

      <template #cell-payment_info="props">
        <div v-if="props.row.payment_info.payment_state">
          <b>Тип оплаты:</b>
          <br />
          <span class="text-nowrap">{{ props.row.payment_info.payment_type_name }}</span>
          <br />
          <v-chip small :class="paymenStateColor(props.row.payment_info.payment_state)">
            {{ props.row.payment_info.payment_state_display }}
          </v-chip>
        </div>
      </template>
      <template #cell-order_number="props">{{ props.row.display_order_number || 0 }}</template>
      <template #cell-price_info="props">
        <table class="v-table price-table">
          <thead>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <th>Итого</th>
          </thead>
          <tbody>
            <tr v-for="(photo_group, i) in props.row.photo_group_info" :key="i">
              <td>{{ photo_group.description }}</td>
              <td class="text-center text-nowrap">{{ photo_group.qty }}</td>
              <td class="text-center text-nowrap">{{ photo_group.price_one_item_str }}</td>
              <td class="text-center text-nowrap">{{ photo_group.price_sum_str }}</td>
            </tr>

            <tr>
              <td colspan="3"><b>Сумма</b></td>
              <td class="text-center text-nowrap">{{ props.row.price_info.total_price_str }}</td>
            </tr>
            <tr>
              <td colspan="3"><b>Доставка</b></td>
              <td class="text-center text-nowrap">{{ props.row.price_info.delivery_price_str }}</td>
            </tr>
            <tr>
              <td colspan="3"><b>Итого к оплате</b></td>
              <td class="text-center text-nowrap">{{ props.row.price_info.all_sum_str }}</td>
            </tr>
          </tbody>
        </table>
      </template>
      <template #cell-phone="props">
        <p class="text-nowrap">{{ props.value }}</p>
      </template>
      <template #cell-updated_at="props">
        <a
          v-if="!props.row.photos_deleted"
          :href="`${apiPath}${props.row.pk}/download/`"
          title="Скачать"
          target="_blank"
          @click="download"
        >
          <v-icon medium small>
            fa-download
          </v-icon>
        </a>
      </template>
      <template #cell-delivery_info="props">
        <b>Тип доставки:</b>
        <br />
        {{ props.value.delivery_name }}
        <br />
        <span v-if="props.value.post_index">
          <b>Почтовый индекс:</b>
          <br />
          {{ props.value.post_index }}
          <br />
        </span>
        <span v-if="props.value.delivery_region_name">
          <b>Регион доставки:</b>
          <br />
          {{ props.value.delivery_region_name }}
          <br />
        </span>
        <span v-if="props.value.subdivision_name">
          <b>Фотоцентр:</b>
          <br />
          {{ props.value.subdivision_name }}
          <br />
        </span>
        <span v-if="props.value.city">
          <b>Город:</b>
          <br />
          {{ props.value.city }}
          <br />
        </span>
        <span v-if="props.value.street">
          <b>Улица:</b>
          <br />
          {{ props.value.street }}
          <br />
        </span>
        <span v-if="props.value.house_number">
          <b>Номер дома:</b>
          <br />
          {{ props.value.house_number }}
          <br />
        </span>
        <span v-if="props.value.corps">
          <b>Корпус:</b>
          <br />
          {{ props.value.corps }}
          <br />
        </span>
        <span v-if="props.value.apartment_number">
          <b>Номер квартиры или офиса:</b>
          <br />
          {{ props.value.apartment_number }}
          <br />
        </span>
      </template>
    </base-table>
  </app-card>
</template>

<script>
  import StateEditForm from './forms/EditForm'
  import FileSaver from 'file-saver'

  export default {
    name: 'OrderList',
    props: ['apiPath'],
    data() {
      return {
        StateEditForm,
        extraFields: [
          'client_key',
          'state_name',
          'display_order_number',
          'photo_group_info',
          'email',
          'phone',
          'created_at_start',
          'created_at_end',
          'photos_deleted',
        ],
        showColumns: [
          {name: 'order_number', label: '№'},
          {name: 'organization'},
          {name: 'fio', label: 'Заказчик'},
          {name: 'state'},
          {name: 'payment_info'},
          {name: 'price_info'},
          {name: 'delivery_info'},
          {name: 'note'},
          {name: 'created_at'},
          {name: 'updated_at', label: ''},
        ],
        defaultRowActions: [
          {
            name: 'edit',
            title: 'Изменить статус',
            icon: 'fa-pencil-alt',
            text: 'Изменить статус',
            permission: 'update',
            mode: 'edit',
          },
        ],
        defaultGroupActions: [],
        extraGroupActions: [
          {
            name: 'export',
            title: 'Экспорт в csv',
            text: 'Экспорт в csv',
            icon: 'fa-cloud-upload-alt',
            color: 'accent',
            permission: 'selected',
            action: this.onExportCSV,
          },
        ],
      }
    },

    mounted() {
      this.$root.$emit('title-replace', 'Заказы')
    },

    methods: {
      download() {
        // Re-enable after 5 seconds
        this.timeout = setTimeout(() => {
          this.$refs.table.composer.load()
        }, 5000)
      },
      stateColor(state) {
        switch (state) {
          case 1:
            return 'red darken-1 white--text'
          case 5:
            return 'pink darken-1 white--text'
          case 10:
            return 'purple darken-1 white--text'
          case 15:
            return 'blue darken-1 white--text'
          case 20:
            return 'teal darken-1 white--text'
          case 25:
            return 'blue-grey darken-1 white--text'
          case 30:
            return 'blue-grey darken-1 white--text'
          default:
            return ''
        }
      },
      paymenStateColor(state) {
        switch (state) {
          case 'sber_payment':
            return 'green darken-1 white--text'
          default:
            return 'red darken-1 white--text'
        }
      },
      onExportCSV(action, table) {
        this.$ajax({
          url: `${this.apiPath}export-csv/`,
          method: 'get',
          responseType: 'blob',
          params: {filter: table.filter, selected: table.selected},
        }).then(response => {
          FileSaver.saveAs(response.data, 'Заказы.csv')
        })
      },
    },
  }
</script>

<style>
  .price-table th {
    font-size: 11px;
    white-space: nowrap !important;
    text-align: center !important;
  }

  .price-table td,
  .price-table th {
    padding: 2px !important;
    height: auto !important;
  }

  .price-table .text-center {
    text-align: center !important;
  }

  .price-table .text-nowrap {
    white-space: nowrap !important;
  }

  .text-nowrap {
    white-space: nowrap !important;
  }
</style>
