<template>
  <category-edit-form
    ref="form"
    :api-path="apiPath"
    :hide-after-submit="false"
    submit-btn-text="Сохранить"
    breadcrumb-attr="name"
    :to-after-save="{name: 'category-view'}"
  ></category-edit-form>
</template>

<script>
  import CategoryEditForm from './forms/Form'

  export default {
    name: 'CategoryEdit',
    components: {CategoryEditForm},
    props: ['apiPath'],
  }
</script>
