<template>
  <app-card>
    <v-tabs show-arrows>
      <v-tab :to="{name: 'category-view'}">
        Информация
      </v-tab>
      <v-tab :to="{name: 'formats'}">
        Форматы
      </v-tab>
      <v-tab :to="{name: 'products'}">
        Продукция
      </v-tab>
    </v-tabs>
    <v-divider class="mb-3" />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </app-card>
</template>

<script>
  export default {
    name: 'CategoryPage',
    props: ['id', 'apiPath'],
  }
</script>
