<template>
  <div :class="{'need-ellipsis': titleEllipsis}">
    <template v-if="!helpContent && !canManageHelp">
      <v-tooltip bottom>
        <span slot="activator">
          <span class="help-title">{{ title }}</span>
        </span>
        {{ title }}
      </v-tooltip>
    </template>
    <v-menu
      v-else
      v-model="menu"
      :close-on-click="openOnHover"
      :close-on-content-click="false"
      :open-on-hover="openOnHover"
      close-delay="600"
      content-class="help-tip-menu-content"
      lazy
      min-width="200px"
      nudge-top="-8"
      offset-y
      open-delay="600"
      right
    >
      <span slot="activator" class="label-wrap">
        <span class="label-help">{{ title }}</span>
        <v-icon right small>{{ icon }}</v-icon>
      </span>
      <v-card @click.stop>
        <v-card-text v-if="isEditContent" class="help-tip-editor">
          <v-fab-transition v-if="helpContent">
            <v-btn absolute bottom color="red" dark fab left small @click.stop="onDelete">
              <v-icon small>
                fa-trash-alt
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <v-fab-transition>
            <v-btn absolute bottom color="accent" fab right small @click.stop="onSave">
              <v-icon small>
                fa-check
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <v-fab-transition>
            <v-btn absolute fab right small top @click.stop="closeEdit">
              <v-icon small>
                fa-times
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <v-fab-transition v-if="canManageHelp">
            <v-btn
              :color="helpLink ? 'blue' : ''"
              :dark="!!helpLink"
              absolute
              bottom
              fab
              right
              small
              style="right: 42px;"
              @click="openEditLink"
            >
              <v-icon small>
                fa-link
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <RichTextEditor v-model="editContent" />
        </v-card-text>
        <v-card-text v-else-if="isEditLink" class="help-tip-editor">
          <v-fab-transition>
            <v-btn absolute bottom color="accent" fab right small @click.stop="onSave">
              <v-icon small>
                fa-check
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <v-fab-transition>
            <v-btn absolute fab right small top @click.stop="closeEdit">
              <v-icon small>
                fa-times
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <v-fab-transition v-if="canManageHelp">
            <v-btn
              :color="helpContent ? 'blue' : ''"
              :dark="!!helpContent"
              absolute
              bottom
              fab
              right
              small
              style="right: 42px;"
              @click="openEditor"
            >
              <v-icon small>
                fa-pencil-alt
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <v-autocomplete
            v-model="editLink"
            :items="linkItems"
            clearable
            item-text="title"
            item-value="code"
            max-height="400px"
          />
        </v-card-text>
        <v-card-text v-else>
          <v-fab-transition v-if="canManageHelp">
            <v-btn
              :color="helpContent ? 'blue' : ''"
              :dark="!!helpContent"
              absolute
              bottom
              fab
              right
              small
              @click="openEditor"
            >
              <v-icon small>
                fa-pencil-alt
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <v-fab-transition v-if="canManageHelp">
            <v-btn
              :color="helpLink ? 'blue' : ''"
              :dark="!!helpLink"
              absolute
              bottom
              fab
              right
              small
              style="right: 42px;"
              @click="openEditLink"
            >
              <v-icon small>
                fa-link
              </v-icon>
            </v-btn>
          </v-fab-transition>
          <div v-html="`<h5>${title}</h5><br>` + (helpContent || '<i class=\'grey--text\'>Подсказка не задана</i>')" />
          <small v-if="canManageHelp">
            <span>
              code=
              <i>{{ code }}</i>
            </span>
            <br />
            <span>
              title=
              <i>{{ getTitle() }}</i>
            </span>
            <br />
          </small>
        </v-card-text>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
  import LazyComponents from 'common/app/LazyComponents'
  import HelpComponentMixin from 'mixins/help/HelpComponentMixin'

  export default {
    name: 'HelpTip',
    components: {RichTextEditor: LazyComponents.RichTextEditor},
    mixins: [HelpComponentMixin],
    props: {
      title: String,
      titleEllipsis: Boolean,
    },

    data() {
      return {
        isEditContent: false,
        isEditLink: false,
        editLink: '',
        linkItems: [],
        menu: false,
        code: null,
        editContent: '',
      }
    },
    computed: {
      helpTip() {
        if (this.code) return this.$store.getters.getHelpTipByCode(this.code)
        return null
      },
      helpContent() {
        if (this.helpTip) return this.helpTip.content
        return null
      },
      helpLink() {
        if (this.helpTip) return this.helpTip.link
        return null
      },
      canManageHelp() {
        if (this.code) return this.$store.getters.projectData.canManageHelp
        return null
      },
      openOnHover() {
        return !this.menu || !(this.isEditContent || this.isEditLink)
      },
      icon() {
        if (this.helpContent) {
          return 'far fa-question-circle'
        }
        return 'far fa-circle'
      },
    },
    mounted() {
      this.code = this.getCode()
      this.$store.dispatch('getHelpTip', this.code)
    },
    methods: {
      getCode() {
        const parts = []
        let parent = this
        let emptyCount = 0
        if (this.helpId) {
          // игнорировать если текущий компонент входит в путь
          emptyCount++
        }
        while (parent) {
          if (parent.helpId && !(parent.helpIsLeafOnly && parts.length > emptyCount)) {
            const part = _.camelCase(_.replace(parent.helpId, /[^a-z0-9-]/gi, '-'))
            parts.unshift(part)
          }
          parent = parent.$parent
        }
        return parts.join('-')
      },
      getTitle() {
        const parts = []
        let parent = this
        let emptyCount = 0
        if (this.helpId) {
          // игнорировать если текущий компонент входит в путь
          emptyCount++
        }
        while (parent) {
          if (parent.helpId && parent.helpTitle && !(parent.helpIsLeafOnly && parts.length > emptyCount)) {
            const part = parent.helpTitle
            parts.unshift(part)
          }
          parent = parent.$parent
        }
        if (parts[parts.length - 1] !== this.title && !this.helpTitle) {
          parts.push(this.title)
        }

        return parts.join(': ')
      },
      openEditor() {
        this.editContent = this.helpContent
        this.isEditContent = true
        this.isEditLink = false
      },
      openEditLink() {
        this.editLink = this.helpLink
        this.isEditContent = false
        this.isEditLink = true
        const url = '/api/workspace/help/tips/link_items'
        this.$ajax.get(url, {params: {exclude: this.code}}).then(response => {
          this.linkItems = response.data
        })
      },
      closeEdit() {
        this.isEditContent = false
        this.isEditLink = false
      },
      onSave() {
        const helpTip = {...this.helpTip}
        helpTip.title = this.getTitle()
        helpTip.code = this.code
        if (this.isEditContent) {
          helpTip.content = this.editContent
        } else if (this.isEditLink) {
          helpTip.link = this.editLink
        } else {
          return
        }
        this.$store.dispatch('saveHelpTip', helpTip)
        this.isEditContent = false
        this.isEditLink = false
      },
      onDelete() {
        this.$store.dispatch('deleteHelpTip', this.code)
        this.isEditContent = false
        this.isEditLink = false
      },
    },
  }
</script>

<style lang="scss" scoped>
  /deep/ {
    .label-wrap {
      cursor: help;
      pointer-events: all;

      .v-icon {
        font-size: 12px !important;
        margin: 0;
        padding: 0 4px;
        vertical-align: baseline;
        color: inherit;
        transition: none;
      }
    }

    .menu {
      vertical-align: baseline;
    }

    .help-tip-editor {
      width: 600px;
    }

    .v-btn.v-btn--floating {
      height: 28px;
      width: 28px;
    }

    .v-btn--top.v-btn--absolute.v-btn--small {
      top: -14px;
    }

    .v-btn--bottom.v-btn--absolute.v-btn--small {
      bottom: -14px;
    }

    .v-btn--right {
      right: 10px;
    }

    .v-btn--left {
      right: 10px;
    }
  }

  .help-tip-menu-content,
  .help-tip-menu-content > .v-card {
    contain: initial;
    overflow: visible;
    min-height: 50px;
  }

  .help-tip-menu-content .card__text {
    max-height: 400px;
    overflow-y: auto;
    max-width: 600px;
  }

  .need-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .v-menu,
    .v-menu__activator {
      max-width: 100%;
    }

    .label-wrap {
      max-width: 100%;
      white-space: nowrap;
      display: inline-flex;

      .label-help {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
</style>
