<template>
  <base-form
    help-id="state-edit-form"
    help-title="Форма редактирования статуса"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    v-on="$listeners"
  ></base-form>
</template>

<script>
  export default {
    name: 'StateEditForm',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [{name: 'state'}],
      }
    },
  }
</script>
