<template>
  <base-table
    id="ftp-user-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    create-form-title="Добавление пользователя ftp"
    :create-form-component="EditForm"
    edit-form-title="Редактирование пользователя ftp"
    :edit-form-component="EditForm"
    delete-confirm-title="Удаление пользователя ftp"
    delete-confirm-text="Вы действительно хотите удалить пользователя?"
    v-on="$listeners"
  ></base-table>
</template>

<script>
  import EditForm from './forms/Form'

  export default {
    name: 'FtpUserList',
    props: ['id', 'apiPath'],
    data() {
      return {
        EditForm,
        showColumns: [{name: 'user'}],
      }
    },
  }
</script>
