<template>
  <div>
    <span>{{ choicesMap[value] }}</span>
  </div>
</template>

<script>
  export default {
    name: 'ChoiceCell',
    props: ['value', 'column'],
    computed: {
      choicesMap() {
        return _.fromPairs(this.column.choices)
      }
    }
  }
</script>
