<template>
  <div>
    <DateTimeFormat
      v-if="value"
      :value="value"
    />
    <span v-else>–</span>
  </div>
</template>

<script>
  import moment from 'moment'

  moment.locale('ru')

  export default {
    props: ['value']
  }
</script>
