<template>
  <div>
    <span
      v-for="(v, i) in value"
      :key="i"
    >
      <template v-if="i">
        <br>
      </template>
      {{ choicesMap[v] }};
    </span>
  </div>
</template>

<script>
  export default {
    name: 'SelectMultipleCell',
    props: ['value', 'column'],
    computed: {
      choicesMap() {
        return _.fromPairs(this.column.choices)
      }
    }
  }
</script>
