{% extends 'email/base.html' %}

{% block title %}
  <img src="cid:logo" alt="{{ order.organization }}"
       style="height: 100px;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;">
{% endblock %}

{% block base_content %}
  {% autoescape off %}

    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:10px;Margin:0;" bgcolor="#eeeeee">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <b>БЛАГОДАРИМ ЗА ПОКУПКУ</b>
        </div>
      </td>
    </tr>
    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:4px;Margin:0;">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <p><b>Информация о заказе</b></p>
          <p><b>НОМЕР ЗАКАЗА: №{{ order.get_order_number }}</b></p>
          <p>ДАТА ЗАКАЗА: {{ order.created_at }}</p>
        </div>
      </td>
    </tr>

    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:10px;Margin:0;" bgcolor="#eeeeee">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <b>Заказчик</b>
        </div>
      </td>
    </tr>
    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:4px;Margin:0;">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <p>{{ order.fio }}</p>
          <p>{{ order.email }}</p>
          <p>{{ order.phone|default:"-" }}</p>
        </div>
      </td>
    </tr>

    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:10px;Margin:0;" bgcolor="#eeeeee">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <b>Доставка заказа</b>
        </div>
      </td>
    </tr>
    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:4px;Margin:0;">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <p>{{ order.delivery.get_delivery_type_str }}</p>
          <p>
            {{ order.delivery.get_delivery_str }}
          </p>
          <p>
            Цена: {{ order.delivery.price_info.price_str }}
          </p>
        </div>
      </td>
    </tr>

    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:10px;Margin:0;" bgcolor="#eeeeee">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <b>Оплата заказа</b>
        </div>
      </td>
    </tr>
    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:4px;Margin:0;">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          {% if order.payment %}
            <p>{{ order.payment.get_type_display }}</p>
            {% if order.payment.type == 'online' %}
              <p>Выполнение заказа производится после получения оплаты</p>
              <p>
                <a href="{{ payment_url }}">Перейти в платежную систему для оплаты заказа</a>
              </p>
            {% endif %}
          {% endif %}
        </div>
      </td>
    </tr>

    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:10px;Margin:0;" bgcolor="#eeeeee">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <b>Комментарий заказчика</b>
        </div>
      </td>
    </tr>
    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:4px;Margin:0;">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <p>{% if  order.note %}{{ order.note }}{% else %}---{% endif %}</p>
        </div>
      </td>
    </tr>

    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:10px;Margin:0;" bgcolor="#eeeeee">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <b>Состав заказа</b>
        </div>
      </td>
    </tr>
    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:4px;Margin:0;">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <table style="width: 100%; border: 1px;">
            <thead style="border: 1px solid black; ">
            <th style="text-align: center; border: 1px solid black; ">Номер</th>
            <th style="text-align: center; border: 1px solid black; ">Наименование</th>
            <th style="text-align: center; border: 1px solid black; ">Кол-во</th>
            <th style="text-align: center; border: 1px solid black; ">Цена</th>
            <th style="text-align: center; border: 1px solid black; ">Итого</th>
            </thead>
            <tbody>
            {% for group in order.photo_group_info %}
              <tr style="border: 1px solid black; ">
                <td style="text-align: center; border: 1px solid black; ">{{ forloop.counter }}</td>
                <td style="text-align: center; border: 1px solid black; ">{{ group.description }}</td>
                <td style="text-align: center; border: 1px solid black; ">{{ group.qty }}</td>
                <td style="text-align: center; border: 1px solid black; ">{{ group.price_one_item_str }}</td>
                <td style="text-align: center; border: 1px solid black; ">{{ group.price_sum_str }}</td>
              </tr>
            {% endfor %}
            <tr style="border: 1px solid black; ">
              <td style="text-align: left; border: 1px solid black; " colspan="4"><b>Сумма</b></td>
              <td style="text-align: center; border: 1px solid black; ">{{ order.price_info.total_price_str }}</td>
            </tr>
            <tr style="border: 1px solid black; ">
              <td style="text-align: left; border: 1px solid black; " colspan="4"><b>Доставка</b></td>
              <td style="text-align: center; border: 1px solid black; ">{{ order.price_info.delivery_price_str }}</td>
            </tr>
            <tr style="border: 1px solid black; ">
              <td style="text-align: left; border: 1px solid black; " colspan="4"><b>Итого к оплате</b></td>
              <td style="text-align: center; border: 1px solid black; ">{{ order.price_info.all_sum_str }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>

    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:10px;Margin:0;" bgcolor="#eeeeee">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <b>Это письмо сгенерировано автоматически. Отвечать на него не нужно.</b>
        </div>
      </td>
    </tr>
  {% endautoescape %}
{% endblock %}
