{% extends 'email/base.html' %}

{% block title %}
   <img src="cid:logo" alt="{{ order.organization }}" style="height: 100px;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;">
{% endblock %}

{% block base_content %}
  {% autoescape off %}


    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:4px;Margin:0;">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <p><b>Ваш заказ №{{ order.get_order_number }} выполнен и доставлен</b></p>
        </div>
      </td>
    </tr>

    <tr style="border-collapse:collapse;">
      <td align="center" style="padding:10px;Margin:0;" bgcolor="#eeeeee">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          <p>{{ order.organization.full_name }}</p>
          <p>{{ order.organization.address }}</p>
        </div>
      </td>
    </tr>

     <tr style="border-collapse:collapse;">
      <td align="center" style="padding:4px;Margin:5px;">
        <div style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:120%;color:#1C1C1C;">
          Это письмо сгенерировано автоматически. Отвечать на него не нужно.
        </div>
      </td>
    </tr>
  {% endautoescape %}
{% endblock %}
