<template>
  <base-form :create="true" api-path="/api/account/login/" :static-fields="staticFields" @submit-success="onLogin">
    <template #buttons="props">
      <v-container class="pa-0" grid-list-lg fluid>
        <v-layout row wrap>
          <v-flex xs12 class="mt-2">
            <v-btn block color="primary" type="submit" :loading="props.isSaving">
              Войти
            </v-btn>
          </v-flex>
          <v-flex xs12>
            <router-link :to="{name: 'reset'}">Забыли пароль?</router-link>
          </v-flex>
        </v-layout>
      </v-container>
    </template>
  </base-form>
</template>

<script>
  export default {
    name: 'LoginPage',
    data() {
      return {
        staticFields: [
          {
            label: 'Адрес электронной почты',
            name: 'email',
            type: 'input',
            required: true,
          },
          {
            label: 'Пароль',
            name: 'password',
            type: 'input',
            input_type: 'password',
            required: true,
          },
        ],
        hasChanges: false,
      }
    },

    methods: {
      onLogin() {
        if (this.$route.query.next) {
          window.location = this.$route.query.next
        } else {
          window.location.hash = ''
          window.location.reload()
        }
      },
    },
  }
</script>
