<template lang="pug">
  base-form(
    ref="form"
    :help-tip-disable="true"
    :api-path="confirmFormPath"
    :show-fields="showFields"
    @submit-success="onReset"
    loading-alert404="Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались"
    submit-btn-text="Изменить пароль")
    template(#buttons="props")
      v-container.pa-0(grid-list-lg fluid)
        v-layout.pt-2(row wrap)
          v-flex(xs12)
            v-btn(block depressed color="primary" type="submit" :loading="props.isSaving") Восстановить
    template(#message="props")
      div(v-if="props.loadingError")
        p Пожалуйста, попробуйте #[router-link(:to="{name: 'reset'}") восстановить пароль]
      div(v-else)
        p Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания
</template>

<script>
  export default {
    name: 'PasswordResetConfirmPage',
    props: ['uid', 'token'],
    data() {
      return {
        showFields: [
          {
            label: 'Пароль',
            type: 'password',
            name: 'password',
            required: true,
          },
          {
            label: 'Подтверждение пароля',
            type: 'input',
            input_type: 'password',
            name: 'password_confirm',
            validator: {password_confirm: () => this.$refs.form.model.password, required: true},
            required: true,
          },
        ],
        hasChanges: false,
      }
    },

    computed: {
      confirmFormPath() {
        return `/api/account/password_reset_confirm/${this.uid}/${this.token}/`
      },
    },

    methods: {
      onReset() {
        this.$router.push({name: 'login'})
      },
    },
  }
</script>
