<template lang="pug">
  base-form(
    :help-tip-disable="true"
    :create="true"
    api-path="/api/account/password_reset/"
    :static-fields="staticFields")
    template(#message="props")
      div(v-if="!props.isSaved")
        p Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию,
          | как установить новый пароль.
      div(v-else)
        p Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей
          | базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
        p Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались,
          | и проверьте папку со спамом.
    template(#buttons="props")
      v-container.pa-0(grid-list-lg fluid)
        v-layout.pt-2(row wrap)
          v-flex(xs12)
            v-btn(block depressed color="primary" type="submit" :loading="props.isSaving") Восстановить
          v-flex(xs12 class="pl-2 text-center")
            p Уже зарегистрированы?&nbsp;
              router-link(:to="{name: 'login'}") Войти&nbsp;

</template>

<script>
  export default {
    name: 'PasswordResetPage',
    data() {
      return {
        staticFields: [
          {
            label: 'Адрес электронной почты',
            name: 'email',
            type: 'input',
            required: true,
          },
        ],
        hasChanges: false,
      }
    },
  }
</script>
