<template lang="pug">
  base-composer(ref="composer" v-on="$listeners" v-bind="allProps" :force-get-columns="getColumns")
    template(slot-scope="composer")
      template(v-if="!!(composer.paginator.count || composer.isLoading)")
        v-layout(row)
          v-flex.mb-2(sm12)
            v-list.base-list(:two-line="getColumns.length === 3")
              template(v-for="(row, index) in composer.data")
                v-list-tile
                  v-list-tile-avatar(v-if="avatar")
                    slot(name="avatar" :row="row")
                  v-list-tile-content
                    v-list-tile-title
                      slot(name="title" :row="row" :value="row[titleColumnName]") {{row[titleColumnName]}}
                    v-list-tile-sub-title.text--primary(v-if="firstSubtitleColumnName")
                      slot(name="first-sub-title" :row="row" :value="row[firstSubtitleColumnName]") {{row[firstSubtitleColumnName]}}
                    v-list-tile-sub-title(v-if="secondSubtitleColumnName")
                      slot(name="second-sub-title" :row="row" :value="row[secondSubtitleColumnName]") {{row[secondSubtitleColumnName] }}
                  v-list-tile-action(v-if="action")
                    slot(name="action" :row="row")
                v-divider
        v-layout(row wrap)
          v-flex.mb-2.grow
            v-layout
              app-pagination(v-model="composer.paginator.page" :length="composer.paginator.num_pages")
          v-flex.mb-2.shrink
            v-layout
              page-size(v-model="composer.paginator.page_size" :totalCount="composer.paginator.count")
      template(v-else)
        p.text-center
          template(v-if="composer.paginator.total_count") Записей не найдено
          template(v-else) Нет записей
</template>

<script>
  import BaseComposer from 'components/base-composer/BaseComposer'
  import PageSize from 'components/base-composer/pagination/PageSize'

  export default {
    name: 'BaseList',
    components: {
      BaseComposer,
      PageSize
    },
    provide() {
      return {
        $table: this
      }
    },
    props: {
      avatar: {
        type: Boolean,
        required: false,
        default: false
      },
      action: {
        type: Boolean,
        required: false,
        default: false
      },
      titleColumnName: {
        type: String,
        required: true
      },
      firstSubtitleColumnName: {
        type: String,
        required: false
      },
      secondSubtitleColumnName: {
        type: String,
        required: false
      },
      showTopControls: {
        type: Boolean,
        required: false,
        default: false
      },
      showPageControls: {
        type: Boolean,
        required: false,
        default: false
      }
    },
    computed: {
      composer() {
        return this.$refs.composer
      },
      allProps() {
        return Object.assign({}, this.$attrs, this.$props)
      }
    },
    methods: {
      getColumns() {
        const columns = [{name: this.titleColumnName}]
        if (this.firstSubtitleColumnName) {
          columns.push({name: this.firstSubtitleColumnName})
        }
        if (this.secondSubtitleColumnName) {
          columns.push({name: this.secondSubtitleColumnName})
        }
        _.forEach(this.extraFields, function (columnName) {
          columns.push({name: columnName})
        })
        return columns
      }
    }
  }
</script>

<style lang="scss">
  .base-list {

    .v-list__tile {
      height: auto;
      padding: 0;
    }

    .v-list__tile__sub-title,
    .v-list__tile__title {
      white-space: normal;
      height: auto;
    }

    .v-divider {
      margin-top: 5px;
      margin-bottom: 5px;

      &:last-child {
        display: none;
      }
    }
  }
</style>
