<template lang="pug">
 <div></div>
</template>

<script>

  export default {
    name: 'PhotoList',
    provide() {
      return {
        $table: this,
      }
    },
    props: {
      avatar: {
        type: Boolean,
        required: false,
        default: false,
      },
      action: {
        type: Boolean,
        required: false,
        default: false,
      },
      imageColumnName: {
        type: String,
        required: true,
      },
      descriptionColumnName: {
        type: String,
        required: false,
      },
      showTopControls: {
        type: Boolean,
        required: false,
        default: false,
      },
      showPageControls: {
        type: Boolean,
        required: false,
        default: false,
      },
    },
    computed: {
      composer() {
        return this.$refs.composer
      },
      allProps() {
        return Object.assign({}, this.$attrs, this.$props)
      },
    },
    methods: {
      getColumns() {
        const columns = [{name: this.imageColumnName}]
        if (this.descriptionColumnName) {
          columns.push({name: this.descriptionColumnName})
        }
        _.forEach(this.extraFields, function(columnName) {
          columns.push({name: columnName})
        })
        return columns
      },
    },
  }
</script>

<style lang="scss">
  .v-card__title {
    display: block;
    padding-bottom: 4px;
  }
</style>
