<template>
  <base-table
    id="account-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    create-form-title="Добавление пользователя"
    :create-form-component="AccountCreateForm"
    edit-form-title="Редактирование пользователя"
    :edit-form-component="AccountEditForm"
    delete-confirm-title="Удаление пользователя"
    delete-confirm-text="Вы действительно хотите удалить пользователя?"
    :default-row-actions="defaultRowActions"
    v-on="$listeners"
  ></base-table>
</template>

<script>
  import AccountCreateForm from './forms/AccountCreateForm'
  import AccountEditForm from './forms/AccountEditForm'

  export default {
    name: 'AccountList',
    props: ['apiPath'],
    data() {
      return {
        AccountCreateForm,
        AccountEditForm,
        showColumns: [
          {name: 'first_name'},
          {name: 'last_name'},
          {name: 'patronymic'},
          {name: 'email'},
          {name: 'last_login'},
          {name: 'organization_permission'},
          {name: 'order_permission'},
        ],
        defaultRowActions: [
          {
            name: 'edit',
            title: 'Редактирование',
            icon: 'fa-pencil-alt',
            text: 'Изменить',
            permission: 'update',
            mode: 'edit',
          },
          {
            name: 'delete',
            title: 'Удалить',
            icon: 'fa-trash-alt',
            text: 'Удалить',
            permission: 'destroy',
            mode: 'edit',
            checker: row => {
              return !row.organization_permission
            },
          },
        ],
      }
    },
  }
</script>
