<template>
  <translation-fields-form :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'SubdivisionForm',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [
          {name: 'name'},
          {name: 'address'},
          {name: 'phone_list'},
          {name: 'email'},
          {name: 'working_hours'},
          {name: 'payment_types', validator: {required: true}},
          {name: 'enabled'},
        ],
      }
    },
  }
</script>
