<template>
  <translation-fields-table
    id="category-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    create-form-title="Добавление категории"
    :create-form-component="CategoryForm"
    edit-form-title="Редактирование категории"
    :edit-form-component="CategoryForm"
    delete-confirm-title="Удаление категории"
    delete-confirm-text="Вы действительно хотите удалить категорию?"
    v-on="$listeners"
  >
    <template slot="cell-icon" slot-scope="props">
      <img :src="props.row.icon.path" style="width: 100px;" />
    </template>
    <template #cell-name_ru="props">
      <a :href="`/workspace/photoproduct/base/category/${props.row.pk}/`">
        {{ props.value || '—' }}
      </a>
    </template>
  </translation-fields-table>
</template>

<script>
  import CategoryForm from './forms/Form'

  export default {
    name: 'CategoryList',
    props: ['categoryGroup'],
    data() {
      return {
        CategoryForm,
        showColumns: [{name: 'name'}, {name: 'icon'}],
      }
    },
    computed: {
      apiPath() {
        return `/api/workspace/photoproduct/base/categories/${this.categoryGroup}/`
      },
    },
  }
</script>
