<template>
  <app-card>
    <v-tabs show-arrows>
      <v-tab :to="{name: 'photobook'}">
        Фотокниги
      </v-tab>
      <v-tab :to="{name: 'souvenir'}">
        Сувенирка
      </v-tab>
      <v-tab :to="{name: 'interior'}">
        Интерьерка
      </v-tab>
      <v-tab :to="{name: 'calendar'}">
        Календари
      </v-tab>
      <v-tab :to="{name: 'polygraphy'}">
        Полиграфия
      </v-tab>
    </v-tabs>
    <v-divider class="mb-3" />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </app-card>
</template>

<script>
  export default {
    name: 'CategoryTabs',
  }
</script>

<style></style>
