<template>
  <app-card>
    <base-table
      id="order-list"
      ref="table"
      v-bind="$props"
      :show-columns="showColumns"
      :extra-fields="extraFields"
      v-on="$listeners"
    >
      <template #cell-fio="props">
        {{ props.row.fio }}
        <br />
        {{ props.row.email }}
        <br />
        {{ props.row.phone }}
        <br />
      </template>

      <template #cell-payment_info="props">
        <div v-if="props.row.payment_info.payment_state">
          <b>Тип оплаты:</b>
          <br />
          <span class="text-nowrap">{{ props.row.payment_info.payment_type_name }}</span>
        </div>
      </template>
      <template #cell-order_number="props">{{ props.row.display_order_number || 0 }}</template>
      <template #cell-phone="props">
        <p class="text-nowrap">{{ props.value }}</p>
      </template>
      <template #cell-updated_at="props">
        <a
          v-if="!props.row.photos_deleted"
          :href="`${apiPath}${props.row.pk}/download/`"
          title="Скачать"
          target="_blank"
        >
          <v-icon medium small>
            fa-download
          </v-icon>
        </a>
      </template>
      <template #cell-delivery_info="props">
        <b>Тип доставки:</b>
        <br />
        {{ props.value.delivery_name }}
        <br />
        <span v-if="props.value.post_index">
          <b>Почтовый индекс:</b>
          <br />
          {{ props.value.post_index }}
          <br />
        </span>
        <span v-if="props.value.delivery_region_name">
          <b>Регион доставки:</b>
          <br />
          {{ props.value.delivery_region_name }}
          <br />
        </span>
        <span v-if="props.value.subdivision_name">
          <b>Фотоцентр:</b>
          <br />
          {{ props.value.subdivision_name }}
          <br />
        </span>
        <span v-if="props.value.city">
          <b>Город:</b>
          <br />
          {{ props.value.city }}
          <br />
        </span>
        <span v-if="props.value.street">
          <b>Улица:</b>
          <br />
          {{ props.value.street }}
          <br />
        </span>
        <span v-if="props.value.house_number">
          <b>Номер дома:</b>
          <br />
          {{ props.value.house_number }}
          <br />
        </span>
        <span v-if="props.value.corps">
          <b>Корпус:</b>
          <br />
          {{ props.value.corps }}
          <br />
        </span>
        <span v-if="props.value.apartment_number">
          <b>Номер квартиры или офиса:</b>
          <br />
          {{ props.value.apartment_number }}
          <br />
        </span>
      </template>
    </base-table>
  </app-card>
</template>

<script>
  export default {
    name: 'OrderList',
    props: ['apiPath'],
    data() {
      return {
        extraFields: [
          'client_key',
          'state_name',
          'display_order_number',
          'photo_group_info',
          'email',
          'phone',
          'created_at_start',
          'created_at_end',
          'photos_deleted',
        ],
        showColumns: [
          {name: 'order_number', label: '№'},
          {name: 'organization'},
          {name: 'fio', label: 'Заказчик'},
          {name: 'payment_info'},
          {name: 'delivery_info'},
          {name: 'note'},
          {name: 'created_at'},
          {name: 'updated_at', label: ''},
        ],
      }
    },

    methods: {
      paymenStateColor(state) {
        switch (state) {
          case 'sber_payment':
            return 'green darken-1 white--text'
          default:
            return 'red darken-1 white--text'
        }
      },
    },
  }
</script>

<style>
  .price-table th {
    font-size: 11px;
    white-space: nowrap !important;
    text-align: center !important;
  }

  .price-table td,
  .price-table th {
    padding: 2px !important;
    height: auto !important;
  }

  .price-table .text-center {
    text-align: center !important;
  }

  .price-table .text-nowrap {
    white-space: nowrap !important;
  }

  .text-nowrap {
    white-space: nowrap !important;
  }
</style>
