<template>
  <base-table ref="table" v-bind="$attrs" v-on="$listeners">
    <template v-for="slot in Object.keys($scopedSlots)" :slot="slot" slot-scope="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
    <template #row="props">
      <template v-if="hasExtraRows">
        <FirstExtraRow
          :class="{hover: hoveredRows[props.row.pk]}"
          :row="props.row"
          :rowspan="rowspan(props.row)"
          @mouseenter="hoverRow(props.row.pk, true)"
          @mouseleave="hoverRow(props.row.pk, false)"
        />
        <template v-for="(value, index) in rowspan(props.row) - 1">
          <ExtraRow
            :key="`grouped-row-extra-${props.row.pk}-${index}`"
            :class="{hover: hoveredRows[props.row.pk]}"
            :row="props.row"
            :row-index="index"
            :rowspan="rowspan(props.row)"
            @mouseenter="hoverRow(props.row.pk, true)"
            @mouseleave="hoverRow(props.row.pk, false)"
          />
        </template>
      </template>
      <template v-else>
        <table-row :row="props.row" />
      </template>
    </template>
  </base-table>
</template>
<script>
  import FirstExtraRow from './FirstExtraRow'
  import ExtraRow from './ExtraRow'
  import TableRow from 'components/base-table/TableRow'

  export default {
    name: 'ExtraRowsTable',
    components: {TableRow, FirstExtraRow, ExtraRow},
    data() {
      return {
        hoveredRows: {},
      }
    },
    computed: {
      extraRows() {
        return _.uniq(_.map(_.filter(this.$refs.table.composer.columns, 'source'), 'source'))
      },
      hasExtraRows() {
        return Boolean(this.extraRows.length)
      },
    },
    methods: {
      rowspan(row) {
        let max = 1
        for (const extraRows of this.extraRows) {
          if (row[extraRows].length > max) {
            max = row[extraRows].length
          }
        }
        return max
      },
      hoverRow(rowPk, toggle) {
        if (toggle && !this.hoveredRows[rowPk]) {
          this.$set(this.hoveredRows, rowPk, toggle)
        } else if (!toggle && this.hoveredRows[rowPk]) {
          this.$delete(this.hoveredRows, rowPk)
        }
      },
    },
  }
</script>
