<template lang="pug">
  tr(:class="{'table-active': isSelected}" ref="container" v-bind="$attrs" v-on="$listeners")
    template(v-for="(column, index) in extraSortedColumns")
      table-cell(
        v-if="row[column.source].length > 1 && row[column.source].length >= rowIndex + 2"
        :rowspan="(rowIndex + 2) === row[column.source].length? rowspan - (rowIndex + 2) || 1: 1"
        :key="`cell_${column.source}_${column.name}_${rowIndex + 1}`"
        ref="cell"
        :row="row[column.source][rowIndex + 1]"
        :column="column"
        :expanded-row-first="index===0"
        :expanded-row="expandedRow"
        :value="row[column.source][rowIndex + 1][column.name]"
      )
</template>

<script>
  import TableRow from 'components/base-table/TableRow'

  export default {
    name: 'ExtraRow',
    extends: TableRow,
    props: {
      rowIndex: {
        type: Number,
        required: true,
      },
    },
    computed: {
      extraSortedColumns() {
        return this.$composer.sortedColumns.filter(elem => elem.source && this.row[elem.source].length)
      },
    },
  }
</script>
