<template lang="pug">
  table-row(v-bind="$attrs" v-on="$listeners")
    template(#data-cell="{column, row, rowspan, ...props}")
      table-cell(
        v-if="!column.source"
        :class="{'first-in-group': firstInGroup(column)}"
        :rowspan="rowspan"
        :row="row"
        :column="column"
        :value="row[column.name]"
        :expanded-row-first="props.expandedRowFirst"
        :expanded-row="props.expandedRow"
        :force-expand="props.forceExpand(row)"
        @update="props.onResize"
      )
      table-cell(
        v-else
        :class="{'first-in-group': firstInGroup(column)}"
        :key="`cell_${column.source}_${column.name}`"
        :row="row[column.source].length? row[column.source][0]: {}"
        :rowspan="row[column.source].length <= 1? rowspan: 1"
        :expanded-row-first="props.expandedRowFirst"
        :expanded-row="props.expandedRow"
        :column="column"
        :force-expand="props.forceExpand(row)"
        @update="props.onResize"
        :value="row[column.source].length? row[column.source][0][column.name]: ''")
</template>

<script>
  import TableCell from 'components/base-table/TableCell'
  import TableRow from 'components/base-table/TableRow'

  export default {
    name: 'FirstExtraRow',
    components: {
      TableRow,
      TableCell,
    },
    inheritAttrs: false,
    methods: {
      firstInGroup(column) {
        if (!column.source) {
          if (this.prev) {
            this.prev = null
            return true
          }
          return false
        }
        if (this.prev !== column.source) {
          this.prev = column.source
          return true
        }
        return false
      },
    },
  }
</script>
