<template lang="pug">
  base-form(
  id='system-settings-form'
  ref="form"
  :api-path="apiPath"
  :show-fields="showFields"
  v-on="$listeners"
  v-bind="$attrs"
  submit-btn-text="Сохранить"
  :to-after-save="{name: 'base-view'}")
</template>

<script>
  export default {
    props: ['apiPath'],
    data() {
      return {
        showFields: [{name: 'name'}, {name: 'short_name'}, {name: 'description'}],
      }
    },
  }
</script>
