<template lang="pug">
  div
    base-read-form(
    help-id='system-settings-form'
    ref="form"
    :api-path="apiPath"
    :show-fields="showFields"
    :to-edit="{name: 'base-edit'}")
</template>

<script>
  export default {
    props: ['apiPath'],
    data() {
      return {
        showFields: [{name: 'name'}, {name: 'short_name'}, {name: 'description'}],
      }
    },
  }
</script>
