<template>
  <organization-edit-form
    ref="form"
    :api-path="apiPath"
    :hide-after-submit="false"
    submit-btn-text="Сохранить"
    breadcrumb-attr="name"
    :to-after-save="{name: 'organization-view'}"
  ></organization-edit-form>
</template>

<script>
  import OrganizationEditForm from './forms/EditForm'

  export default {
    name: 'OrganizationEdit',
    components: {OrganizationEditForm},
    props: ['id', 'apiPath'],
  }
</script>
