<template>
  <app-card>
    <translation-fields-table
      id="organization-list"
      ref="table"
      v-bind="$props"
      :show-columns="showColumns"
      :extra-fields="extraFields"
      create-form-title="Добавление организации"
      :create-form-component="OrganizationForm"
      edit-form-title="Редактирование организации"
      :edit-form-component="OrganizationForm"
      delete-confirm-title="Удаление организацию"
      delete-confirm-text="Вы действительно хотите удалить организацию?"
      v-on="$listeners"
    >
      <template #cell-short_name_ru="props">
        <router-link :to="`/${props.row.pk}/`">
          {{ props.value || '—' }}
        </router-link>
      </template>
      <template slot="cell-logo" slot-scope="props">
        <img :src="props.row.logo.path" style="width: 100px;" />
      </template>
      <template slot="cell-key" slot-scope="props">
        <span v-if="props.row.organization_admin">{{ props.value || '—' }}</span>
        <span v-else>Нет администратора организации</span>
      </template>
    </translation-fields-table>
  </app-card>
</template>

<script>
  import OrganizationForm from './forms/EditForm'

  export default {
    name: 'OrganizationList',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        OrganizationForm,
        extraFields: ['organization_admin'],
        showColumns: [
          {
            name: 'short_name',
          },
          {
            name: 'address',
          },
          {
            name: 'logo',
          },
          {
            name: 'key',
          },
          {
            name: 'admin',
          },
        ],
      }
    },

    mounted() {
      this.$root.$emit('title-replace', 'Реестр организаций')
    },
  }
</script>
