<template>
  <app-card>
    <v-tabs show-arrows>
      <v-tab :to="{name: 'organization-view'}">
        Организация
      </v-tab>
      <v-tab :to="{name: 'subdivisions'}">
        Фотоцентры
      </v-tab>
      <v-tab :to="{name: 'accounts'}">
        Пользователи
      </v-tab>
      <v-tab :to="{name: 'config'}">
        Настройки организации
      </v-tab>
      <v-tab :to="{name: 'payments'}">
        Платежные системы
      </v-tab>
      <v-tab :to="{name: 'ftp-users'}">
        FTP пользователи
      </v-tab>
      <v-tab :to="{name: 'mobile-config'}">
        Настройки приложения
      </v-tab>
    </v-tabs>
    <v-divider class="mb-3" />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </app-card>
</template>

<script>
  export default {
    name: 'OrganizationPage',
    props: ['id', 'apiPath'],
  }
</script>
