<template lang="pug">
  app-card
    base-table(
    id="role-list"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    v-on="$listeners"
    :group-by="{name: 'organization_name', ordering: 'organization'}"
    :show-columns="showColumns"
    create-form-title='Добавление роли'
    :create-form-component='EditForm'
    edit-form-title='Редактирование роли'
    :edit-form-component='EditForm'
    delete-confirm-title="Удаление роли"
    delete-confirm-text="Вы действительно хотите удалить роль?")
      template(slot="cell-title" slot-scope="props")
        router-link(:to="`/${props.row.pk}/`") {{props.value || '—'}}
</template>

<script>
  import EditForm from './forms/EditForm'

  export default {
    props: ['apiPath', 'title'],
    data() {
      return {
        EditForm,
        showColumns: [{name: 'title', label: 'Наименование роли'}],
      }
    },
    mounted() {
      this.$root.$emit('title-replace', this.title)
    },
  }
</script>
