<template lang="pug">
  app-card(:class="{'min-height-container': !isLoaded}")
    loader-overlay(:value="isLoading")
    transition(name="fade" mode="out-in" v-if="isLoaded")
      div(v-if="loadingAlert" v-html="loadingAlert")
      div(v-else)
        div.v-table__overflow(:key="'table'")
          table.v-table.v-datatable
            thead
              tr
                th Разрешения
                th.tight.text-sm-center
            tbody
              template(v-for="item in groupedPermissions")
                tr(v-if="item[0]")
                  td.text-sm-center(:colspan="2")
                    i {{item[0]}}

                tr(v-for="permission in item[1]" :key="`permission-row-${permission.id}`")
                  td {{permission.name}}
                  td.tight.text-center
                    v-checkbox(
                    class="d-inline-flex"
                    color="accent"
                    hide-details
                    :input-value="hasRolePermission(permission)"
                    :disabled="hasParentPermission(permission)"
                    @change="togglePermission(permission)")
</template>

<script>
  import {concurrentConfirm} from 'common/modal'
  import LoadSaveMixin from 'mixins/LoadSaveMixin'

  export default {
    mixins: [LoadSaveMixin],
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        groupedPermissions: [],
        permissions: [],
        helpId: 'RolePermissionPage',
        helpTitle: 'Роли и Полномочия',
      }
    },
    methods: {
      hasRolePermission(permission) {
        return !!_.intersection(this.permissions, [...permission.parent_permission_ids, permission.id]).length
      },
      hasParentPermission(permission) {
        return !!_.intersection(this.permissions, permission.parent_permission_ids).length
      },
      togglePermission(permission) {
        const permissions = this.permissions
        const index = permissions.indexOf(permission.id)
        if (index >= 0) {
          permissions.splice(index, 1)
        } else {
          permissions.push(permission.id)
        }
        this.save()
      },
      load() {
        this.beforeLoad()
        this.$ajax
          .get(this.apiPath, {params: {fields: 'name,grouped_permissions,full_title'}})
          .then(response => {
            this.$root.$emit('title-replace', response.data.full_title)
            this.groupedPermissions = response.data.grouped_permissions
            this.permissions = response.data.permissions
            this.loaded()
          })
          .catch(error => {
            this.errorOnLoad(error)
          })
      },
      save: _.debounce(function(options) {
        this.beforeSave()
        this.$ajax
          .post(this.apiPath + 'save/', {permissions: this.permissions, ...options})
          .then(response => {
            this.groupedPermissions = response.data.grouped_permissions
            this.permissions = response.data.permissions
            this.saved()
          })
          .catch(error => {
            if (error.response && error.response.status === 409) {
              concurrentConfirm(
                error.response.data.detail,
                _.partial(this.save, {ignore_concurrent_changes: true}),
                this.load,
                this,
              )
            } else {
              this.$notifyError(error)
              this.errorOnSave(error)
              this.load()
            }
          })
      }, 100),
    },
  }
</script>
<style lang="scss" scoped>
  .v-list__tile__action {
    min-width: 30px;
    padding-left: 1%;
  }

  .v-table {
    height: 1px;
  }

  .tight {
    max-width: 100px;
  }
</style>
