<template>
  <base-form
    ref="form"
    help-id="account-edit-form"
    help-title="Форма редактирования пользователя"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    v-on="$listeners"
  ></base-form>
</template>

<script>
  export default {
    name: 'AccountEditForm',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [
          {name: 'email'},
          {name: 'last_name'},
          {name: 'first_name'},
          {name: 'patronymic'},
          {name: 'organization_permission'},
          {name: 'order_permission', visible: (f, c) => !c.model.organization_permission},
        ],
      }
    },
    mounted() {
      this.$watch(() => this.$refs.form?.model?.organization_permission, this.$refs.form.updateFieldsLayout)
    },
  }
</script>
