<template>
  <base-form
    ref="form"
    :api-path="apiPath"
    :show-fields="showFields"
    submit-btn-text="Изменить"
    v-bind="$attrs"
    v-on="$listeners"
  ></base-form>
</template>

<script>
  export default {
    name: 'ChangePasswordForm',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [
          {
            label: 'Новый пароль',
            type: 'password',
            name: 'new_password',
            required: true,
          },
          {
            label: 'Подтверждение нового пароля',
            type: 'password',
            name: 'new_password_confirm',
            validator: {password_confirm: () => this.$refs.form.model.new_password, required: true},
            required: true,
          },
        ],
      }
    },
  }
</script>
