<template>
  <translation-fields-table
    id="discount-list"
    ref="table"
    v-bind="$props"
    :create-form-component="EditForm"
    :edit-form-component="EditForm"
    :show-columns="showColumns"
    v-on="$listeners"
  ></translation-fields-table>
</template>

<script>
  import EditForm from './forms/EditForm'

  export default {
    name: 'DiscountList',
    props: ['apiPath'],
    data() {
      return {
        EditForm,
        showColumns: [
          {name: 'min_count'},
          {name: 'max_count'},
          {name: 'discount_value'},
          {name: 'show_packet_cost'},
          {name: 'enabled'},
          {name: 'order'},
        ],
      }
    },
  }
</script>
