<template>
  <v-badge :value="count" :color="badgeColor" overlap>
    <span slot="badge">{{ count }}</span>
    <v-icon>notifications_none</v-icon>
  </v-badge>
</template>

<script>
  export default {
    name: 'NotifyBell',

    components: {},

    data() {
      return {
        count: 0,
        isImportant: false,
      }
    },

    computed: {
      badgeColor() {
        return this.isImportant ? 'red' : 'primary'
      },
    },

    created() {
      this.$root.$on('refreshNotify', notifyArray => {
        this.count = notifyArray.length
        this.isImportant = !!_.find(notifyArray, 'is_important')
      })
    },
  }
</script>
