<template>
  <v-list three-line>
    <v-subheader>
      Непрочитанные сообщения
    </v-subheader>

    <v-divider />
    <div v-if="notifyArray.length">
      <div v-for="(notify, index) in notifyArray" :key="notify.pk">
        <v-list-tile
          :color="notifyColor(notify)"
          :href="`${notifyData.all}#/incoming/${notify.pk}/`"
          @click="deleteNotify(index)"
        >
          <v-list-tile-avatar>
            <img :src="notify.icon" />
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title v-html="notify.theme" />
            <v-list-tile-sub-title :color="notifyColor(notify)">
              <small class="text--primary">{{ notify.created_at }}</small>
              &mdash;{{ notify.short_message }}
            </v-list-tile-sub-title>
            <v-list-tile-sub-title v-if="notify.link">
              <a :href="`/notify/link/${notify.pk}/redirect/`">Ссылка</a>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider inset />
      </div>
      <v-btn block class="my-3" @click="markAllAsRead">
        Отметить прочитанными
      </v-btn>
    </div>
    <div v-else>
      <p class="text-xs-center pt-3 pb-3">
        У Вас нет непрочитанных сообщений
      </p>
    </div>
    <div>
      <v-btn :href="notifyData.all" block>
        Все уведомления
      </v-btn>
    </div>
  </v-list>
</template>

<script>
  export default {
    name: 'NotifyPanel',

    props: {
      notifyData: {
        type: Object,
        required: true,
      },
      intervalMsSec: {
        type: Number,
        required: false,
        default: 10000,
      },
    },

    data() {
      return {
        notifyArray: [],
      }
    },

    created() {
      setTimeout(() => {
        this.loadData()
      }, 3000)

      if (this.notifyData.periodic_task_enabled) {
        this.interval = setInterval(
          function() {
            this.loadData()
          }.bind(this),
          this.intervalMsSec,
        )
      }
    },

    beforeDestroy() {
      if (this.notifyData.periodic_task_enabled) {
        clearInterval(this.interval)
      }
    },

    methods: {
      loadData() {
        const params = {fields: 'theme,created_at,short_message,link,icon'}
        this.$ajax.get(this.notifyData.apiPath, {params}).then(({data}) => {
          this.notifyArray = data.data
          this.$emit('refreshNotify', this.notifyArray)
        })
      },

      deleteNotify(index) {
        this.notifyArray.splice(index, 1)
        this.$emit('refreshNotify', this.notifyArray)
      },

      markAllAsRead() {
        this.$ajax.post(`${this.notifyData.apiPath}mark-all-as-read/`).then(() => {
          this.notifyArray = []
          this.$emit('refreshNotify', this.notifyArray)
        })
      },

      notifyColor(notify) {
        return notify.is_important ? 'error' : ''
      },
    },
  }
</script>

<style lang="scss">
  aside .v-list--three-line .v-list__tile {
    height: auto;
    min-height: 65px;
  }
</style>
