<template>
  <app-modal v-model="show" :title="title" @hidden="onHidden">
    <base-table
      v-if="apiChanger"
      ref="table"
      :api-path="firstApiPath"
      :create-form-component="formComponent"
      :create-form-props="formProps"
      :edit-form-component="formComponent"
      :edit-form-props="formProps"
      :extra-fields="extraFields"
      :extra-filters="extraFilters"
      :extra-top-actions="extraTopActions"
      :multiple-select="multipleSelect"
      :show-columns="showColumns"
      :show-modes="showModes"
      @loaded="onTableLoaded"
    />
    <base-table
      v-else
      ref="table"
      :api-path="secondApiPath"
      :create-form-component="formComponent"
      :create-form-props="formProps"
      :edit-form-component="formComponent"
      :edit-form-props="formProps"
      :extra-fields="extraFields"
      :extra-filters="extraFilters"
      :extra-top-actions="extraTopActions"
      :multiple-select="multipleSelect"
      :show-columns="showColumns"
      :show-modes="showModes"
      @loaded="onTableLoaded"
    />
    <template slot="buttons">
      <v-btn :color="btnColor" depressed outline small @click="closeModal">
        Закрыть
      </v-btn>
      <v-btn :color="btnColor" depressed small @click="onSubmit">
        {{ btnText }}
      </v-btn>
    </template>
  </app-modal>
</template>

<script>
  import ModalMixin from 'mixins/ModalMixin'
  export default {
    name: 'AsyncChangingApiPathTableSelectModal',
    mixins: [ModalMixin],
    props: {
      firstApiPath: {
        type: String,
        required: true,
      },
      secondApiPath: {
        type: String,
        required: true,
      },
      formComponent: Object,
      formProps: Object,
      extraFilters: {
        required: false,
      },
      extraFields: {
        required: false,
        default: () => [],
      },
      title: {
        type: String,
        required: false,
      },
      multipleSelect: {
        type: Boolean,
        required: false,
        default: false,
      },
      showColumns: {
        type: Array,
        required: true,
      },
      firstApiChangerText: {
        type: String,
        required: true,
      },
      secondApiChangerText: {
        type: String,
        required: true,
      },
      apiChangerName: {
        type: String,
        required: true,
      },
      initSelected: {
        type: Array,
        required: false,
        default() {
          return []
        },
      },
      btnText: {
        type: String,
        required: false,
        default: 'Выбрать',
      },
      btnColor: {
        type: String,
        required: false,
        default: 'accent',
      },
    },
    data() {
      return {
        apiChanger: true,
        extraTopActions: [
          {
            name: this.apiChangerName,
            title: this.firstApiChangerText,
            text: this.firstApiChangerText,
            color: 'accent',
            permission: 'read',
            action: modal => {
              this.apiChanger = !this.apiChanger
              if (this.apiChanger) {
                this.extraTopActions[0].title = this.extraTopActions[0].text = this.firstApiChangerText
              } else {
                this.extraTopActions[0].title = this.extraTopActions[0].text = this.secondApiChangerText
              }
            },
          },
        ],
      }
    },
    computed: {
      showModes() {
        const showModes = {search: false, filter: false, select: true}
        if (this.formComponent !== undefined) {
          showModes.edit = false
        }
        return showModes
      },
    },
    methods: {
      onTableLoaded(table) {
        table.setSelected(this.initSelected)
      },
      onSubmit() {
        const getSelectData = this.$refs.table.getSelectData || this.$refs.table.composer.getSelectData
        getSelectData()
          .then(selected => {
            this.closeModal()
            this.$emit('submitted', selected)
          })
          .catch(error => error)
      },
    },
  }
</script>

<style scoped></style>
