<template>
  <app-modal v-model="show" :title="title" @hidden="onHidden">
    <v-alert v-if="description" :value="true" color="info">
      {{ description }}
    </v-alert>
    <app-loader :value="this" />
    <component :is="previewComponent" v-if="isLoaded" ref="preview" v-bind="previewData" />
    <template slot="buttons">
      <v-btn :color="btnColor" depressed small outline @click="closeModal">
        Закрыть
      </v-btn>
    </template>
  </app-modal>
</template>

<script>
  import ModalMixin from 'mixins/ModalMixin'
  import LoadMixin from 'mixins/LoadMixin'

  export default {
    name: 'AsyncModalPreview',
    mixins: [ModalMixin, LoadMixin],

    props: {
      previewComponent: {
        type: [Object, String],
        required: false,
      },
      previewPath: {
        type: String,
        required: true,
      },
      previewPagePath: {
        type: String,
      },
      description: {
        type: String,
        required: false,
        default: '',
      },
      btnColor: {
        type: String,
        required: false,
        default: 'accent',
      },
    },

    data() {
      return {
        title: '',
        previewData: null,
      }
    },

    methods: {
      load() {
        this.beforeLoad()
        this.$ajax
          .get(this.previewPath)
          .then(({data}) => {
            if (data) {
              this.title = data.title
              this.previewData = _.extend({apiPath: this.previewPagePath}, data)
            }
            this.loaded()
          })
          .catch(this.errorOnLoad)
      },
    },
  }
</script>
