<template>
  <app-modal v-model="show" :title="title" max-width="600px" @hidden="onHidden">
    <div v-html="confirmationText" />
    <template slot="buttons">
      <v-btn :color="btnColor" outline depressed small @click="confirmation(false)">
        {{ cancelBtnText }}
      </v-btn>
      <v-btn :color="btnColor" depressed small @click="confirmation(true)">
        {{ btnText }}
      </v-btn>
    </template>
  </app-modal>
</template>

<script>
  import ModalMixin from 'mixins/ModalMixin'

  export default {
    name: 'AsyncModalConfirmation',
    mixins: [ModalMixin],
    props: {
      title: {
        type: String,
        required: true,
      },
      confirmationText: {
        type: String,
        required: true,
      },
      cancelBtnText: {
        type: String,
        required: false,
        default: 'Отменить',
      },
      btnText: {
        type: String,
        required: false,
        default: '',
      },
      btnColor: {
        type: String,
        required: false,
        default: 'error',
      },
    },
    methods: {
      confirmation: function(result) {
        this.closeModal()
        this.$emit('submitted', result)
      },
    },
  }
</script>
