<template>
  <app-modal v-model="show" :disabled-close-btn="disabledCloseBtn" :title="title" @hidden="onHidden">
    <v-alert v-if="description" :value="true" color="info">
      {{ description }}
    </v-alert>
    <component
      :is="formComponent"
      v-if="formComponent"
      ref="form"
      :create="create"
      :show-submit-btn="false"
      v-bind="componentProps"
      @error="onError"
      @submit-success="successSubmitForm"
    />
    <template slot="buttons">
      <v-btn v-if="showCloseBtn" :color="closebtnColor" depressed small @click="closeModal">
        Закрыть
      </v-btn>
      <v-btn :color="submitbtnColor" :loading="loading" depressed small @click="submitForm">
        {{ btnText }}
      </v-btn>
    </template>
  </app-modal>
</template>

<script>
  import ModalMixin from 'mixins/ModalMixin'

  export default {
    name: 'AsyncModalForm',
    mixins: [ModalMixin],

    props: {
      formComponent: {
        type: [Object, String],
        required: false,
      },
      formProps: {
        type: Object,
        required: false,
      },
      formPath: {
        type: String,
        required: true,
      },
      title: {
        type: String,
        required: true,
      },
      description: {
        type: String,
        required: false,
        default: '',
      },
      btnText: {
        type: String,
        required: false,
        default: '',
      },
      submitbtnColor: {
        type: String,
        required: false,
        default: 'success',
      },
      closebtnColor: {
        type: String,
        required: false,
        default: 'warning',
      },
      showCloseBtn: {
        type: Boolean,
        required: false,
        default: true,
      },
      disabledCloseBtn: {
        type: Boolean,
        required: false,
        default: false,
      },
      create: {
        type: Boolean,
        required: false,
        default: false,
      },
    },

    data() {
      return {
        loading: false,
      }
    },
    computed: {
      inAction() {
        if (this.$refs.form) {
          return this.$refs.form.inAction
        }
        return null
      },
      componentProps() {
        return {apiPath: this.formPath, ...this.formProps}
      },
    },
    methods: {
      submitForm(e) {
        this.loading = true
        this.$emit('submit', e)
      },
      successSubmitForm(result) {
        this.closeModal()
        this.loading = false
        this.$emit('submitted', result.result)
      },
      onError() {
        this.loading = false
      },
    },
  }
</script>
