<template>
  <app-modal v-model="show" :title="title" @hidden="onHidden">
    <component
      :is="tableComponent"
      v-if="tableComponent"
      ref="table"
      :api-path="apiPath"
      :create-form-component="formComponent"
      :create-form-props="formProps"
      :edit-form-component="formComponent"
      :edit-form-props="formProps"
      :extra-filters="extraFilters"
      :multiple-select="multipleSelect"
      :show-columns="showColumns"
      :group-by="groupBy"
      :show-modes="showModes"
      @loaded="onTableLoaded"
    />

    <base-table
      v-else
      ref="table"
      :api-path="apiPath"
      :create-form-component="formComponent"
      :create-form-props="formProps"
      :edit-form-component="formComponent"
      :edit-form-props="formProps"
      :extra-fields="extraFields"
      :extra-filters="extraFilters"
      :multiple-select="multipleSelect"
      :show-columns="showColumns"
      :group-by="groupBy"
      :show-modes="showModes"
      @loaded="onTableLoaded"
    />
    <template slot="buttons">
      <v-btn :color="btnColor" depressed outline small @click="closeModal">
        Закрыть
      </v-btn>
      <v-btn :color="btnColor" depressed small @click="onSubmit">
        {{ btnText }}
      </v-btn>
    </template>
  </app-modal>
</template>

<script>
  import ModalMixin from 'mixins/ModalMixin'

  export default {
    name: 'AsyncTableSelectModal',
    mixins: [ModalMixin],
    props: {
      tableComponent: {
        type: Object,
        required: false,
      },
      apiPath: {
        type: String,
        required: true,
      },
      extraFilters: {
        required: false,
      },
      extraFields: {
        required: false,
        default: () => [],
      },
      showColumns: {
        type: Array,
        required: true,
      },
      groupBy: {
        type: Object,
        required: false,
      },
      multipleSelect: {
        type: Boolean,
        required: false,
        default: true,
      },
      formComponent: Object,
      formProps: Object,
      title: {
        type: String,
        required: true,
      },
      description: {
        type: String,
        required: false,
        default: '',
      },
      btnText: {
        type: String,
        required: false,
        default: 'Выбрать',
      },
      btnColor: {
        type: String,
        required: false,
        default: 'accent',
      },
      initSelected: {
        type: Array,
        required: false,
        default() {
          return []
        },
      },
    },
    computed: {
      showModes() {
        const showModes = {search: false, filter: false, select: true}
        if (this.formComponent !== undefined) {
          showModes.edit = false
        }
        return showModes
      },
    },

    methods: {
      onSubmit() {
        const getSelectData = this.$refs.table.getSelectData || this.$refs.table.composer.getSelectData
        getSelectData()
          .then(selected => {
            this.closeModal()
            this.$emit('submitted', selected)
          })
          .catch(error => error)
      },
      onTableLoaded(table) {
        table.setSelected(this.initSelected)
      },
    },
  }
</script>
