<template lang="pug">
  app-modal(v-model="show" :title="modalTitle" @hidden="onHidden")
    span {{title}}
    v-form(
      ref="form"
      @submit.prevent="onSubmit"
      @reset.prevent="onReset"
      autocomplete="off"
      novalidate)
      file-input(
        name='import_file'
        v-model='model.import_file'
        v-validate="{required: false}"
        :accept="accept"
        :messages="message"
        :error-messages="$veeErrors.collect('import_file')"
        label='Файл')

    template(slot="buttons")
      v-btn(color="accent" depressed small outline @click="closeModal") Закрыть
      v-btn(color="accent" depressed small :loading='loading' @click="onSubmit" ) Импортировать
</template>

<script>
  import FileInput from 'components/widgets/FileInput'
  import ModalMixin from 'mixins/ModalMixin'

  export default {
    $_veeValidate: {
      validator: 'new',
    },
    inject: {
      $validator: '$validator',
    },

    components: {FileInput},
    mixins: [ModalMixin],
    props: {
      apiPath: {type: String},
      title: {type: String},
      modalTitle: {type: String, default: 'Импорт'},
      message: {type: String},
      accept: {type: String, default: '.xls,.xlsx'},
    },
    data() {
      return {
        loading: false,
        model: {
          import_file: null,
        },
      }
    },
    methods: {
      async onSubmit() {
        this.loading = true
        try {
          const result = await this.$validator.validateAll()
          if (result) {
            const data = new FormData()
            data.set('import_file', this.model.import_file)
            await this.$ajax.post(`${this.apiPath}import/`, data)
          }
          this.closeModal()
          this.$emit('submitted')
        } catch (e) {
          this.$notifyError('Ошибка во время импорта', e)
        }
        this.loading = false
      },
    },
  }
</script>
