<template lang="pug">
  .min-height-container
    app-loader(:value="this")
    div(v-if="isLoaded")
      top-controls
      .min-height-container
        slot(v-bind="this")
        page-controls(
          v-if="showPageControls && hasData && paginator.num_pages"
          :selected="selected"
          :multiple-select="multipleSelect"
          :paginator="paginator")
</template>

<script>
  import HelpComponentMixin from 'mixins/help/HelpComponentMixin'
  import LoadMixin from 'mixins/LoadMixin'
  import TopControls from './controls/TopControls'
  import {GroupDelete} from './GroupActions'
  import PageControls from './pagination/PageControls'

  export default {
    name: 'BaseComposer',
    components: {TopControls, PageControls},
    mixins: [LoadMixin, HelpComponentMixin],
    props: {
      id: {
        type: String,
        required: false,
      },
      apiPath: {
        type: String,
        required: true,
      },
      selectedPk: {
        type: String,
        required: false,
      },
      multipleSelect: {
        type: Boolean,
        required: false,
        default: true,
      },
      groupBy: {
        type: Object,
        required: false,
      },
      showColumns: {
        type: Array,
        required: false,
      },

      createBtnTitle: {
        type: String,
        required: false,
        default: 'Добавить',
      },
      createBtnIcon: {
        type: String,
        required: false,
        default: 'fa-plus',
      },
      createBtnColor: {
        type: String,
        required: false,
        default: 'accent',
      },
      extraFields: {
        type: Array,
        default: () => {
          return []
        },
      },
      extraFilters: {
        type: Object,
        required: false,
      },
      extraParams: {
        type: Object,
        required: false,
      },
      createFormComponent: Object,
      createFormProps: Object,
      createFormTitle: {
        type: String,
        default: 'Добавление',
      },
      createFormButton: {
        type: String,
        default: 'Добавить',
      },

      editFormComponent: Object,
      editFormProps: [Function, Object],
      editFormTitle: {
        type: String,
        default: 'Изменение',
      },
      editFormButton: {
        type: String,
        default: 'Изменить',
      },
      deleteConfirmTitle: {
        type: String,
        default: 'Удаление',
      },
      deleteConfirmText: {
        type: String,
        default: 'Удалить?',
      },
      deleteConfirmButton: {
        type: String,
        default: 'Удалить',
      },
      readonly: {
        type: Boolean,
        default: () => false,
      },
      defaultTopActions: {
        type: Array,
        required: false,
        default() {
          return [
            {
              name: 'create',
              icon: this.createBtnIcon,
              title: this.createBtnTitle,
              text: this.createBtnTitle,
              color: this.createBtnColor,
              permission: 'create',
              mode: 'edit',
            },
          ]
        },
      },
      extraTopActions: {
        type: Array,
        required: false,
        default() {
          return []
        },
      },

      defaultGroupActions: {
        type: Array,
        required: false,
        default() {
          return [
            {
              name: 'delete',
              title: 'Удалить',
              icon: 'fa-trash-alt',
              text: 'Удалить',
              permission: 'destroy',
              mode: 'edit',
              action: GroupDelete,
            },
          ]
        },
      },
      extraGroupActions: {
        type: Array,
        required: false,
        default() {
          return []
        },
      },

      defaultRowActions: {
        type: Array,
        required: false,
        default() {
          return [
            {
              name: 'edit',
              title: 'Редактирование',
              icon: 'fa-pencil-alt',
              text: 'Изменить',
              permission: 'update',
              mode: 'edit',
            },
            {
              name: 'delete',
              title: 'Удалить',
              icon: 'fa-trash-alt',
              text: 'Удалить',
              permission: 'destroy',
              mode: 'edit',
            },
          ]
        },
      },
      extraRowActions: {
        type: Array,
        required: false,
        default() {
          return []
        },
      },
      showModes: {
        type: Object,
        required: false,
        default() {
          return {
            edit: true,
            search: false,
            filter: false,
            select: false,
            sort: false,
            config: false,
          }
        },
      },
      showTopControls: {
        type: Boolean,
        required: false,
        default: true,
      },
      showPageControls: {
        type: Boolean,
        required: false,
        default: true,
      },
      forceGetColumns: {
        type: Function,
        default: null,
      },
    },

    provide() {
      return {
        $composer: this,
      }
    },

    data() {
      const data = {
        paginator: {
          page: 1,
          page_size: 10,
        },
        columns: null,
        columnsConfig: [],
        meta: {},
        data: null,
        permissions: {},
        order: {
          by: null,
          desc: false,
        },
        modes: this.showModes,
        singleSelected: null,
        selected: {
          all: false,
          indeterminate: false,
          checked: [],
        },
        searchQuery: '',
        filter: {},
        filterFields: [],
        groupColumn: null,
      }
      this.loadPreferences(data)
      return data
    },

    computed: {
      sortedColumns() {
        const sorted = []
        if (this.columns) {
          for (let i = 0; i < this.columnsConfig.length; i++) {
            const column = this.columnsConfig[i]
            if (column.show && !column.meta?.hidden) {
              const found = this.$_.find(this.columns, {name: column.name})
              if (found) {
                sorted.push(found)
              }
            }
          }
        }
        return sorted
      },
      groupedColumns() {
        const groups = []
        let prev = {column: {}}
        for (const column of this.sortedColumns) {
          let group = {}
          if (column.group) {
            if (column.group.label === prev.column.label) {
              prev.colspan += 1
              prev.columns.push(column)
              continue
            } else {
              group.column = {...column.group, noHidable: true}
              group.colspan = 1
              group.columns = [column]
            }
          } else {
            group = {column, colspan: 1}
          }
          groups.push(group)
          prev = group
        }
        return groups
      },
      topActions() {
        return this.filterActions([...this.extraTopActions, ...this.defaultTopActions])
      },
      groupActions() {
        return [...this.filterActions(this.defaultGroupActions), ...this.filterActions(this.extraGroupActions, true)]
      },
      rowActions() {
        return this.filterActions([...this.extraRowActions, 'divider', ...this.defaultRowActions])
      },
      hasData() {
        return this.paginator.count
      },
      page() {
        return this.paginator.page
      },
      pageSize() {
        return this.paginator.page_size
      },
      orderBy() {
        if (this.order.by) {
          const desc = this.order.desc ? '-' : ''
          return desc + this.order.by.split(',').join(',' + desc)
        }
        return null
      },
      preferences() {
        if (!this.isLoaded) {
          return null
        }

        return {
          paginator: {
            page_size: this.paginator.page_size,
            page: this.paginator.page,
          },
          order: this.order,
          modes: this.modes,
          columns: this.columnsConfig,
        }
      },
      queryPrefs() {
        return this.$route.query[this.preferencesKey]
      },
      loadParams() {
        let params = {page: this.page, page_size: this.pageSize}
        if (this.orderBy) {
          params.ordering = this.orderBy
        }

        if (this.getColumns()) {
          params.fields = this.$_.map(this.getColumns(), 'name')
            .concat(this.extraFields)
            .join(',')
        }
        if (this.groupBy) {
          params.ordering = this.groupBy.ordering + (params.ordering ? ',' + params.ordering : '')
          params.fields = this.groupBy.name + (params.fields ? ',' + params.fields : '')
        }
        if (this.searchQuery && this.modes.search && this.permissions.search) {
          params.search = this.searchQuery
        }
        if (this.filter && !this.$_.isEmpty(this.filter) && this.modes.filter && this.permissions.filter) {
          params.filter = this.filter
        }
        if (this.extraFilters) {
          const extraFilters = _.isFunction(this.extraFilters) ? this.extraFilters() : this.extraFilters
          params.filter = {...params.filter, ...extraFilters}
        }
        if (this.extraParams) {
          params = Object.assign({}, params, this.extraParams)
        }
        return params
      },
    },
    watch: {
      pageSize(newValue, oldValue) {
        if (newValue > oldValue && this.paginator.page !== 1) {
          this.paginator.page = 1
        }
      },
      preferences: {
        handler(value, old) {
          if (value) {
            this.savePreferences()
          }
        },
        deep: true,
      },
      apiPath(value) {
        if (value) this.load()
      },
      loadParams(value, oldValue) {
        if (value && !this.$_.isEqual(value, oldValue)) this.load()
      },
      queryPrefs() {
        this.loadPreferences(this)
      },
      searchQuery() {
        this.selected.indeterminate = false
        this.selected.checked = []
      },
    },
    mounted() {
      this.$on('selectAll', this.selectAll)
      this.$on('filter', this.onFilter)
      this.$on('sort', this.sort)
      this.$on('orderColumn', this.orderColumn)
      this.$on('applySelectedAction', this.applySelectedAction)
    },
    destroyed() {
      this.$off('selectAll', this.selectAll)
      this.$off('filter', this.onFilter)
      this.$off('sort', this.sort)
      this.$off('orderColumn', this.orderColumn)
      this.$off('applySelectedAction', this.applySelectedAction)
    },
    methods: {
      load() {
        this.beforeLoad()
        return this.$ajax
          .get(this.apiPath, {params: this.loadParams})
          .then(({data}) => {
            this.meta = data.meta || {}
            this.paginator = data.paginator
            this.columns = this.getColumns(data.meta.fields)
            if (this.groupBy) {
              this.groupColumn = this.$_.find(data.meta.fields, {
                name: this.groupBy.name,
              })
            }
            this.data = data.data
            this.permissions = data.meta.permissions

            // const missingColumns = this.$_.reduce(
            //   this.columnsConfig,
            //   (result, column, i) => {
            //     const miss = column.show && !column.meta?.hidden && !this.$_.find(this.columns, {name: column.name})
            //     if (miss) {
            //       result.push(i)
            //     }
            //     return result
            //   },
            //   [],
            // )
            // missingColumns.forEach(i => this.columnsConfig.splice(i, 1))

            if (this.columns) {
              this.columns.forEach(column => {
                const found = this.$_.find(this.columnsConfig, {name: column.name})
                if (!found) {
                  this.columnsConfig.push({
                    name: column.name,
                    show: true,
                  })
                }
              })
            }

            // if (this.modes.edit && !this.permissions.create && !this.permissions.update && !this.permissions.destroy) {
            this.modes.edit = true
            // }
            const modesNames = ['search', 'filter']
            for (const mode of modesNames) {
              if (mode in this.permissions && !this.permissions[mode]) {
                this.modes[mode] = false
              }
            }
            if (this.readonly) {
              delete this.modes.edit
              delete this.modes.select
            }
            this.filterFields = this.getFilterFields(data.meta.filter_fields, data.meta.fields)
            if (!this.filterFields.length) {
              delete this.modes.filter
            }
            this.loaded(data)
          })
          .catch(error => {
            this.errorOnLoad(error)
          })
      },
      selectAll(value) {
        this.selected.all = value
        this.selected.checked = []
        this.selected.indeterminate = false
      },
      onFilter(filter) {
        this.filter = {...filter}
        this.selected.indeterminate = false
        this.selected.checked = []
      },
      getColumns(columns) {
        if (this.forceGetColumns) {
          return this.forceGetColumns()
        }
        if (this.showColumns) {
          const result = []
          for (const showCol of this.showColumns) {
            let col = this.$_.find(columns, {name: showCol.name})
            if (col) {
              col = this.$_.extend({}, col, showCol, {
                meta: this.$_.extend({}, col.meta, showCol.meta),
              })
              result.push(col)
            } else if (!columns || showCol.label !== undefined) {
              col = this.$_.extend({}, showCol, {
                meta: this.$_.extend({}, showCol.meta),
              })
              result.push(col)
            }
          }
          return result
        }
        return this.$_.filter(columns, {write_only: false})
      },
      getColumnLabel(column) {
        const found = this.$_.find(this.columns, {name: column.name})
        return found ? found.label : ''
      },
      getFilterFields(filterFields, fields) {
        const result = []
        if (!filterFields) {
          return result
        }

        for (const fieldName of filterFields) {
          const field = this.$_.find(fields, {name: fieldName})
          const isExtra = this.extraFilters && !!this.extraFilters[fieldName]
          if (field && !isExtra) {
            result.push(field)
          }
        }
        return result
      },

      loadPreferences(data) {
        try {
          data.preferencesKey = `bt-prefs-${this.id || this._uid}`
          let prefs
          if (this.$route.query[data.preferencesKey]) {
            prefs = atob(this.$route.query[data.preferencesKey])
          } else {
            prefs = localStorage.getItem(data.preferencesKey)
          }

          if (prefs === null) {
            return
          }

          prefs = JSON.parse(prefs)

          Object.keys(prefs.paginator).forEach(key => {
            this.$set(data.paginator, key, prefs.paginator[key])
          })

          Object.keys(prefs.order).forEach(key => {
            this.$set(data.order, key, prefs.order[key])
          })

          Object.keys(prefs.modes).forEach(key => {
            this.$set(data.modes, key, prefs.modes[key])
          })

          // data.columnsConfig = prefs.columns || []
        } catch (e) {
          console.log(e)
        }
      },
      savePreferences() {
        const prefs = JSON.stringify(this.preferences)
        if (this.id) {
          localStorage.setItem(this.preferencesKey, prefs)
        }

        const query = this.$_.extend({}, this.$route.query)
        const prefsEncoded = btoa(prefs)
        if (query[this.preferencesKey]) {
          if (query[this.preferencesKey] !== prefsEncoded) {
            query[this.preferencesKey] = prefsEncoded
            this.$router.push({query})
          }
        } else {
          query[this.preferencesKey] = prefsEncoded
          this.$router.replace({query})
        }
      },

      sort(type, data) {
        this.beforeLoad()
        this.$ajax
          .post(
            this.apiPath + 'sort/',
            {
              type: type,
              data: data,
            },
            {
              params: {
                ...this.loadParams,
              },
            },
          )
          .then(this.load)
          .catch(this.load)
      },

      orderColumn(column) {
        if (!column) {
          this.order.by = null
          this.order.desc = false
        } else {
          if (this.order.by === column.ordering) {
            if (this.order.desc) {
              this.order.by = null
              this.order.desc = false
            } else {
              this.order.desc = true
            }
          } else {
            this.order.by = column.ordering
            this.order.desc = false
          }
        }
      },

      getSelectData() {
        const params = {
          ...this.loadParams,
          selected: this.selected,
        }

        return this.$ajax
          .get(this.apiPath + 'selected/', {params: params})
          .then(response => response.data)
          .catch(error => error)
      },

      setSelected(checked) {
        this.selected.all = checked.length === this.paginator.total_count
        this.selected.checked = checked
        this.selected.indeterminate = false
        if (!this.multipleSelect && checked.length === 1) {
          this.singleSelected = checked[0]
        }
      },

      resetSelected() {
        this.selected.all = false
        this.selected.indeterminate = false
        this.selected.checked = []
        if ('select' in this.modes) {
          this.modes.select = false
        }
      },

      filterActions(actions, ignoreMode) {
        actions = this.$_.filter(actions, action => {
          if (action === 'divider') return true
          if (!ignoreMode && action.mode && !this.modes[action.mode]) {
            return false
          }
          if (Object.prototype.hasOwnProperty.call(this.permissions, action.name)) {
            if (!this.permissions[action.name]) {
              return false
            }
          }
          if (Object.prototype.hasOwnProperty.call(this.permissions, action.permission)) {
            if (!this.permissions[action.permission]) {
              return false
            }
          }
          return !(!this.data.length && action.hideOnEmpty)
        })
        while (actions[0] === 'divider') actions.shift()
        while (actions[actions.length - 1] === 'divider') actions.pop()
        return actions
      },

      onCreate() {
        if (this.createFormComponent) {
          const promise = this.$modalForm({
            helpId: 'createModal',
            helpTitle: 'Модальное окно добавления',
            title: this.createFormTitle,
            formComponent: this.createFormComponent,
            formProps: this.createFormProps,
            formPath: this.apiPath,
            btnText: this.createFormButton,
            create: true,
          })
          promise.then(
            result => {
              this.$emit('created', result)
              this.load()
            },
            () => {},
          )
        }
      },
      onEdit(row) {
        if (this.editFormComponent) {
          const promise = this.$modalForm({
            helpId: 'editModal',
            helpTitle: 'Модальное окно редактирования',
            title: this.editFormTitle,
            formComponent: this.editFormComponent,
            formProps: this.$_.isFunction(this.editFormProps) ? this.editFormProps(row) : this.editFormProps,
            formPath: this.apiPath + row.pk + '/',
            btnText: this.editFormButton,
          })
          promise.then(
            result => {
              this.$emit('edited', result)
              this.load()
            },
            () => {},
          )
        }
      },
      onDelete(row) {
        return this.$deleteConfirm({
          helpId: 'deleteConfirm',
          helpTitle: 'Подтверждение удаления',
          title: this.deleteConfirmTitle,
          confirmationText: this.deleteConfirmText,
          btnText: this.deleteConfirmButton,
          apiPath: `${this.apiPath}${row.pk}/`,
          afterDelete: () => {
            this.$emit('deleted')
            this.load()
          },
        }).catch(err => {
          if (err.message !== 'canceled') {
            this.$notifyError('Ошибка во время удаления', err)
          }
        })
      },

      async applySelectedAction(action) {
        const total = this.paginator.total_count
        let count = 0
        const sel = this.selected
        if (sel.all) {
          count = total
        } else if (sel.indeterminate) {
          count = total - sel.checked.length
        } else {
          count = sel.checked.length
        }
        if (action.action) {
          try {
            await action.action.apply(this, [{action, count}, this])
            this.resetSelected()
            this.load()
          } catch {}
        } else {
          const promise = this.$confirm({
            helpId: 'selectedConfirm',
            helpTitle: 'Подтверждение группового действия',
            title: `${action.title}`,
            confirmationText: `Вы действительно хотите ${action.text}?`,
            btnText: 'Применить',
          })
          promise.then(
            result => {
              if (result) {
                const params = {
                  ...this.loadParams,
                  selected: this.selected,
                }
                this.loadingDecorator(this.$ajax.post(`${this.apiPath}selected-${action.name}/`, {}, {params}))
                  .then(this.load)
                  .catch(this.errorOnLoad)
              }
            },
            err => {
              console.log(err)
            },
          )
        }
      },
    },
  }
</script>
