<template>
  <v-hover>
    <v-card class="elevation-2 mx-auto" width="400">
      <v-img :aspect-ratio="16 / 9" src="/static/images/palaroid.jpg">
        <v-container fill-height fluid pa-2>
          <v-layout fill-height>
            <v-flex xs12></v-flex>
          </v-layout>
        </v-container>
      </v-img>
      <v-container>
        <p v-if="state == 'success'" class="text-center font-weight-bold">
          Ваш заказ №{{ orderNumber }} успешно оплачен
        </p>
        <p v-else-if="state == 'previously_paid'" class="text-center font-weight-bold">
          Ваш заказ №{{ orderNumber }} ранее был оплачен
        </p>
        <p v-else class="text-center font-weight-bold">При попытке оплаты произошла ошибка</p>
      </v-container>
      <v-spacer></v-spacer>
      <p class="text-center">&copy; {{ new Date().getFullYear() }} {{ copyright }}</p>
    </v-card>
  </v-hover>
</template>

<script>
  export default {
    name: 'SuccessPaymentPage',
    props: ['orderNumber', 'state'],
    data() {
      return {}
    },
  }
</script>
