<template>
  <translation-fields-form ref="form" :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'PaymentTypeForm',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [{name: 'type'}, {name: 'name'}, {name: 'description'}],
      }
    },
  }
</script>
