<template>
  <translation-fields-table
    id="product-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    create-form-title="Добавление продукта"
    :create-form-component="ProductForm"
    edit-form-title="Редактирование продукта"
    :edit-form-component="ProductForm"
    delete-confirm-title="Удаление продукта"
    delete-confirm-text="Вы действительно хотите удалить продукт?"
    v-on="$listeners"
  >
    <template slot="cell-icon" slot-scope="props">
      <img :src="props.row.icon.path" style="width: 100px;" />
    </template>
    <template slot="cell-background_image" slot-scope="props">
      <img :src="props.row.background_image.path" style="width: 100px;" />
    </template>
  </translation-fields-table>
</template>

<script>
  import ProductForm from './forms/Form'

  export default {
    name: 'ProductList',
    props: ['apiPath'],
    data() {
      return {
        ProductForm,
        showColumns: [{name: 'format'}, {name: 'name'}, {name: 'icon'}, {name: 'background_image'}],
      }
    },
  }
</script>
