<template>
  <translation-fields-form
    help-id="edit-form"
    help-title="Форма редактирования типа доставки"
    :api-path="apiPath"
    :show-fields="showFields"
    :fieldsets="fieldsets"
    v-bind="$attrs"
    v-on="$listeners"
  ></translation-fields-form>
</template>

<script>
  export default {
    name: 'EditForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'name'},
          {name: 'width', validator: {required: true}},
          {name: 'height', validator: {required: true}},

          {name: 'polaroid_frame_width'},
          {name: 'polaroid_frame_bottom_width'},
          {name: 'instagram_frame_width'},

          {name: 'enabled'},
          {name: 'order'},
        ],
        fieldsets: [
          {
            name: 'information',
            title: 'Формат',
            fields: ['name', 'width', 'height', 'enabled', 'order'],
          },
          {
            name: 'polaroid',
            title: 'Рамка Polaroid',
            fields: ['polaroid_frame_width', 'polaroid_frame_bottom_width'],
          },
          {
            name: 'instagramm',
            title: 'Рамка Instagramm',
            fields: ['instagram_frame_width'],
          },
        ],
      }
    },
  }
</script>
