<template>
  <translation-fields-form :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'DeliveryRegionForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'name'},
          {name: 'cost'},
          {name: 'payment_types', validator: {required: true}},
          {name: 'enabled'},
          {name: 'order'},
        ],
      }
    },
  }
</script>
