<template>
  <edit-form
    ref="form"
    :api-path="apiPath"
    :hide-after-submit="false"
    submit-btn-text="Сохранить"
    :to-after-save="{name: 'price-view'}"
  ></edit-form>
</template>

<script>
  import EditForm from './forms/Form'

  export default {
    name: 'FormatPriceEdit',
    components: {EditForm},
    props: ['id', 'apiPath'],
  }
</script>
