<template>
  <translation-fields-table
    id="format_price-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    :create-form-component="EditForm"
    :edit-form-component="EditForm"
    :extra-fields="extraFields"
    v-on="$listeners"
  >
    <template slot="cell-paper_type_name" slot-scope="props">
      <a :href="`/workspace/catalog/photo-format/price/${props.row.pk}/`">{{ props.value || '—' }}</a>
    </template>
    <template #cell-price="props">{{ props.value || 0 }}</template>
  </translation-fields-table>
</template>

<script>
  import EditForm from './forms/Form'

  export default {
    name: 'FormatPriceList',
    props: ['id', 'apiPath'],
    data() {
      return {
        EditForm,
        extraFields: ['paper_type'],
        showColumns: [{name: 'paper_type_name'}, {name: 'price'}, {name: 'enabled'}, {name: 'order'}],
      }
    },
  }
</script>
