<template>
  <base-form
    ref="form"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    :hide-after-save="false"
    :show-cancel-btn="false"
    submit-btn-text="Сохранить"
    v-on="$listeners"
  ></base-form>
</template>

<script>
  export default {
    name: 'PromoCodeEdit',
    props: ['id', 'apiPath'],
    data() {
      return {
        showFields: [
          {name: 'code'},
          {name: 'start_date'},
          {name: 'end_date'},
          {name: 'type'},
          {name: 'value'},
          {name: 'minimum_amount'},
          {name: 'number_uses'},
          {name: 'comment'},
        ],
      }
    },
    mounted() {
      this.$watch(
        () => this.$refs.form?.model?.__str__,
        value => {
          this.$root.$emit('title-replace', `Промокод: ${value}`)
        },
      )
    },
  }
</script>
