<template>
  <base-form
    ref="form"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    :hide-after-save="false"
    :show-cancel-btn="false"
    submit-btn-text="Сохранить"
    v-on="$listeners"
  ></base-form>
</template>

<script>
  export default {
    name: 'ProductGroupEdit',
    props: ['id', 'apiPath'],
    data() {
      return {
        showFields: [
          {name: 'product_group'},
          {
            name: 'photo_formats',
            visible: (f, c) => {
              return c.model.product_group == 'photo_printing'
            },
          },
        ],
      }
    },
    mounted() {
      this.$watch(
        () => this.$refs.form.model.product_group,
        () => this.$refs.form.updateFieldsLayout(),
      )
    },
  }
</script>
