<template>
  <app-card>
    <base-table
      id="promo_code-list"
      ref="table"
      v-bind="$props"
      :show-columns="showColumns"
      :create-form-component="EditForm"
      :edit-form-component="EditForm"
      v-on="$listeners"
    >
      <template #cell-code="props">
        <router-link :to="`/${props.row.pk}/`">
          {{ props.value || '—' }}
        </router-link>
      </template>
    </base-table>
  </app-card>
</template>

<script>
  import EditForm from './forms/EditForm'

  export default {
    name: 'PromoCodeList',
    props: ['apiPath'],
    data() {
      return {
        EditForm,
        showColumns: [
          {name: 'code'},
          {name: 'start_date'},
          {name: 'end_date'},
          {name: 'type'},
          {name: 'value'},
          {name: 'minimum_amount'},
          {name: 'number_uses'},
          {name: 'comment'},
        ],
      }
    },

    mounted() {
      this.$root.$emit('title-replace', 'Промокоды')
    },
  }
</script>

<style></style>
