<template>
  <app-card>
    <v-tabs show-arrows>
      <v-tab :to="{name: 'promo-code'}">
        Промокод
      </v-tab>
      <v-tab :to="{name: 'product-group'}">
        Группа продукции
      </v-tab>
    </v-tabs>
    <v-divider class="mb-3" />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </app-card>
</template>

<script>
  export default {
    name: 'PromoCodePage',
    props: ['id', 'apiPath'],
  }
</script>

<style></style>
