<template lang="pug">
  v-breadcrumbs.pa-0.mb-2(:items="routeCrumbs")
    template(slot="item" slot-scope="props")
      v-breadcrumbs-item(
        :disabled="props.item.disabled"
        :to="props.item.link"
        :href="props.item.url"
        active-class="")
        v-tooltip(bottom)
          span(slot="activator") {{ props.item.name }}
          span {{ props.item.name }}
</template>

<script>
  export default {
    name: 'AppBreadcrumb',
    props: {
      breadcrumb: {
        type: Array,
        required: true,
      },
    },
    data() {
      return {
        breadcrumbData: [...this.breadcrumb],
        routeCrumbs: [...this.breadcrumb],
      }
    },
    watch: {
      $route(to, from) {
        if (_.isEqual(to.matched, from.matched)) return
        const crumbs = [...this.breadcrumbData]
        if (crumbs.length && !crumbs[crumbs.length - 1].url) {
          crumbs[crumbs.length - 1].link = {path: '/'}
        }

        const matched = to.matched
        matched.forEach(route => {
          let meta = route.meta
          if (!meta) {
            return
          }
          if (this.$_.isFunction(meta)) {
            meta = meta(this.$route)
          }

          const name = meta.breadcrumb
          if (name) {
            let link = meta.link
            link = {...link}
            if (!link) {
              const path = this.$router.matcher.match(route, to).path
              link = {path}
            }
            crumbs.push({name, link})
          }
          if (meta.appendBreadcrumbs && route.instances?.default) {
            const appendCrumbs = meta.appendBreadcrumbs(this.$route, route.instances?.default)
            crumbs.push(...appendCrumbs)
          }
        })
        this.routeCrumbs = crumbs
        this.$emit('update:breadcrumb', this.routeCrumbs)
      },
    },
    mounted() {
      this.$root.$on('breadcrumb-replace', this.breadcrumbReplace)
    },
    destroyed() {
      this.$root.$off('breadcrumb-replace', this.breadcrumbReplace)
    },
    methods: {
      breadcrumbReplace(source, target) {
        for (const item of this.$route.matched) {
          if ((item.meta && item.meta.breadcrumb === source) || item.meta.oBreadcrumb === source) {
            if (!item.meta.breadcrumb) {
              item.meta.oBreadcrumb = item.meta.breadcrumb
            }
            item.meta.breadcrumb = target
          }
        }

        for (const item of this.breadcrumbData) {
          if (item.name === source || item.oName === source) {
            if (!item.oName) {
              item.oName = item.name
            }
            item.name = target
          }
        }
        const crumbs = [...this.routeCrumbs]
        for (const item of crumbs) {
          if (item.name === source || item.oName === source) {
            if (!item.oName) {
              item.oName = item.name
            }
            item.name = target
          }
        }
        this.routeCrumbs = crumbs
      },
    },
  }
</script>

<style scoped lang="scss">
  .v-breadcrumbs {
    letter-spacing: initial;

    li {
      height: 21px;
    }

    /deep/ {
      .v-breadcrumbs__item {
        max-width: 400px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
        color: inherit;
      }

      li:last-child .v-breadcrumbs__item {
        color: inherit;
      }

      li:nth-child(even) {
        padding: 0 6px;
      }

      li:last-child a {
        cursor: pointer;
        pointer-events: inherit;
      }
    }
  }
</style>
