<template>
  <v-footer absolute height="40px">
    <v-flex class="text-xs-center">&copy; {{ new Date().getFullYear() }}, {{ appCopyright }}</v-flex>
  </v-footer>
</template>

<script>
  export default {
    name: 'AppFooter',

    props: {
      appCopyright: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .theme--light.v-footer {
    background: none;
  }
</style>
