<template lang="pug">
  v-toolbar(app dense)
    v-toolbar-title.ml-0.headline(:style="{width:'100%'}")
      header-title.header(:title="innerTitle")
    v-toolbar-title.ml-0(slot="extension" v-if="innerBreadcrumb.length")
      app-breadcrumb(:breadcrumb.sync="innerBreadcrumb")
    v-spacer
    Header(:profile-info="profileInfo")
</template>

<script>
  import Header from 'components/coreui/Header/Header'
  import HeaderTitle from './HeaderTitle'

  export default {
    name: 'AppHeader',

    components: {
      Header,
      HeaderTitle,
    },
    props: {
      title: {
        type: String,
        required: true,
      },
      breadcrumb: {
        type: Array,
        required: true,
      },
      profileInfo: {
        type: Object,
        required: true,
      },
    },

    data() {
      return {
        innerBreadcrumb: [...this.breadcrumb],
        innerTitle: this.title,
      }
    },
    computed: {
      canManageSystem() {
        return this.$store.getters.projectData.canManageSystem
      },
    },
    mounted() {
      this.$root.$on('title-replace', this.titleReplace)
      this.originTitle = document.title
    },
    destroyed() {
      this.$root.$off('title-replace', this.titleReplace)
      document.title = this.originTitle
    },
    methods: {
      titleReplace(title) {
        this.innerTitle = title
        const commonTitlePart = ' |' + this.originTitle.split('|').reverse()[0]
        document.title = title + commonTitlePart
      },
    },
  }
</script>

<style lang="scss" scoped>
  .header {
    font-weight: 300;
  }

  .v-toolbar {
    background-color: #fff;
  }
</style>
