<template lang="pug">
  v-navigation-drawer(
  ref="nav"
  :value="true"
  fixed
  app
  )
    v-layout(column fill-height)
      v-toolbar(class="transparent" flat)
        v-list
          v-list-tile.pl-1(@click.stop)
            a(href="/" title="На главную" class="menu-title") Меню


      v-list(dense)
        template(v-for="(item, i) in navItems")

          v-list-group(v-if="item.children" :prepend-icon="item.icon" :value="!!item.active" :title="item.name")
            v-list-tile(slot="activator")
              v-list-tile-title {{item.name}}

            template(v-for="(subItem, j) in item.children")
              v-list-tile(:key="j" :href="subItem.url" :title="subItem.name"  :disabled="subItem.disabled" :target="subItem.target" active-class="accent" :value="!!subItem.active" @click.stop)
                v-list-tile-title {{subItem.name}}
                v-list-tile-action
                  v-icon {{subItem.icon}}
              v-divider(v-if="subItem.divider")

          v-list-tile(v-else :key="i" :href="item.url" :title="item.name" :disabled="item.disabled" :target="item.target" active-class="accent" :value="!!item.active" @click.stop)
            v-list-tile-action
              v-icon {{item.icon}}
            v-list-tile-title {{item.name}}

</template>

<script>
  export default {
    name: 'AppLeftSidebar',

    props: {
      navItems: {
        type: Array,
        required: true,
      },
      rootPath: {
        type: String,
        required: true,
      },
    },

    data() {
      return {
        mini: true,
        imgStyle: {
          width: '40px',
        },
      }
    },

    watch: {
      mini(newValue) {
        if (newValue) {
          return
        }
        this.$nextTick(() => {
          if (this.$refs.nav.overlay) {
            this.$refs.nav.overlay.addEventListener('click', () => (this.mini = true), {once: true})
          }
        })
      },
    },

    methods: {
      onClickToggleBtn() {
        this.mini = !this.mini
      },
    },
  }
</script>

<style lang="scss" scoped>
  .menu-title {
    text-decoration: none;
    text-transform: uppercase;
  }

  /deep/ .v-list .v-list__group--active::before {
    background: none;
  }

  /deep/ .v-list--dense .v-list__tile .v-icon,
  /deep/ .v-list__group__header .list__group__header__prepend-icon .v-icon {
    font-size: 24px;
  }

  /deep/ .v-list__group__items--no-action .v-list__tile {
    padding: 0 16px;
  }

  /deep/ .v-list__group__items--no-action .v-list__tile .v-icon {
    font-size: 6px !important;
  }

  /deep/ .app-title {
    font-size: 14px;
  }

  /deep/ .v-list__tile--active {
    color: white;

    .theme--light.v-icon {
      color: white;
    }
  }

  /deep/ .root-link {
    text-decoration: none;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
 {
    opacity: 0;
  }
</style>
