<template>
  <v-navigation-drawer ref="nav" :value="drawer" app right stateless width="400"></v-navigation-drawer>
</template>

<script>
  export default {
    name: 'AppRightSidebar',

    props: {
      notifyData: {
        type: Object,
        required: true,
      },
    },

    data() {
      return {
        drawer: false,
        activePanel: '',
      }
    },
    created() {
      this.$root.$on('showRightMenu', tab => {
        if (this.activePanel === tab) {
          this.drawer = !this.drawer
        } else {
          this.drawer = true
        }
        this.activePanel = tab
      })
    },
  }
</script>

<style lang="scss" scoped></style>
