<template lang="pug">
  v-tooltip(bottom open-on-hover)
    span.header-title(slot="activator") {{title}}
    span {{title}}
</template>

<script>
  export default {
    name: 'HeaderTitle',
    props: ['title'],
  }
</script>

<style lang="scss" scoped>
  .header-title {
    min-width: 0;
  }
</style>
