<template>
  <v-hover>
    <v-card slot-scope="{hover}" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto" width="400">
      <v-img :aspect-ratio="16 / 9" src="/static/images/palaroid.jpg">
        <v-container fill-height fluid pa-2>
          <v-layout fill-height>
            <v-flex xs12>
              <!--<span class="headline text-uppercase white&#45;&#45;text">Fotis</span>-->
            </v-flex>
          </v-layout>
        </v-container>
      </v-img>
      <v-container>
        <p class="text-center font-weight-bold">{{ pageTitle }}</p>
        <slot>
          <router-view></router-view>
        </slot>
      </v-container>
      <v-spacer></v-spacer>
      <p class="text-center">&copy; {{ new Date().getFullYear() }} {{ copyright }}</p>
    </v-card>
  </v-hover>
</template>

<script>
  export default {
    name: 'PublicAuth',
    props: ['title'],

    data() {
      return {
        pageTitle: null,
        commonTitlePart: ' |' + document.title.split('|').reverse()[0],
      }
    },
    computed: {
      copyright() {
        return window.COPYRIGHT
      },
    },

    watch: {
      '$route.params': function() {
        this.checkTitle()
      },
    },

    created() {},
    mounted: function() {
      this.checkTitle()
    },
    methods: {
      checkTitle() {
        if (this.$route.meta && this.$route.meta.title) {
          this.pageTitle = this.$route.meta.title
        } else {
          this.pageTitle = this.title
        }
        document.title = this.pageTitle + this.commonTitlePart
      },
    },
  }
</script>
<style lang="scss" scoped></style>
