<template>
  <div>
    <app-card elevation="0" title="Настройки приложения" class="mt-3">
      <base-form
        help-id="config-form"
        help-title="Форма редактирования организации"
        :api-path="apiPath"
        :show-fields="showFields"
        :show-cancel-btn="false"
        :hide-after-save="false"
        submit-btn-text="Сохранить"
        v-bind="$attrs"
        v-on="$listeners"
      ></base-form>
    </app-card>
  </div>
</template>

<script>
  export default {
    name: 'MobileConfigPage',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'about_link'},
          {name: 'personal_data_policy_link'},
          {name: 'privacy_policy_link'},
          {name: 'refund_policy_link'},
        ],
      }
    },
  }
</script>
