.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.tab-fade-enter-active {
  transition: opacity 0.25s;
  transition-delay: 0.25s;
}

.tab-fade-leave-active {
  transition: opacity 0.25s;
}

.tab-fade-enter,
.tab-fade-leave-to {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.tab-fade-enter-to,
.tab-fade-leave {
  opacity: 1;
  height: auto;
}

.bottom-collapse-enter-active,
.bottom-collapse-leave-active {
  transition: 0.25s;
}

.bottom-collapse-enter,
.bottom-collapse-leave-to {
  transform-origin: 50% 100%;
  transform: scaleY(0);
  opacity: 0;
}

.slide-prev-enter-active,
.slide-prev-leave-active,
.slide-next-enter-active,
.slide-next-leave-active {
  transition: all 0.25s ease-in-out;
}

.slide-prev-leave-active,
.slide-next-leave-active {
  position: absolute;
}

.slide-prev-enter,
.slide-next-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-prev-leave-to,
.slide-next-enter {
  opacity: 0;
  transform: translateX(30px);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
