form {
  .form-group {
    margin-bottom: 0.6rem;
  }

  .input-group label {
    width: auto;
  }

  .input-group--required label {
    &::after {
      content: '*';
    }
  }
}

.list {
  .v-list__tile--highlighted {
    background: none !important;
  }
}
