:root {
  --shadesBlack: #e0e0e0;
  --tableHoverBlack: #f0f0f0;
}

[v-cloak] {
  visibility: hidden;
}

.profile-body .v-card {
  margin-top: 100px;
}

.app-body {
  .v-content {
    flex: 1;
    min-width: 0;
    min-height: 100vh;
    padding-bottom: 36px;
  }
}

.v-navigation-drawer--is-mobile,
.v-navigation-drawer--temporary {
  z-index: 10;
}

header {
  .v-toolbar {
    width: auto;
  }

  .v-divider {
    margin: 0 24px;
    width: auto;
  }
}

.min-height-container {
  position: relative;
  min-height: 50px;
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

.v-btn {
  text-transform: none;
  margin: 0;
  border-radius: 0;
}

.v-btn--icon,
.v-btn--floating {
  border-radius: 50%;
}

.v-btn--depressed {
  border: 1px solid transparent;
}

.v-btn--depressed.v-btn--disabled {
  border-color: transparent !important;
}

.v-btn--floating .v-btn__content,
.v-btn__content {
  margin-top: -1px;
}

.v-btn--small {
  min-width: 0;
}

.v-list__tile,
.v-btn {
  &:hover {
    text-decoration: none;
  }
}

.v-icon.fa {
  font-size: 21px;
}

.v-icon--left,
.v-btn .v-icon--left {
  margin-right: 8px;
}

.v-tabs__item {
  text-transform: none;

  &:hover {
    text-decoration: none;
  }
}

table.v-table {
  thead {
    tr:first-child {
      border-top: 1px solid var(--shadesBlack);
    }

    th {
      text-align: inherit;
      vertical-align: top;
      padding-top: 0.5rem;
      font-weight: bold;
      white-space: normal;
      position: relative;
      font-size: 12px;

      &.no-wrap {
        white-space: nowrap;
      }
    }

    td {
      font-weight: 400;
      font-size: 13px;
    }
  }

  tr:not(:last-child),
  tr:last-child {
    border-bottom: 1px solid var(--shadesBlack);
  }

  tr.noborder {
    border-bottom: none;
  }

  tbody tr.hover,
  tbody tr:hover {
    background-color: var(--tableHoverBlack);
  }

  th,
  td {
    height: auto;
    vertical-align: top;
    padding: 8px;
  }
}

.v-expansion-panel {
  margin: 0;

  &.flat {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

    .v-expansion-panel__container {
      border: none;
    }
  }
}

label {
  color: rgba(0, 0, 0, 0.54);
}

.input-group.input-group--error label {
  color: inherit;
}

.input-group.checkbox:not(.input-group--error) label {
  color: #1c1c1c;
}

.input-group.input-group--selection-controls .input-group__input .v-icon--selection-control {
  height: auto;
}

.v-table {
  th,
  td {
    &.tight {
      width: 1px;
    }

    .v-input--hide-details .v-input--selection-controls__input {
      margin: 0;
      padding: 0;
    }

    .v-input--selection-controls {
      margin: 0;
      padding: 0;
    }
  }

  .group-row td {
    font-weight: bold;
  }
}

table.v-table tbody td:first-child,
table.v-table tbody td:not(:first-child),
table.v-table tbody th:first-child,
table.v-table tbody th:not(:first-child),
table.v-table thead td:first-child,
table.v-table thead td:not(:first-child),
table.v-table thead th:first-child,
table.v-table thead th:not(:first-child) {
  padding: 8px;
}

.v-dialog__content {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.v-card .v-toolbar__content,
.v-card__title,
.v-card__text,
.v-card__actions {
  padding: 16px;

  .v-btn + .v-btn {
    margin-left: 4px;
  }
}

.btn-group {
  .v-btn + .v-btn {
    margin-left: 4px;
  }
}

ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.v-stepper__header {
  flex-wrap: nowrap;
  box-shadow: none;
  border-bottom: 1px solid var(--shadesBlack);
}

.v-overlay {
  z-index: 9;
}

.container.grid-list-md {
  padding: 0;
}

.v-treeview {
  .v-treeview-node__label {
    font-size: inherit;
    margin-left: 0;
  }

  .v-treeview-node__root {
    height: auto;
    align-items: flex-start;
  }

  .v-treeview-node__content {
    align-items: start;
    display: block;
    flex-shrink: 1;
    padding-bottom: 4px;

    .v-icon {
      padding-right: 4px;
    }
  }
}

.application--wrap {
  /* хак для ie, так включаются переносы в ячейках таблиц AUDI-822 */
  max-width: 99.999999%;

  .v-content__wrap {
    min-width: 1px;
    padding: 0 15px;
  }
}

.v-tabs .v-window__container,
.vertical-tabs .v-window__container,
.v-window-height-auto .v-window__container {
  height: auto !important;
}
