.table-action {
  width: 10px;
  text-align: center;

  &.btn {
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #ccc;
    }
  }
}

.table-sort-ghost {
  opacity: 0.5;
  background-color: rgba(135, 206, 250, 0.5);
}
