.app-vertical-group {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;

      .item {
        display: block;
        padding: 5px 5px 5px 40px;

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: calc(100% - 35px);
          background-color: #5abeeb;
          left: 11px;
          bottom: 0;
          z-index: 3;
        }

        .title {
          text-transform: uppercase;

          .ico {
            pointer-events: none;
            font-size: 24px;
            position: absolute;
            left: 0;
            color: #5abeeb;
            top: 5px;
            z-index: 2;
          }
        }

        .content {
          padding-top: 15px;
          display: block;
          color: inherit;
        }
      }
    }
  }
}
