:root {
  --color: white;
  --alpha0: 0.1;
  --alpha1: 0.3;
  --alpha2: 0.5;
}

.vb-visible,
.vb {
  & > .vb-dragger {
    z-index: 5;
    width: 10px;
    margin-left: 5px;
    right: 0;

    & > .vb-dragger-styler {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: rotate3d(0, 0, 0, 0);
      transform: rotate3d(0, 0, 0, 0);
      -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
      transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
      background-color: rgba(var(--color), var(--alpha0));
      border-radius: 5px;
      margin-left: 3px;
      margin-right: 3px;
      display: block;
      height: 100%;
    }
  }

  & > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(var(--color), var(--alpha2));
    margin: 0;
  }

  &.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(var(--color), var(--alpha1));
  }

  &.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(var(--color), var(--alpha2));
    margin: 0;
    height: 100%;
  }

  &.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(var(--color), var(--alpha2));
  }

  margin-right: -20px;

  .vb-content {
    max-height: inherit;
  }

  &.vb-left {
    & > .vb-dragger {
      left: 0;
      right: auto;
    }

    margin-left: -20px;

    .vb-content {
      padding-right: 0 !important;
      padding-left: 20px;
    }
  }
}
