<template lang="pug">
  base-composer(ref="composer" v-bind="$attrs" v-on="$listeners")
    TableOverflow
</template>

<script>
  import BaseComposer from 'components/base-composer/BaseComposer'
  import TableOverflow from './TableOverflow'

  export default {
    name: 'BaseTable',
    components: {
      BaseComposer,
      TableOverflow
    },
    computed: {
      composer() {
        return this.$refs.composer
      }
    },
    provide() {
      return {
        $table: this
      }
    }
  }
</script>
