<template lang="pug">
  td.tight.py-0
    v-menu(offset-y left v-if="actions.length")
      v-btn(slot="activator" flat icon small)
        v-icon(medium) more_horiz
      v-list(dense)
        template(v-for="(action, i) in actions")
          v-divider(v-if="action==='divider'" :key="i")
          v-list-tile(v-else @click="onClickAction(action)" :disabled="action.disabled" :key="i")
            v-icon(left size="14" :disabled="action.disabled") {{ action.icon }}
            v-list-tile-content(:title="action.title || action.text") {{ action.text }}
</template>

<script>
  export default {
    name: 'RowActionsCell',
    props: {
      row: {
        type: Object,
        required: true
      },
      rowActions: {
        type: Array,
        required: true
      }
    },
    inject: {
      $composer: {default: null}
    },
    computed: {
      actions() {
        const actions = _.map(this.rowActions, a => (_.isFunction(a) ? a(this.row) : a))
        return _.map(actions, this.actionConditionChecker)
      }
    },
    methods: {
      onClickAction(action) {
        const name = 'on' + _.upperFirst(_.camelCase(action.name))
        if (_.isFunction(action.action)) {
          action.action(this.row, this.$composer)
        } else if (name in this.$composer) {
          this.$composer[name](this.row, this.$composer)
        } else {
          this.$composer.$emit(name, this.row, this.$composer)
        }
      },

      actionConditionChecker(action) {
        if (action === 'divider') {
          return action
        }
        action.checker = action.checker ? action.checker : () => true
        return {
          ...action,
          disabled: !action.checker(this.row, this.$composer, action)
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  /deep/ .v-btn:hover,
  /deep/ .v-btn:focus {
    text-decoration: none;
  }
</style>
