<template>
  <td class="tight">
    <v-checkbox
      hide-details
      :input-value="checked"
      @change="changeSelection"
    />
  </td>
</template>
<script>
  export default {
    name: 'RowSelectCell',
    props: {
      pk: {
        type: [String, Number],
        required: true
      },
      total: {
        type: Number,
        required: true
      },
      selected: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        checked: null
      }
    },
    watch: {
      selected: {
        handler() {
          this.checkboxState()
        },
        deep: true
      }
    },
    mounted() {
      this.checkboxState()
    },
    methods: {
      checkboxState: function () {
        if (this.selected.all) {
          this.checked = true
        } else if (this.selected.indeterminate) {
          this.checked = !_.includes(this.selected.checked, this.pk)
        } else {
          this.checked = !!_.includes(this.selected.checked, this.pk)
        }
      },
      changeSelection(checked) {
        const pk = this.pk
        const selected = this.selected
        if (checked) {
          // ставим отметку
          if (selected.indeterminate) {
            const index = selected.checked.indexOf(pk)
            if (index >= 0) {
              selected.checked.splice(index, 1)
            }
            // если все чекбоксы проставили
            if (selected.checked.length === this.total) {
              selected.indeterminate = false
              selected.all = false
              selected.checked = []
            }

            if (selected.checked.length === 0) {
              selected.indeterminate = false
              selected.all = true
              selected.checked = []
            }
          } else {
            const index = selected.checked.indexOf(pk)
            if (index < 0) {
              selected.checked.push(pk)
            }
            // если все чекбоксы проставили
            if (selected.checked.length === this.total) {
              selected.all = true
              selected.checked = []
            }
          }
        } else {
          // снятие отметки
          if (selected.all) {
            // если были выделены все элементы, снимаем отметку все
            selected.all = false

            // если есть проставленные метки ставим отметку о частичном выборе
            selected.indeterminate = true
            selected.checked = [pk]

            if (selected.checked.length === this.total) {
              selected.indeterminate = false
              selected.checked = []
            }
          } else if (selected.indeterminate) {
            const index = selected.checked.indexOf(pk)
            if (index < 0) {
              selected.checked.push(pk)
            }

            // если со всех чекбоксов сняли отметки
            if (selected.checked.length === this.total) {
              selected.indeterminate = false
              selected.checked = []
            }
          } else {
            const index = selected.checked.indexOf(pk)
            if (index >= 0) {
              selected.checked.splice(index, 1)
            }
          }
        }
      }
    }
  }
</script>
<style lang="scss" scoped>
  .custom-control {
    padding-left: 0;
    height: 1.2rem;
    min-height: 1rem;
    display: inline-block;

    /deep/ .custom-control-label::before {
      top: 0.1rem;
    }
  }
</style>
