<template>
  <td class="tight">
    <v-radio
      hide-details
      :value="pk"
      @mouseup.native="reset(pk)"
    />
  </td>
</template>
<script>
  export default {
    name: 'RowSelectCell',
    props: {
      pk: {
        type: Number,
        required: true
      },
      selected: {
        type: Object,
        required: true
      },
      singleSelected: {
        type: Number,
        required: false
      }
    },

    watch: {
      singleSelected(val) {
        this.selected.checked = [val]
      }
    },
    methods: {
      reset(value) {
        if (this.singleSelected === value) {
          this.$nextTick(() => {
            this.$emit('update:singleSelected', null)
            this.selected.checked = []
          })
        }
      }
    }
  }
</script>
<style lang="scss" scoped>
  .custom-control {
    padding-left: 0;
    height: 1.2rem;
    min-height: 1rem;
    display: inline-block;

    /deep/ .custom-control-label::before {
      top: 0.1rem;
    }
  }

  .v-radio {
    margin-right: 0;
  }
</style>
