<template lang="pug">
  th.handle(:width="column.meta && column.meta.width" :class="getColumnThClass(column)" @click.prevent="sort(column)")
    div
      span {{ column.label }}
      v-btn.hide-column-icon(v-if="$composer.modes.config && !column.noHidable" @click="hide(column)" title="Скрыть колонку" flat icon small)
        v-icon(size="12" color="primary") fa-eye-slash
      .ordered-column-icon(v-if="column.ordering && ($composer.order.by === column.ordering)")
        v-icon(size="12" color="primary" v-if="$composer.order.desc") fa-sort-alpha-down-alt
        v-icon(size="12" color="primary" v-else) fa-sort-alpha-down
</template>

<script>
  export default {
    props: ['column'],
    inject: {
      $composer: {default: null},
    },
    methods: {
      hide(column) {
        column = this.$_.find(this.$composer.columnsConfig, {name: column.name})
        if (column) {
          column.show = false
        }
      },
      getColumnThClass(column) {
        let cls = column.meta?.class || ''
        cls = cls.split()
        if (column.ordering) {
          cls.push('sortable')
          if (this.$composer.order.by === column.ordering) {
            cls.push('ordered primary--text')
          }
        }
        return cls.join(' ')
      },
      sort(column) {
        if (column.ordering) {
          if (!this.$composer.modes.sort && !this.$composer.modes.config) {
            this.$composer.$emit('orderColumn', column)
          }
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  th.sortable {
    cursor: pointer;
  }

  th.ordered {
    padding-right: 24px;
    border-bottom: 2px solid #2196f3;

    .ordered-column-icon {
      position: absolute;
      right: 6px;
      top: 0.5rem;
    }
  }

  .hide-column-icon {
    position: absolute;
    right: 0;
    top: 0.2rem;
  }
</style>
