<template lang="pug">
  tr(:class="[{'table-active': isSelected}, classText]" ref="container")
    slot(name="select-cell")
      row-select-cell(v-if="$composer.modes.select && $composer.multipleSelect"
      :pk="row.pk"
      :selected="$composer.selected"
      :total="$composer.paginator.total_count")
      row-single-select-cell(
      v-else-if="$composer.modes.select && !$composer.multipleSelect"
      :single-selected.sync="$composer.singleSelected"
      :selected="$composer.selected"
      :pk="row.pk")
    template(v-if="$composer.modes.sort")
      td.table-action.btn(title="В начало первой страницы" @click="$composer.$emit('sort', 'top', row.pk)")
        v-icon(small) fa-angle-double-up
      td.table-action.btn(title="В конец последней страницы" @click="$composer.$emit('sort', 'last', row.pk)")
        v-icon(small) fa-angle-double-down
      td.table-action.btn(title="На предыдущую страницу" @click="canPrevPage && $composer.$emit('sort', 'prev', row.pk)")
        v-icon(small :disabled="!canPrevPage") fa-angle-up
      td.table-action.btn(title="На следующую страницу" @click="canNextPage && $composer.$emit('sort', 'next', row.pk)")
        v-icon(small :disabled="!canNextPage") fa-angle-down
      td.table-action.btn.handle(title="Переместить")
        v-icon(small) fa-sort
    table-cell(v-for="(column, index) in $composer.sortedColumns" :key="`cell_${column.name}`"
    ref="cell"
    :row="row"
    :column="column"
    :value="row[column.name]"
    :expanded-row="expandedRow"
    :expanded-row-first="index===0"
    @update="onResize")
    slot(name="action-cell")
      row-actions-cell(v-if="$composer.rowActions.length"
      :row-actions="$composer.rowActions"
      :row="row")
      div.td.tight.pa-0(v-if="$composer.modes.config && !$composer.modes.edit")
</template>

<script>
  import TableCell from './TableCell'
  import RowActionsCell from './RowActionsCell'
  import RowSelectCell from './RowSelectCell'
  import RowSingleSelectCell from './RowSingleSelectCell'
  import {getElementHeight} from 'common/utils'

  export default {
    name: 'TableRow',
    components: {
      TableCell,
      RowActionsCell,
      RowSelectCell,
      RowSingleSelectCell
    },
    props: {
      row: {
        type: Object,
        required: true
      },
      isSelected: {
        type: Boolean,
        required: false,
        default: false
      },
      classText: {
        type: String,
        required: false,
        default: ''
      }
    },
    data() {
      return {
        expandedRow: {
          isExpanded: false,
          minHeight: 57, // высота при которой начинает работать сворачивание
          maxHeight: 0
        }
      }
    },
    inject: {
      $composer: {default: null}
    },
    computed: {
      canPrevPage() {
        return this.$composer.page !== 1
      },
      canNextPage() {
        return this.$composer.page !== this.$composer.paginator.num_pages
      }
    },
    mounted() {
      this.div = this.$refs.container
      this.onResize = this.$_.throttle(this.onResize, 100)
      window.addEventListener('resize', this.onResize)
      this.onResize()
    },
    destroyed() {
      window.removeEventListener('resize', this.onResize)
    },
    updated() {
      this.onResize()
    },
    methods: {
      onResize(e) {
        this.expandedRow.maxHeight = (this.$refs.cell || [])
          .map(cell => getElementHeight(cell.$refs.container) || 0)
          .reduce((maxHeight, height) => Math.max(maxHeight, height), 0)
      }
    }
  }
</script>
