<template lang="pug">
  thead
    tr(:class="{'group-columns-exist': groupColumnsExist}")
      template(v-if="$composer.modes.sort")
        th(:rowspan="rowSpan")
        th(:rowspan="rowSpan")
        th(:rowspan="rowSpan")
        th(:rowspan="rowSpan")
        th(:rowspan="rowSpan")
      th.tight(v-if="$composer.modes.select" :rowspan="rowSpan")
        v-checkbox(v-if="$composer.multipleSelect" hide-details :input-value="$composer.selected.all" :indeterminate="$composer.selected.indeterminate"
          @change="selectAll")

      TableHeaderCell(
        v-for="(group, i) in $composer.groupedColumns" :key="i"
        :colspan="group.colspan" :rowspan="group.columns ? 1 : rowSpan"
        :class="{'th-group': group.columns}"
        :column="group.column")
      template(v-if="hasData")
        th.tight.pa-0(v-if="$composer.rowActions.length && !$composer.modes.config" :rowspan="rowSpan")
      th(v-if="$composer.modes.config" :rowspan="rowSpan")
        v-menu(offset-y left :close-on-content-click="false")
          v-btn.tight.pa-0(slot="activator" flat icon small title="Изменить видимость столбцов")
            v-icon(small) fa-cog
          v-list(dense)
            v-list-tile-content
              table.v-table.v-datatable
                v-draggable(tag="tbody" handle=".table-action", ghostClass="table-sort-ghost" v-model="$composer.columnsConfig")
                  tr.noborder(v-for="column in $composer.columnsConfig" :key="column.name")
                    td
                      v-checkbox(hide-details v-model="column.show")
                    td.table-action.btn
                      v-icon(small) fa-sort
                    td {{ $composer.getColumnLabel(column) }}
    tr.group-columns-exist(v-if="groupColumnsExist")
      template(v-for="group in $composer.groupedColumns")
        TableHeaderCell(v-for="column in group.columns" :key="column.name" :column="column" :colspan="1" :rowspan="1")
</template>

<script>
  import TableHeaderCell from './TableHeaderCell'

  export default {
    name: 'TableHeader',
    components: {TableHeaderCell},
    computed: {
      hasData() {
        return !!(this.$composer.paginator.count || this.$composer.isLoading)
      },
      groupColumnsExist() {
        return this.$_.sumBy(this.$composer.groupedColumns, 'colspan') > this.$composer.groupedColumns.length
      },
      rowSpan() {
        return this.groupColumnsExist ? 2 : 1
      }
    },
    inject: {
      $composer: {default: null}
    },
    methods: {
      selectAll(checked) {
        this.$composer.$emit('selectAll', checked)
      }
    }
  }
</script>

<style lang="scss" scoped>
  th.th-group {
    text-align: center !important;
  }

  table.v-table thead {
    tr {
      height: 46px;
    }

    tr.group-columns-exist {
      height: 23px;
    }
  }
</style>
