<template lang="pug">
  td(:class="getCellClass()" :width="column.meta.width")
    .table-cell-expand(:style="expandStyle" ref="container")
      component(v-if="component" :is="component" :value="value" :column="column" :row="row")
      template(v-else) {{value}}
    .table-cell-handle(v-if="canExpand && expandedRowFirst" @click="toggleExpand" :title="expandedRow.isExpanded ? 'Свернуть' : 'Развернуть'")
      v-btn(flat small icon)
        .bounce-anim
          v-icon(size="14" :class="{'fa-flip-vertical': expandedRow.isExpanded}" ) fa-angle-down
</template>

<script>
  import BooleanCell from './cells/BooleanCell'
  import ChoiceCell from './cells/ChoiceCell'
  import DateTimeCell from './cells/DateTimeCell'
  import EmailCell from './cells/EmailCell'
  import SelectMultipleCell from './cells/SelectMultipleCell'
  import RenderSlot from './RenderSlot'

  const COMPONENTS_BY_TYPE = {
    boolean: BooleanCell,
    email: EmailCell,
    'select-multiple': SelectMultipleCell,
    datetime: DateTimeCell,
    choice: ChoiceCell,
    select: ChoiceCell
  }

  export default {
    name: 'TableCell',
    components: {RenderSlot},
    inject: {
      $table: {default: Object()}
    },
    props: {
      column: {
        type: Object,
        required: true
      },
      row: {
        type: Object,
        required: true
      },
      value: {
        type: null,
        required: true
      },
      expandedRow: {
        type: Object
      },
      expandedRowFirst: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        expandStyle: {'max-height': '72px', 'overflow-y': 'hidden'},
        canExpand: false
      }
    },
    computed: {
      component() {
        if (this.$table.$scopedSlots['cell-' + this.column.name]) {
          return RenderSlot(this.$table.$scopedSlots['cell-' + this.column.name])
        }
        return this.column.component ? this.column.component : COMPONENTS_BY_TYPE[this.column.type]
      }
    },
    mounted() {
      this.$watch(
        () => {
          const delta = 12
          const canExpand = this.$refs.container && this.expandedRow && this.expandedRow.maxHeight > (this.expandedRow.minHeight + delta)
          const height = canExpand ? (this.expandedRow.isExpanded ? this.expandedRow.maxHeight : this.expandedRow.minHeight) : null
          return [canExpand, height, this.value]
        },
        this.calcExpandStyle
      )
    },
    methods: {
      toggleExpand() {
        this.expandedRow.isExpanded = !this.expandedRow.isExpanded
      },
      getCellClass() {
        let cls = this.column.meta?.class || ''
        cls = cls.split()

        if (this.$_.isFunction(this.column.meta?.rowClass)) {
          let rowCls = this.column.meta?.rowClass(this.column, this.row)
          if (this.$_.isString(rowCls)) {
            rowCls = rowCls.split()
          }
          cls = [...cls, ...rowCls]
        }
        if (this.expandedRow?.isExpanded) {
          cls.push('is-expanded')
        }
        if (this.canExpand) {
          cls.push('can-expand')
        }
        return this.$_.compact(cls).join(' ')
      },
      calcExpandStyle([canExpand, height, value]) {
        if (!canExpand) {
          this.expandStyle = {'max-height': '57px'}
          this.canExpand = canExpand
          return
        }
        const styles = {
          'margin-bottom': '15px'
        }
        if (isFinite(height)) {
          height = `${height}px`
        } else {
          height = 'auto'
        }
        styles.height = height
        this.expandStyle = styles
        this.canExpand = canExpand
      }
    }
  }
</script>

<style lang="scss" scoped>
  .fa {
    transition-delay: 0.5s;
  }

  td.can-expand .table-cell-expand {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    transition: height 0.5s, mask-image 0.1s;
    mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(0, 0, 0, 1)),
        color-stop(0.5, rgba(0, 0, 0, 1)),
        color-stop(1, rgba(0, 0, 0, 0))
    );
  }

  td.can-expand.is-expanded .table-cell-expand {
    mask-image: none;
  }

  .table-cell-handle {
    position: absolute;
    margin-top: -17px;
    margin-left: -12px;
    left: 0;
    right: 0;
    height: 24px;
    cursor: pointer;
    transform: translateY(0);

    .bounce-anim {
      animation: table-cell-bounce-anim-down 4s linear infinite;

      td.is-expanded & {
        animation: none;
      }
    }

    .v-btn {
      position: absolute;
      left: 50%;
      width: 24px;
      height: 24px;
    }
  }

  table.v-table td table tr td {
    padding-top: 0;
    padding-bottom: 0;
  }

  @keyframes table-cell-bounce-anim-down {

    0% {
      transform: translateY(0);
    }

    2% {
      transform: translateY(4px);
    }

    4% {
      transform: translateY(0);
    }

    10% {
      transform: translateY(4px);
    }

    12% {
      transform: translateY(0);
    }
  }

</style>
