<template lang="pug">

  .v-table__overflow
    v-radio-group.radio-group(hide-details v-model="$composer.singleSelected" v-if="$composer.modes.select && !$composer.multipleSelect")
      table.v-table.v-datatable
        table-header
        table-body
    table.v-table.v-datatable(v-else)
      table-header
      table-body
</template>
<script>
  import TableHeader from './TableHeader'
  import TableBody from './TableBody'

  export default {
    name: 'TableOverflow',
    inject: {
      $composer: {default: null},
      $table: {default: null}
    },
    components: {
      TableHeader,
      TableBody
    }
  }
</script>
<style scoped lang="scss">
  .radio-group {
    display: block;
    margin: 0;
    padding: 0;

    .v-messages {
      display: none;
    }
  }
</style>
