<template lang="pug">
  v-draggable(tag="tbody" handle=".handle", ghostClass="table-sort-ghost" @end="endSort")
    template(v-if="hasData")
      template(v-for="row in $composer.data")
        tr.group-row(v-if="showGroup(row)")
          table-cell.text-center(
          :colspan="columnCount + 10"
          :row="row"
          :column="groupColumn"
          :value="row[groupColumn.name]")
        component(:is="component" :key="row.pk" :row="row" :is-selected="$composer.selectedPk===row.pk")
    tr(v-else)
      td.text-center(:colspan="columnCount + 10")
        template(v-if="$composer.paginator.total_count") Записей не найдено
        template(v-else) Нет записей
</template>

<script>
  import RenderSlot from './RenderSlot'
  import TableCell from './TableCell'
  import TableRow from './TableRow'

  export default {
    name: 'TableBody',
    components: {
      TableRow,
      TableCell
    },
    inject: {
      $composer: {default: null},
      $table: {default: null}
    },
    computed: {
      columnCount() {
        return this.$composer.columns.length
      },
      hasData() {
        return !!(this.$composer.paginator.count || this.$composer.isLoading)
      },

      groupColumn() {
        return this.$composer.groupColumn
      },

      component() {
        if (this.$table.$scopedSlots.row) {
          return RenderSlot(this.$table.$scopedSlots.row)
        }
        return TableRow
      }
    },
    methods: {
      showGroup(row) {
        if (!this.$composer.groupColumn) {
          return false
        }
        const groupValue = row[this.$composer.groupColumn.name]
        if (groupValue !== this.$composer.data._prevGroupValue) {
          this.$composer.data._prevGroupValue = groupValue
          return true
        }
        return false
      },

      endSort(e) {
        if (e.oldIndex !== e.newIndex) {
          this.$composer.$emit('sort', 'move', {
            from: this.$composer.data[e.oldIndex].pk,
            dest: this.$composer.data[e.newIndex].pk
          })
        }
      }
    }
  }
</script>
