<template lang="pug">
  p.document-empty-erros
    ul(v-for="(error, error_key) in errors")
      li
        template(v-for="(value, key) in error")
          span.tag-path(v-if="tag_value(value)") {{tag_value(value)}} «{{tag_name(value)}}»
          span.tag-path.error--text(v-else) {{tag_name(value)}}
</template>

<script>
  export default {
    props: ['errors'],
    methods: {
      tag_name(error) {
        return error[0]
      },
      tag_value(error) {
        return error[1]
      },
    },
  }
</script>

<style lang="scss" scoped>
  .tag-path {
    &:not(:first-child) {
      padding-left: 5px;

      &::before {
        content: '\f30b';
        font-family: 'Font Awesome 5 Free', fantasy;
        padding-right: 5px;
        font-weight: 900;
      }
    }
  }
</style>
