<template>
  <app-card>
    <v-tabs show-arrows>
      <v-tab :to="{name: 'delivery-view'}">
        Доставка
      </v-tab>
      <v-tab v-if="delivery_type == 'courier'" :to="{name: 'delivery-region'}">
        Регионы доставки
      </v-tab>
      <v-tab v-if="delivery_type == 'pickup'" :to="{name: 'pickup'}">
        Фотоцентры
      </v-tab>
      <v-tab v-if="delivery_type == 'transport_company'" :to="{name: 'transport-company-point'}">
        Пункты выдачи
      </v-tab>
    </v-tabs>
    <v-divider class="mb-3" />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </app-card>
</template>

<script>
  import LoadMixin from 'mixins/LoadMixin'

  export default {
    name: 'DeliveryTypePage',
    mixins: [LoadMixin],
    props: ['id', 'apiPath'],
    data() {
      return {
        delivery_type: null,
      }
    },
    mounted() {
      this.$root.$on('change-delivery-type', this.checkDeliveryType)
    },
    destroyed() {
      this.$root.$off('change-delivery-type', this.checkDeliveryType)
    },
    methods: {
      load() {
        this.checkDeliveryType()
      },
      checkDeliveryType() {
        this.beforeLoad()
        this.$ajax
          .get(this.apiPath, {params: {fields: 'type'}})
          .then(response => {
            this.delivery_type = response.data.type
          })
          .catch(error => {
            this.errorOnLoad(error)
          })
      },
    },
  }
</script>

<style></style>
