<template>
  <app-card>
    <translation-fields-table
      id="delivery_type-list"
      ref="table"
      v-bind="$props"
      :create-form-component="EditForm"
      :edit-form-component="EditForm"
      :show-columns="showColumns"
      v-on="$listeners"
    >
      <template #cell-name_ru="props">
        <router-link :to="`/${props.row.pk}/`">
          {{ props.value || '—' }}
        </router-link>
      </template>
      <template #cell-cost="props">{{ props.value || 0 }}</template>
    </translation-fields-table>
  </app-card>
</template>

<script>
  import EditForm from './forms/EditForm'

  export default {
    name: 'DeliveryTypeList',
    props: ['apiPath'],
    data() {
      return {
        EditForm,
        showColumns: [
          {name: 'name'},
          {name: 'description'},
          {name: 'type'},
          {name: 'cost'},
          {name: 'payment_types'},
          {name: 'enabled'},
          {name: 'order'},
        ],
      }
    },

    mounted() {
      this.$root.$emit('title-replace', 'Типы доставки')
    },
  }
</script>
