<template>
  <edit-form
    ref="form"
    :api-path="apiPath"
    :hide-after-submit="false"
    submit-btn-text="Сохранить"
    :to-after-save="{name: 'delivery-view'}"
    @submit-success="onSuccessSubmit"
  ></edit-form>
</template>

<script>
  import EditForm from './forms/EditForm'

  export default {
    name: 'DeliveryTypeEdit',
    components: {EditForm},
    props: ['id', 'apiPath'],
    methods: {
      onSuccessSubmit() {
        this.$root.$emit('change-delivery-type')
      },
    },
  }
</script>
