<template>
  <translation-fields-read-form
    ref="form"
    :api-path="apiPath"
    :show-fields="showFields"
    :to-edit="{name: 'delivery-edit'}"
  >
    <template slot="field-enabled" slot-scope="props">
      <BooleanIcon :value="props.model[props.field.name]"></BooleanIcon>
    </template>
    <template slot="field-cost" slot-scope="props">{{ props.model[props.field.name] || 0 }}</template>
  </translation-fields-read-form>
</template>

<script>
  export default {
    name: 'DeliveryTypeView',
    props: ['id', 'apiPath'],
    data() {
      return {
        showFields: [{name: 'name'}, {name: 'description'}, {name: 'cost'}, {name: 'payment_types'}, {name: 'enabled'}],
      }
    },
    mounted() {
      this.$watch(
        () => this.$refs.form?.model?.__str__,
        value => {
          this.$root.$emit('title-replace', `Тип доставки: ${value}`)
        },
      )
    },
  }
</script>
