<template>
  <base-form ref="form" v-bind="$attrs" v-on="$listeners" @loaded="onLoaded">
    <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
      <slot :name="scopedSlotName" v-bind="slotData" />
    </template>
  </base-form>
</template>

<script>
  export default {
    name: 'TranslationFieldsForm',

    computed: {
      form() {
        return this.$refs.form
      },
      model() {
        return this.$refs.form.model
      },
    },
    methods: {
      printtest(fields) {
        _.forEach(fields, function(field) {
          console.log(field.name)
        })
      },
      addFieldInFieldsets(fieldName) {
        const fieldsets = this.form.fieldsets
        if (fieldsets.length) {
          fieldsets[0].fields.unshift(fieldName)
        }
      },
      onLoaded() {
        const _this = this

        const transFields = this.form.meta.trans_fields
        const sortedTransFields = this.form.meta.trans_sorted_fields
        var showFields = this.form.showFields

        var oldFields = []

        _.forEach(showFields, function(field) {
          oldFields.push({
            name: field.name,
          })
        })

        if (transFields) {
          let hasNewFields = false
          _.forEach(transFields, function(fieldName) {
            if (!_.some(showFields, {name: fieldName})) {
              showFields.push({
                name: fieldName,
              })
              hasNewFields = true
              _this.addFieldInFieldsets(fieldName)
            }
          })
          if (hasNewFields) {
            var fields = []
            var sortedFields = _.sortBy(sortedTransFields, [
              function(o) {
                return o.order
              },
            ])

            _.forEach(sortedFields, function(sortedField) {
              _.forEach(showFields, function(showField) {
                const showName = showField.name
                const sortedName = sortedField.field
                if (showName.includes(sortedName)) {
                  fields.push({
                    name: showName,
                    order: sortedField.order,
                  })
                }
              })
            })

            var order = 100
            _.forEach(oldFields, function(oldField) {
              if (!_.some(fields, {name: oldField.name})) {
                fields.push({
                  name: oldField.name,
                  order: order,
                })
                order += 50
              }
            })
            sortedFields = _.sortBy(fields, [
              function(o) {
                return o.order
              },
            ])

            while (showFields.length > 0) {
              showFields.pop()
            }

            _.forEach(sortedFields, function(sortedField) {
              showFields.push({
                name: sortedField.name,
              })
            })
            this.form.load()
          }
        }
      },
    },
  }
</script>

<style scoped></style>
