<template>
  <base-table ref="table" v-bind="$attrs" v-on="$listeners" @loaded="onLoaded">
    <template v-for="(_, scopedSlotName) in $scopedSlots" v-slot:[scopedSlotName]="slotData">
      <slot :name="scopedSlotName" v-bind="slotData" />
    </template>
  </base-table>
</template>

<script>
  export default {
    name: 'TranslationFieldsTable',

    computed: {
      table() {
        return this.$refs.table
      },
      model() {
        return this.$refs.form.model
      },
    },

    methods: {
      printtest(columns) {
        _.forEach(columns, function(column) {
          console.log(column)
        })
      },
      onLoaded() {
        const transColumns = this.table.composer.meta.trans_fields
        const sortedTransColumns = this.table.composer.meta.trans_sorted_fields
        const showColumns = this.table.composer.showColumns

        var oldColumns = []

        _.forEach(showColumns, function(column) {
          oldColumns.push({
            name: column.name,
            show: true,
          })
        })

        if (transColumns) {
          let hasNewColumns = false
          _.forEach(transColumns, function(columnName) {
            if (!_.some(showColumns, {name: columnName})) {
              showColumns.push({
                name: columnName,
              })
              hasNewColumns = true
            }
          })

          if (hasNewColumns) {
            var columns = []
            var sortedColumns = _.sortBy(sortedTransColumns, [
              function(o) {
                return o.order
              },
            ])
            _.forEach(sortedColumns, function(sortedColumn) {
              _.forEach(showColumns, function(showColumn) {
                const showName = showColumn.name
                const sortedName = sortedColumn.field
                if (showName.includes(sortedName)) {
                  columns.push({
                    name: showName,
                    show: true,
                    order: sortedColumn.order,
                  })
                }
              })
            })
            var order = 100
            _.forEach(oldColumns, function(oldColumn) {
              if (!_.some(columns, {name: oldColumn.name})) {
                columns.push({
                  name: oldColumn.name,
                  show: true,
                  order: order,
                })
                order += 50
              }
            })
            var sortedColumns = _.sortBy(columns, [
              function(o) {
                return o.order
              },
            ])
            this.table.composer.columnsConfig = sortedColumns
            this.table.composer.load()
          }
        }
      },
    },
  }
</script>

<style scoped></style>
