<script>
  import LazyComponents from './LazyComponents'

  export default {
    name: 'App',
    props: {
      appRoutes: {
        type: Array,
        required: false,
        default: function() {
          return []
        },
      },
      routesMeta: {
        type: Object,
      },
    },

    created() {
      window.onbeforeunload = this.beforeunload
      this.$store.dispatch('addProjectData', window.PROJECT_DATA)
    },
    async mounted() {
      let routes = []
      if (this.routesMeta) {
        const routesModule = await LazyComponents[this.routesMeta.source]()
        routes = routesModule.default(this.routesMeta.config)
      } else if (this.appRoutes.length) {
        routes = routes.concat(this.appRoutes)
        this.setRouterLazyComponents(routes)
      }
      this.$router.matcher.addRoutes(routes)
      this.$router.replace({path: location.hash.replace(/^#/, '')})
      this.$router.beforeEach(this.onRouterBeforeEach)
    },
    methods: {
      setRouterLazyComponents(routes) {
        for (const route of routes) {
          if (!route.component) {
            continue
          }
          const component = LazyComponents[route.component]
          if (!component) {
            console.log(route)
            throw new Error('Lazy component not found')
          }
          route.component = component
          if (route.children && route.children.length) {
            this.setRouterLazyComponents(route.children)
          }
        }
      },
      onRouterBeforeEach(to, from, next) {
        const root = this.$root
        if (to.path !== from.path && this.hasChanges(root)) {
          this.$confirm({
            title: 'Содержимое было изменено!',
            confirmationText: 'Вы уверены, что хотите продолжить без сохранения?',
            btnText: 'Продолжить',
            cancelBtnText: 'Остаться',
          }).then(result => {
            if (result) {
              next()
            } else {
              next(false)
            }
          })
        } else if (this.hasSavingProcess(root)) {
          this.$confirm({
            title: 'Идёт процесс сохранения!',
            confirmationText: 'Уход со страницы может привести к потери данных, Продолжить?',
            btnText: 'Продолжить',
            cancelBtnText: 'Остаться',
          }).then(result => {
            if (result) {
              next()
            } else {
              next(false)
            }
          })
        } else {
          next()
        }
      },
      hasChanges(vm = this) {
        for (const child of vm.$children) {
          let result
          if (Object.prototype.hasOwnProperty.call(child, 'hasChanges')) {
            if (_.isFunction(child.hasChanges)) {
              result = child.hasChanges()
            } else {
              result = child.hasChanges
            }
          } else {
            result = this.hasChanges(child)
          }
          if (result) {
            return true
          }
        }
        return false
      },
      hasSavingProcess(vm = this) {
        for (const child of vm.$children) {
          let result
          if (Object.prototype.hasOwnProperty.call(child, 'isSaving')) {
            result = child.isSaving
          } else {
            result = this.hasSavingProcess(child)
          }
          if (result) {
            return true
          }
        }
        return false
      },
      beforeunload(e) {
        if (this.hasChanges()) {
          return 'Есть несохраненные данные, подтвердите закрытие окна браузера'
        }
        if (this.hasSavingProcess()) {
          return 'Идёт обработка данных. Уход со страницы может привести к потери данных'
        }
      },
    },
    render: function(createElement) {
      return createElement('div', this.$slots.default)
    },
  }
</script>

<style lang="scss" scoped>
  .theme--light.application {
    background: none;
  }
</style>
