<template>
  <div>
    <v-container grid-list-lg fluid class="pa-0">
      <v-layout wrap>
        <filter-field v-for="field in $composer.filterFields" :key="field.name" :field="field" :filter="filter" />
      </v-layout>
    </v-container>

    <v-layout justify-end>
      <v-btn outline small color="accent" @click="resetFilter">
        Сбросить фильтр
      </v-btn>
      <v-btn depressed small color="accent" @click="submitForm">
        Отфильтровать
      </v-btn>
    </v-layout>
  </div>
</template>
<script>
  import FilterField from './FilterField'

  export default {
    name: 'FilterPanel',
    components: {FilterField},
    inject: {
      $composer: {default: null},
    },
    data() {
      return {
        filter: {},
      }
    },
    methods: {
      resetFilter() {
        this.filter = {}
        this.$composer.$emit('filter', this.filter)
      },
      submitForm() {
        this.$composer.$emit('filter', this.filter)
      },
    },
  }
</script>
