<template>
  <v-flex sm6>
    <component :is="component" v-if="component" :field="field" :filter="filter" />
  </v-flex>
</template>
<script>
  import TextField from './fields/TextField'
  import CheckboxField from './fields/CheckboxField'
  import MultiSelectField from './fields/MultiSelectField'
  import SelectField from './fields/SelectField'
  import DateField from './fields/DateField'

  const COMPONENTS_BY_TYPE = {
    text: TextField,
    number: TextField,
    email: TextField,
    boolean: CheckboxField,
    'select-multiple': MultiSelectField,
    select: SelectField,
    choice: SelectField,
    radio: SelectField,
    datetime: DateField,
    date: DateField,
  }

  export default {
    name: 'FilterField',
    props: {
      filter: {
        type: Object,
        required: true,
      },
      field: {
        type: Object,
        required: true,
      },
    },
    computed: {
      component() {
        return COMPONENTS_BY_TYPE[this.field.type]
      },
    },
  }
</script>

<style scoped lang="scss">
  /deep/ label {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
  }
</style>
