<template>
  <div class="input-group">
    <v-text-field
      small
      type="text"
      placeholder="Поиск"
      :value="$composer.searchQuery"
      autocomplete="off"
      append-icon="search"
      clearable
      :class="{search: $composer.searchQuery}"
      @input="search"
    />
  </div>
</template>
<script>
  export default {
    name: 'SearchPanel',
    inject: {
      $composer: {default: null}
    },
    methods: {
      search: _.debounce(
        function (searchQuery) {
          this.$composer.searchQuery = searchQuery
        },
        500,
        {leading: false, trailing: true}
      )
    }
  }
</script>
<style scoped lang="scss">
  .input-group {

    input {
      padding-right: 36px;

      &.search {
        padding-right: 64px;
      }
    }

    .input-group-btn {
      position: absolute;
      right: 0;
      z-index: 4;

      .v-btn {
        position: relative;

        &::before {
          content: '';
          border-left: 1px solid #d0d0d0;
          top: 4px;
          bottom: 4px;
          left: 0;
          position: absolute;
        }
      }
    }
  }
</style>
