<template lang="pug">
  transition(name="bottom-collapse" mode="out-in")
    v-menu(offset-y)
      v-btn(slot="activator" depressed small color="primary")
        v-icon(left size="14") more_horiz
        span Применить действие
      v-list(dense)
        v-list-tile(v-for="(action, i) in $composer.groupActions" :key="i" @click="onClickAction(action)")
          v-icon(left size="14") {{ action.icon }}
          v-list-tile-content {{ action.text }}
</template>

<script>
  export default {
    name: 'SelectPanel',
    inject: {
      $composer: {default: null}
    },
    methods: {
      onClickAction(action) {
        this.$composer.$emit('applySelectedAction', action)
      }
    }
  }
</script>
