<template lang="pug">
  v-container.pa-0(fluid)
    v-layout(row wrap align-center v-if="$composer.showTopControls")
      v-flex.mb-2.tollbar.btn-group
        v-btn(depressed fab size="14" color="accent" :outline="!$composer.modes.select" title="Режим выделения"
          v-if="$composer.groupActions.length" @click="enable('select')")
          v-icon(size="14") fa-fw fa-check
        v-btn(depressed fab size="14" color="accent" :outline="!$composer.modes.filter" title="Фильтр"
          v-if="isVisible('filter')" @click="enable('filter')")
          v-icon(size="14") fa-fw fa-search
        v-btn.accent--text(depressed icon size="14" title="Обновить" @click="$composer.load()")
          v-icon(size="14") fa-fw fa-sync-alt
        select-panel(v-if="$composer.modes.select && !selectedEmpty && $composer.groupActions.length")
      v-flex(shrink)
        template(v-for="(action, index) in $composer.topActions")
          v-btn.ml-1.mb-2(
            :key="index"
            :title="action.title"
            @click="onClickAction(action)"
            :loading="action.loading"
            small depressed hasData
            :color="action.color")
            v-icon(left size="14") {{action.icon}}
            span {{action.text}}
    v-layout(row wrap)
      v-flex(xs12)
        v-expansion-panel.flat(:value="[$composer.modes.search, $composer.modes.filter]" expand)
          v-expansion-panel-content
            search-panel.mb-2
          v-expansion-panel-content
            filter-panel.mb-2
</template>

<script>
  import FilterPanel from './FilterPanel'
  import SearchPanel from './SearchPanel'
  import SelectPanel from './SelectPanel'

  export default {
    name: 'TopControls',
    components: {
      SelectPanel,
      SearchPanel,
      FilterPanel,
    },
    inject: {
      $composer: {default: null},
      $modal: {default: null},
    },
    computed: {
      editPermissions() {
        return [
          ..._.map(
            _.filter([...this.$composer.extraRowActions, ...this.$composer.defaultRowActions], {mode: 'edit'}),
            'permission',
          ),
          'create',
          'update',
        ]
      },
      selectedEmpty() {
        const selected = this.$composer.selected
        return (!selected.checked.length && !selected.indeterminate && !selected.all) || !this.$composer.hasData
      },
    },
    methods: {
      async onClickAction(action) {
        const name = 'on' + _.upperFirst(_.camelCase(action.name))
        if (_.isFunction(action.action)) {
          this.$set(action, 'loading', true)
          try {
            await Promise.all([this.$delay(1000), action.action(this.$composer)])
          } catch (e) {}
          this.$set(action, 'loading', false)
        } else if (name in this.$composer) {
          this.$composer[name](this.$composer)
        } else {
          this.$composer.$emit(name, this.$composer)
        }
      },
      search: _.debounce(
        function(searchQuery) {
          this.$composer.searchQuery = searchQuery
        },
        500,
        {leading: false, trailing: true},
      ),

      enable(mode) {
        this.$composer.modes[mode] = !this.$composer.modes[mode]

        if (this.$composer.modes[mode]) {
          if (mode === 'sort' || mode === 'config') {
            this.$composer.$emit('orderColumn', null)
          }
        }
      },

      isVisible(mode, permissions) {
        if (_.includes(['sort'], mode)) {
          return false
        }
        if (!permissions) {
          permissions = [mode]
        }
        if (mode in this.$composer.modes) {
          for (const perm of permissions) {
            if (this.$composer.permissions[perm]) return true
          }
          return false
        }
        return false
      },
    },
  }
</script>

<style scoped>
  .tollbar .v-btn {
    width: 28px;
    height: 28px;
  }
</style>
