<template>
  <base-table
    id="org-account-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    create-form-title="Добавление пользователя"
    :create-form-component="AccountCreateForm"
    edit-form-title="Редактирование пользователя"
    :edit-form-component="AccountEditForm"
    delete-confirm-title="Удаление пользователя"
    delete-confirm-text="Вы действительно хотите удалить пользователя?"
    :extra-row-actions="extraRowActions"
    :default-row-actions="defaultRowActions"
    v-on="$listeners"
  ></base-table>
</template>

<script>
  import AccountCreateForm from './forms/AccountCreateForm'
  import AccountEditForm from './forms/AccountEditForm'
  import ChangePasswordForm from './forms/ChangePasswordForm'

  export default {
    name: 'AccountList',
    props: ['apiPath'],
    data() {
      return {
        ChangePasswordForm,
        AccountCreateForm,
        AccountEditForm,
        showColumns: [
          {name: 'first_name'},
          {name: 'last_name'},
          {name: 'patronymic'},
          {name: 'email'},
          {name: 'last_login'},
          {name: 'organization_permission'},
          {name: 'order_permission'},
        ],
        defaultRowActions: [
          {
            name: 'edit',
            title: 'Редактирование',
            icon: 'fa-pencil-alt',
            text: 'Изменить',
            permission: 'update',
            mode: 'edit',
          },
          {
            name: 'delete',
            title: 'Удалить',
            icon: 'fa-trash-alt',
            text: 'Удалить',
            permission: 'destroy',
            mode: 'edit',
            checker: row => {
              return !row.organization_permission
            },
          },
        ],
        extraRowActions: [
          {
            name: 'impersonate',
            title: 'Подменить',
            text: 'Подменить',
            icon: 'fa-user-secret',
            action: this.impersonate,
            checker: row => {
              return row.pk !== this.$store.getters.projectData.userId
            },
          },
          {
            name: 'change_passwd',
            title: 'Изменить пароль',
            text: 'Изменить пароль',
            icon: 'fa-key',
            action: this.change_passwd,
          },
        ],
      }
    },
    methods: {
      async impersonate(row, table) {
        try {
          await this.$ajax.post(`/api/impersonate/${row.pk}/`)
        } catch (err) {
          this.$notifyError('Ошибка', err)
          return
        }
        window.location = this.$store.getters.projectData.dashboardPath
      },
      change_passwd(row, table) {
        const promise = this.$modalForm({
          title: 'Изменение пароля',
          formComponent: this.ChangePasswordForm,
          formPath: `${this.apiPath}${row.pk}/change_passwd/`,
          btnText: 'Изменить',
        })
        promise.then(
          selected => {
            table.load()
          },
          () => {},
        )
      },
    },
  }
</script>
