<template>
  <translation-fields-form
    ref="form"
    help-id="edit-form"
    help-title="Форма редактирования типа доставки"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    v-on="$listeners"
  ></translation-fields-form>
</template>

<script>
  export default {
    name: 'EditForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'type', validator: {required: true}},
          {name: 'name'},
          {name: 'description'},
          {name: 'cost'},
          {name: 'payment_types', validator: {required: true}},
          {name: 'enabled'},
          {name: 'order'},
        ],
      }
    },
  }
</script>
