<template>
  <translation-fields-read-form
    ref="form"
    :api-path="apiPath"
    :show-fields="showFields"
    :to-edit="{name: 'organization-edit'}"
  >
    <template slot="field-logo" slot-scope="props">
      <img :src="props.model[props.field.name].path" style="width: 100px;" />
    </template>
  </translation-fields-read-form>
</template>

<script>
  export default {
    name: 'OrganizationView',
    props: ['apiPath'],
    data() {
      return {
        showFields: [{name: 'short_name'}, {name: 'full_name'}, {name: 'address'}, {name: 'logo'}],
      }
    },
  }
</script>
