<template>
  <edit-form
    ref="form"
    :api-path="apiPath"
    :hide-after-submit="false"
    submit-btn-text="Сохранить"
    breadcrumb-attr="name"
    :to-after-save="{name: 'organization-view'}"
  ></edit-form>
</template>

<script>
  import EditForm from './forms/EditForm'

  export default {
    name: 'OrganizationEdit',
    components: {EditForm},
    props: ['apiPath'],
  }
</script>
