<template lang="pug">
  app-card
    base-table(
    id="manage-deleted-models-list"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    v-on="$listeners"
    :group-by="{name: 'app_name', ordering: 'app_name'}"
    :show-columns="showColumns")
      template(slot="cell-model_name" slot-scope="props")
        router-link(:to="{name: 'deleted-list', params: {id: props.row.pk}}") {{props.value || '—'}}
      template(slot="cell-progress" slot-scope="props")
        v-progress-circular(v-if="props.row.total" :value="100*props.row.deleted/props.row.total" color="warning" size="27")
</template>

<script>
  export default {
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showColumns: [
          {name: 'model_name'},
          {name: 'total', meta: {class: 'tight text-center'}},
          {name: 'deleted', meta: {class: 'tight text-center'}},
          {name: 'progress', label: '', meta: {class: 'tight text-center py-1'}},
        ],
      }
    },
  }
</script>
