<template lang="pug">
  app-card
    base-table(
    id="manage-deleted-list"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    v-on="$listeners"
    @loaded="(table, data) => this.$root.$emit('title-replace', data.meta.title)"
    :default-row-actions="defaultRowActions"
    :default-group-actions="defaultGroupActions"
    :show-columns="showColumns"
    @onHardDelete="onHardDelete"
    @onRestore="onRestore")
</template>

<script>
  import GroupDeleteConfirm from 'components/base-composer/GroupActions/GroupDeleteConfirm'
  import noun from 'plural-ru'
  import RestoreConfirm from './RestoreConfirm'

  export default {
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },

    data() {
      return {
        showColumns: [
          {name: 'str_field'},
          {name: 'created_at'},
          {name: 'created_by'},
          {name: 'updated_at'},
          {name: 'updated_by'},
          {name: 'deleted_at'},
          {name: 'deleted_by'},
        ],
        defaultRowActions: [
          {
            name: 'restore',
            title: 'Восстановить',
            icon: 'fa-redo-alt fa-flip-horizontal',
            text: 'Восстановить',
            permission: 'restore',
          },
          {
            name: 'hard_delete',
            title: 'Удалить из базы',
            text: 'Удалить из базы',
            icon: 'fa-times',
            permission: 'hard_delete',
          },
        ],
        defaultGroupActions: [
          {
            name: 'restore',
            icon: 'fa-redo-alt fa-flip-horizontal',
            title: 'Восстановить',
            text: 'Восстановить',
            permission: 'restore',
            action: this.onGroupRestore,
          },
          {
            name: 'hard_delete',
            title: 'Удалить из базы',
            text: 'Удалить из базы',
            icon: 'fa-times',
            permission: 'hard_delete',
            action: this.onGroupHardDelete,
          },
        ],
      }
    },
    methods: {
      onHardDelete(row, table) {
        this.$deleteConfirm({
          helpId: 'hardDeleteConfirm',
          helpTitle: 'Подтверждение удаления',
          hardDelete: true,
          title: 'Удаление из базы',
          confirmationText: 'Вы действительно хотите удалить данные из базы?',
          btnText: 'Удалить из базы',
          apiPath: `${this.apiPath}${row.pk}/`,
          afterDelete: () => {
            table.$emit('deleted')
            table.load()
          },
        })
      },
      onRestore(row, table) {
        this.$confirm({
          helpId: 'restoreConfirm',
          helpTitle: 'Подтверждение восстановления',
          title: 'Восстановить',
          confirmationText: 'Вы действительно хотите восстановить данные?',
          btnText: 'Восстановить',
          btnColor: 'accent',
          component: RestoreConfirm,
          queryParams: {},
          apiPath: `${this.apiPath}${row.pk}/restore/`,
          afterRestore: () => table.load(),
        })
      },
      async onGroupRestore({action, count}, table) {
        const result = await this.$confirm({
          helpId: 'GroupRestoreConfirm',
          helpTitle: 'Подтверждение группового восстановления',
          title: 'Применить действие "Восстановить"',
          confirmationText: `Вы действительно хотите восстановить ${count} ${noun(
            count,
            'элемент',
            'элемента',
            'элементов',
          )}?`,
          btnText: 'Восстановить',
          btnColor: 'accent',
          component: RestoreConfirm,
          queryParams: {selected: table.selected, filter: table.filterParams, search: table.searchQuery},
          apiPath: `${this.apiPath}selected-${action.name}/`,
        })
        if (result) return result
        throw Error()
      },
      async onGroupHardDelete({action, count}, table) {
        const result = await this.$confirm({
          helpId: 'GroupHardDelete',
          helpTitle: 'Подтверждение группового удаления из базы',
          title: 'Применить действие "удаление из базы"',
          confirmationText: `Вы действительно хотите из удалить из базы ${count} ${noun(
            count,
            'элемент',
            'элемента',
            'элементов',
          )}?`,
          btnText: 'Удалить из базы',
          component: GroupDeleteConfirm,
          queryParams: {selected: table.selected, filter: table.filterParams, search: table.searchQuery},
          apiPath: `${this.apiPath}selected-${action.name}/`,
          hardDelete: true,
        })
        if (result) return result
        throw Error()
      },
    },
  }
</script>
