<template lang="pug">
  app-modal(v-model="show" :title="title" :disabled-close-btn="disabledCloseBtn" @hidden="onHidden")
    loader-overlay(:value="isLoading")
    transition(name="fade" mode="out-in")
      loading-alert(v-if="loadingAlert" @refresh="load" :type="loadingAlertType" v-html="loadingAlert")
      div(v-else-if='isLoaded')
        p(v-html="confirmationText")

        div(v-if="children.length")
          v-checkbox(hide-details v-model="cascade" label="Также можно восстановить следующие связанные данные:")
          transition(name="fade" mode="out-in")
            v-treeview(v-if="cascade" :items="children" open-all)

    template(slot="buttons" v-if="isLoaded" )
      v-btn(:color="btnColor" outline depressed small @click="confirmation(false)") {{cancelBtnText}}
      v-btn(:loading="isLoading" :disable="!!loadingAlert" :color="btnColor" depressed small @click="confirmation(true)") {{btnText}}
</template>

<script>
  import LoadMixin from 'mixins/LoadMixin'
  import ModalMixin from 'mixins/ModalMixin'

  export default {
    mixins: [ModalMixin, LoadMixin],
    props: {
      apiPath: {
        type: String,
        required: true,
      },
      queryParams: {
        type: Object,
        required: true,
      },
      title: {
        type: String,
        required: true,
      },
      disabledCloseBtn: {
        type: Boolean,
        required: false,
        default: false,
      },
      confirmationText: {
        type: String,
        required: true,
      },
      cancelBtnText: {
        type: String,
        required: false,
        default: 'Отменить',
      },
      btnText: {
        type: String,
        required: false,
        default: '',
      },
      btnColor: {
        type: String,
        required: false,
        default: 'error',
      },
      afterRestore: {
        type: Function,
        required: false,
      },
    },
    data() {
      return {
        children: [],
        cascade: true,
      }
    },
    methods: {
      upperFirst(val) {
        return _.upperFirst(val)
      },
      async load() {
        const response = await this.loadingDecorator(this.$ajax.get(this.apiPath, {params: this.queryParams}))
        this.children = response.data.children || []
      },
      async confirmation(result) {
        if (result) {
          await this.loadingDecorator(
            this.$ajax.post(this.apiPath, {cascade: this.cascade}, {params: this.queryParams}),
          )
          if (this.afterRestore) {
            this.afterRestore()
          }
          this.$notify('Данные восстановлены')
        }

        this.closeModal()
        this.$emit('submitted', result)
      },
    },
  }
</script>

<style scoped lang="scss">
  .theme--light.v-treeview /deep/ {
    margin-top: 10px;
    margin-left: 10px;
  }
</style>
