<template>
  <translation-fields-form :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'FormatForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'name'},
          {name: 'description'},
          {name: 'width'},
          {name: 'height'},
        ],
      }
    },
  }
</script>
