<template>
  <translation-fields-form :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'FormatPriceForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [{name: 'paper_type'}, {name: 'price'}, {name: 'enabled'}, {name: 'order'}],
      }
    },
  }
</script>
