<template>
  <translation-fields-table
    id="courier-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    :create-form-component="DeliveryRegionForm"
    :edit-form-component="DeliveryRegionForm"
    v-on="$listeners"
  ></translation-fields-table>
</template>

<script>
  import DeliveryRegionForm from './forms/Form'

  export default {
    name: 'DeliveryRegionList',
    props: ['id', 'apiPath'],
    data() {
      return {
        DeliveryRegionForm,
        showColumns: [{name: 'name'}, {name: 'cost'}, {name: 'payment_types'}, {name: 'enabled'}, {name: 'order'}],
      }
    },
  }
</script>
