<template>
  <base-form :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'FtpUserForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [{name: 'user'}],
      }
    },
  }
</script>
