<template>
  <app-card>
    <translation-fields-table
      id="photo_format-list"
      ref="table"
      v-bind="$props"
      :create-form-component="EditForm"
      :edit-form-component="EditForm"
      :show-columns="showColumns"
      v-on="$listeners"
    >
      <template #cell-name_ru="props">
        <router-link :to="`/${props.row.pk}/`">
          {{ props.value || '—' }}
        </router-link>
      </template>
    </translation-fields-table>
  </app-card>
</template>

<script>
  import EditForm from './forms/EditForm'

  export default {
    name: 'PhotoFormatList',
    props: ['apiPath'],
    data() {
      return {
        EditForm,
        showColumns: [{name: 'name'}, {name: 'width'}, {name: 'height'}, {name: 'enabled'}, {name: 'order'}],
      }
    },

    mounted() {
      this.$root.$emit('title-replace', 'Фото форматы')
    },
  }
</script>
