<template>
  <translation-fields-read-form
    ref="form"
    :api-path="apiPath"
    :fieldsets="fieldsets"
    :show-fields="showFields"
    :to-edit="{name: 'format-edit'}"
  >
    <template slot="field-enabled" slot-scope="props">
      <BooleanIcon :value="props.model[props.field.name]"></BooleanIcon>
    </template>
  </translation-fields-read-form>
</template>

<script>
  export default {
    name: 'PhotoFormatView',
    props: ['id', 'apiPath'],
    data() {
      return {
        showFields: [
          {name: 'name'},
          {name: 'width'},
          {name: 'height'},

          {name: 'polaroid_frame_width'},
          {name: 'polaroid_frame_bottom_width'},
          {name: 'instagram_frame_width'},

          {name: 'enabled'},
          {name: 'order'},
        ],
        fieldsets: [
          {
            name: 'information',
            title: 'Формат',
            fields: ['name', 'width', 'height', 'enabled', 'order'],
          },
          {
            name: 'polaroid',
            title: 'Рамка Polaroid',
            fields: ['polaroid_frame_width', 'polaroid_frame_bottom_width'],
          },
          {
            name: 'instagramm',
            title: 'Рамка Instagramm',
            fields: ['instagram_frame_width'],
          },
        ],
      }
    },
    mounted() {
      this.$watch(
        () => this.$refs.form?.model?.__str__,
        value => {
          this.$root.$emit('title-replace', `Фото формат: ${value}`)
        },
      )
    },
  }
</script>
