<template>
  <app-card>
    <v-tabs show-arrows>
      <v-tab :to="{name: 'format-view'}">
        Формат
      </v-tab>
      <v-tab :to="{name: 'format-price'}">
        Цены
      </v-tab>
    </v-tabs>
    <v-divider class="mb-3" />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </app-card>
</template>

<script>
  export default {
    name: 'PhotoFormatPage',
    props: ['id', 'apiPath'],
  }
</script>

<style></style>
