<template>
  <base-form
    help-id="account-edit-form"
    help-title="Форма редактирования пользователя"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    v-on="$listeners"
  ></base-form>
</template>

<script>
  export default {
    name: 'AccountEditForm',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [
          {name: 'email'},
          {name: 'last_name'},
          {name: 'first_name'},
          {name: 'patronymic'},
          {name: 'order_permission'},
        ],
      }
    },
  }
</script>
