<template>
  <base-form
    ref="form"
    help-id="account-create-form"
    help-title="Форма добавления пользователя"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    v-on="$listeners"
  ></base-form>
</template>

<script>
  export default {
    name: 'AccountCreateForm',
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [
          {name: 'email'},
          {name: 'last_name'},
          {name: 'first_name'},
          {name: 'patronymic'},
          {name: 'order_permission'},
          {
            label: 'Пароль',
            type: 'password',
            name: 'password',
            required: true,
          },
          {
            label: 'Подтверждение пароля',
            type: 'input',
            input_type: 'password',
            name: 'password_confirm',
            validator: {password_confirm: () => this.$refs.form.model.password, required: true},
            required: true,
          },
        ],
      }
    },
  }
</script>
