<template>
  <translation-fields-table
    id="transport-company-point-table"
    ref="table"
    :api-path="apiPath"
    v-bind="$props"
    :show-columns="showColumns"
    :create-form-component="TransportCompanyPointForm"
    :edit-form-component="TransportCompanyPointForm"
    v-on="$listeners"
  ></translation-fields-table>
</template>

<script>
  import TransportCompanyPointForm from './forms/Form'

  export default {
    name: 'TransportCompanyPointList',
    props: ['id', 'apiPath'],
    data() {
      return {
        TransportCompanyPointForm,
        showColumns: [{name: 'address'}, {name: 'enabled'}, {name: 'order'}],
      }
    },
  }
</script>
