<template>
  <translation-fields-form :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'CreateProductForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [{name: 'base_product'}],
      }
    },
  }
</script>
