<template>
  <translation-fields-form :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'UpdateProductForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [{name: 'name'}, {name: 'price'}, {name: 'enabled'}],
      }
    },
  }
</script>
