<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <order-state-info v-if="canManageOrder" :data="orderData"></order-state-info>
      <new-order-info v-if="canManageOrder" :api-path="orderApiPath"></new-order-info>
    </v-layout>
  </v-container>
</template>

<script>
  import NewOrderInfo from './NewOrderInfo'
  import OrderStateInfo from './OrderStateInfo'
  import LoadMixin from 'mixins/LoadMixin'

  export default {
    name: 'DashboardPage',
    components: {
      NewOrderInfo,
      OrderStateInfo,
    },
    mixins: [LoadMixin],
    props: ['apiPath', 'title', 'canManageOrder', 'canManageOrganizations', 'orderApiPath', 'orderData'],
  }
</script>
