<template>
  <v-flex sm12 md6 lg4 xl3>
    <app-card class="pb-2">
      <div slot="header">
        <h3>Новые заказы</h3>
      </div>
      <base-list
        id="orders"
        ref="list"
        action
        :api-path="apiPath"
        :extra-filters="{state: 1}"
        title-column-name="created_at"
        first-subtitle-column-name="client"
      >
        <template #title="{ row, value }">
          <span>Заказ от: {{ value }}</span>
        </template>
        <template #first-sub-title="{ row, value }">
          <div>
            <small class="text--primary">клиент: {{ value }}</small>
          </div>
        </template>
        <template #action="{ row }">
          <v-btn flat icon color="indigo" href="/workspace/order/orders/">
            <v-icon title="Подробнее">fa-arrow-right</v-icon>
          </v-btn>
        </template>
      </base-list>
    </app-card>
  </v-flex>
</template>

<script>
  export default {
    name: 'NewOrderInfo',
    props: ['apiPath'],
  }
</script>
