<template>
  <v-flex sm12 md6 lg4 xl3>
    <app-card class="pb-2">
      <div slot="header">
        <h3>Заказы</h3>
      </div>
      <ul v-for="(item, index) in data" :key="index">
        <li>{{ item.state }} ({{ item.count }})</li>
      </ul>
    </app-card>
  </v-flex>
</template>

<script>
  export default {
    name: 'OrderStateInfo',
    props: ['data'],
  }
</script>
