<template>
  <translation-fields-form :api-path="apiPath" :show-fields="showFields" v-bind="$attrs" v-on="$listeners" />
</template>
<script>
  export default {
    name: 'CategoryForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [
          {name: 'name'},
          {name: 'icon'},
          {name: 'photos'},
          {name: 'description'},
          {name: 'display_option'},
          {name: 'enabled'},
        ],
      }
    },
  }
</script>
