<template>
  <subdivision-list :api-path="apiPath"></subdivision-list>
</template>

<script>
  import SubdivisionList from '../../../organization/subdivisions/List'

  export default {
    name: 'PickupList',
    components: {SubdivisionList},
    props: ['apiPath'],
    data() {
      return {
        SubdivisionList,
      }
    },
  }
</script>
