<template>
  <translation-fields-form
    help-id="edit-form"
    help-title="Форма редактирования типа бумаги"
    :api-path="apiPath"
    :show-fields="showFields"
    v-bind="$attrs"
    v-on="$listeners"
  ></translation-fields-form>
</template>

<script>
  export default {
    name: 'EditForm',
    props: ['apiPath'],
    data() {
      return {
        showFields: [{name: 'name'}, {name: 'enabled'}, {name: 'order'}],
      }
    },
  }
</script>
