<template>
  <app-card>
    <v-tabs show-arrows>
      <v-tab :to="{name: 'account-view'}">
        Пользователь
      </v-tab>
      <v-tab :to="{name: 'change_passwd'}">
        Изменение пароля
      </v-tab>
    </v-tabs>
    <v-divider class="mb-3" />
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </app-card>
</template>

<script>
  export default {
    name: 'AccountPage',
    props: ['id', 'apiPath'],
  }
</script>
