<template>
  <base-read-form
    ref="form"
    :api-path="apiPath"
    :show-fields="showFields"
    :to-edit="{name: 'account-edit'}"
  ></base-read-form>
</template>

<script>
  export default {
    name: 'AccountView',
    props: ['id', 'apiPath'],
    data() {
      return {
        showFields: [
          {name: 'last_name'},
          {name: 'first_name'},
          {name: 'patronymic'},
          {name: 'organization__name'},
          {name: 'email'},
        ],
      }
    },
  }
</script>
