<template lang="pug">
  base-form(
  ref="form"
  :api-path="apiPath"
  :show-fields="showFields"
  v-on="$listeners"
  v-bind="$attrs")
</template>

<script>
  export default {
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        showFields: [{name: 'title'}, {name: 'organization', label: 'Организация'}],
      }
    },
  }
</script>
