<template>
  <span>
    <v-icon v-if="value" small color="green">fa-check-circle</v-icon>
    <v-icon v-else small color="red">fa-times-circle</v-icon>
    <slot />
  </span>
</template>

<script>
  export default {
    name: 'BooleanIcon',
    props: ['value'],
  }
</script>
