<template lang="pug">
  uploader.v-text-field(:options="options" ref="uploader")

    uploader-unsupport
      p Ваш браузер не поддерживает загрузку файлов.
    uploader-drop
      span(v-if="single") Загрузите файл перетащив сюда или
      span(v-else) Загрузите файлы перетащив сюда или
      uploader-btn.ml-2(:attrs="attrs") Нажмите чтобы загрузить
    uploader-list
      template(slot-scope="props")
        ul
          li(v-for="multipleValue in initialMultipleValue")
            div.uploader-file(status="success")
              div.uploader-file-progress(style="transform: translateX(0%);")
              div.uploader-file-info
                div.uploader-file-name
                  i.uploader-file-icon(:icon="props.fileCategory")
                  span {{multipleValue.name}}
                div.uploader-file-status
                div.uploader-file-actions
                  span.uploader-file-remove(@click="removedInitialMultiValue(multipleValue.pk)")

          li(v-if="showSingleInitialFile")
            div.uploader-file(status="success")
              div.uploader-file-progress(style="transform: translateX(0%);")
              div.uploader-file-info
                div.uploader-file-name
                  i.uploader-file-icon(:icon="props.fileCategory")
                  span {{value.name}}
                div.uploader-file-status
                div.uploader-file-actions
                  span.uploader-file-remove(@click="fileRemoved")

          li(v-else v-for="file in props.fileList" :key="file.id")
            uploader-file(:file="file" :list="true")
              template(slot-scope="props")
                div.uploader-file-progress(:class="props.progressingClass" :style="props.progressStyle")
                div.uploader-file-info
                  div.uploader-file-name
                    i.uploader-file-icon(:icon="props.fileCategory")
                    span {{file.name}}
                  div.uploader-file-status
                    span(v-show="props.status === 'uploading'")
                      span {{props.progressStyle.progress}}
                    span {{errors[file.uniqueIdentifier]}}
                  div.uploader-file-actions
                    span.uploader-file-remove(@click="file.cancel()")

    div.v-messages.error--text(v-if="errorMessages")
      template(v-for="msg in errorMessages")
        span {{msg}}
</template>

<script>
  import Cookies from 'js-cookie'
  import {uuid} from 'vue-uuid'
  import File from 'vue-simple-uploader/src/components/File'

  export default {
    name: 'ChunkUploader',
    inject: {
      $validator: '$validator',
    },
    components: {File},
    props: ['value', 'single', 'accept', 'errorMessages'],
    data() {
      return {
        errors: {},
        uuidValue: this.single ? null : this.value,
        uploader: null,
        uploading: false,
        options: {
          target: '/api/chunked/upload/',
          headers: {'X-CSRFTOKEN': Cookies.get(window.CSRF_COOKIE_NAME)},
          query: {accept: this.accept},
          testChunks: false,
          singleFile: this.single,
          generateUniqueIdentifier: uuid.v4,
          processResponse: this.uploadResponse,
        },
        attrs: {
          accept: _.join(this.accept, ','),
        },
      }
    },
    computed: {
      initialMultipleValue() {
        return _.filter(this.uuidValue, function(data) {
          return data.pk
        })
      },
      showSingleInitialFile() {
        if (this.single) {
          if (this.value && this.value.name && !this.uploading) {
            return true
          }
        }
        return false
      },
    },
    watch: {
      value(newValue) {
        this.uuidValue = this.single ? null : newValue
      },
    },
    mounted() {
      this.$nextTick(() => {
        this.uploader = this.$refs.uploader.uploader
        this.uploader.uploader.support = false
        this.uploader.on('fileRemoved', this.fileRemoved)
        this.uploader.on('uploadStart', this.uploadStart)
        this.uploader.on('fileError', this.fileError)
      })
    },
    destroyed() {
      this.uploader.off('fileRemoved', this.fileRemoved)
      this.uploader.off('uploadStart', this.uploadStart)
      this.uploader.off('fileError', this.fileError)
    },
    methods: {
      uploadStart() {
        this.uploading = true
      },
      removedInitialMultiValue(pk) {
        this.uuidValue = _.filter(this.uuidValue, function(uuid) {
          return uuid.pk !== pk
        })
        this.$emit('input', this.uuidValue)
      },
      fileError(rootFile, file, message) {
        if (file) {
          const errors = _.map(JSON.parse(message), function(v, k) {
            return v
          })
          this.errors[file.uniqueIdentifier] = _.join(errors, '. ')
        }
      },
      fileRemoved(file) {
        if (this.single) {
          this.uuidValue = null
        } else {
          this.uuidValue = _.filter(this.uuidValue, function(uuid) {
            return uuid !== file.uniqueIdentifier
          })
        }
        this.$emit('input', this.uuidValue)
      },
      uploadResponse(msg, cb) {
        const data = JSON.parse(msg)
        if (data.loaded) {
          if (this.single) {
            this.uuidValue = data.uuid
          } else {
            this.uuidValue.push(data.uuid)
          }
          this.uploading = false
          this.$emit('input', this.uuidValue)
        }
        cb(null, msg)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .v-text-field {
    padding-top: 0;
  }

  .v-messages {
    padding-top: 5px;
  }

  /deep/ .uploader-drop {
    background-color: transparent;
  }

  /deep/ .uploader-file-status {
    width: 45%;
    font-size: 12px;
  }

  /deep/ .uploader-file[status='success'] .uploader-file-remove {
    display: inherit;
  }
</style>
