<template>
  <div>
    <v-menu
      v-if="!$attrs.readonly && !$attrs.disabled"
      v-model="picker"
      :close-on-content-click="false"
      full-width
      lazy
      max-width="290px"
      min-width="290px"
      offset-y
      transition="scale-transition"
      v-bind="$attrs"
    >
      <v-text-field
        slot="activator"
        v-model="inputValue"
        v-validate="{custom_rules: [validateDay]}"
        append-icon="event"
        clearable
        persistent-hint
        v-bind="$attrs"
        @blur="onBlur"
        @input="onInput"
      />
      <v-tabs ref="tabs" :value="tab" grow>
        <v-tab>Дата</v-tab>
        <v-tab :disabled="!date">
          Время
        </v-tab>
        <v-tab-item reverse-transition="transition-fade" transition="transition-fade">
          <v-date-picker
            :allowed-dates="workDays"
            :events="shortWorkDays"
            :readonly="isReadonly"
            :value="date"
            first-day-of-week="1"
            locale="ru"
            no-title
            @change="onDateChange"
          />
        </v-tab-item>
        <v-tab-item reverse-transition="transition-fade" transition="transition-fade">
          <v-time-picker
            ref="timePicker"
            :readonly="isReadonly"
            :value="time"
            format="24hr"
            locale="ru"
            no-title
            @change="onTimeChange"
            @dblclick.native="closePicker"
            @input="onTimeInput"
          />
        </v-tab-item>
      </v-tabs>
    </v-menu>
    <v-text-field v-else v-model="inputValue" append-icon="event" persistent-hint v-bind="$attrs" />
  </div>
</template>

<script>
  import moment from 'moment'

  export default {
    name: 'DateTimePicker',
    inject: {
      $validator: '$validator',
    },
    props: {
      value: {
        type: String,
      },
      format: {
        type: String,
        default: 'DD.MM.YYYY HH:mm',
      },
      useWorkCalendar: {
        type: Boolean,
        default: () => false,
      },
    },
    data() {
      return {
        picker: false,
        tab: 0,
        inputValue: this.value,
        dateTime: this.parseDateTime(this.value),
      }
    },
    computed: {
      date() {
        if (this.dateTime) {
          return this.dateTime.split(' ')[0]
        }
        return null
      },
      time() {
        if (this.dateTime) {
          return this.dateTime.split(' ')[1]
        }
        return '00:00'
      },
      isReadonly() {
        return this.$attrs.readonly || this.$attrs.disabled
      },
    },
    watch: {
      value(val) {
        this.inputValue = val
        this.dateTime = this.parseDateTime(val)
      },
      picker(val) {
        setTimeout(() => {
          this.$refs.tabs?.updateTabsView?.()
        }, 350)
        if (!val) {
          this.tab = 0
          if (this.$refs.timePicker) {
            this.$refs.timePicker.selectingHour = true
          }
        }
      },
      inputValue(val) {
        this.$emit('input', val)
      },
    },
    methods: {
      async validateDay(val) {
        if (!this.useWorkCalendar) return
        val = this.parseDateTime(val)
        if (!val) return
        val = val.split(' ')[0]
        const year = parseInt(val.split('-')[0])
        await this.$store.dispatch('loadWorkCalendarIfNotExist', year)
        if (this.$store.getters.isHolidays(year, val)) {
          return 'Выходной или праздничный день'
        }
      },
      workDays(val) {
        if (!this.useWorkCalendar) return true
        val = val.split(' ')[0]
        const year = parseInt(val.split('-')[0])
        this.$store.dispatch('loadWorkCalendarIfNotExist', year)
        return !this.$store.getters.isHolidays(year, val)
      },
      shortWorkDays(val) {
        if (!this.useWorkCalendar) return false
        val = val.split(' ')[0]
        const year = parseInt(val.split('-')[0])
        this.$store.dispatch('loadWorkCalendarIfNotExist', year)
        return this.$store.getters.isShortWorkdays(year, val)
      },
      parseDateTime(date) {
        if (!date) return null
        const m = moment(date, this.format)
        if (m.isValid() && m.year() > 1000) return m.format('YYYY-MM-DD HH:mm')
      },
      formatDateTime(date) {
        if (!date) return null
        return moment(date, 'YYYY-MM-DD HH:mm').format(this.format)
      },
      onInput(val) {
        const dateTime = this.parseDateTime(val)
        if (dateTime) {
          this.dateTime = dateTime
        }
      },
      onBlur() {
        const dateTime = this.parseDateTime(this.inputValue)
        if (dateTime) {
          this.dateTime = dateTime
          this.inputValue = this.formatDateTime(dateTime)
        } else {
          this.dateTime = null
          this.inputValue = null
        }
      },
      onDateChange(val) {
        const dateTime = [val, this.time].join(' ')
        this.inputValue = this.formatDateTime(dateTime)
        this.dateTime = dateTime
        this.tab = 1
      },
      onTimeInput(val) {
        const dateTime = [this.date, val].join(' ')
        this.inputValue = this.formatDateTime(dateTime)
        this.dateTime = dateTime
      },
      closePicker() {
        this.picker = false
      },
      onTimeChange() {
        this.closePicker()
      },
    },
  }
</script>
