<template>
  <v-tooltip fixed top>
    <span slot="activator" @click="toggleFormat">
      <transition mode="out-in" name="fade">
        <span v-if="showCalendarFormat" :key="'calendar'">{{ calendarFormat }}</span>
        <span v-else :key="'string'">{{ stringFormat }}</span>
      </transition>
    </span>
    <span>{{ stringFormat }}</span>
  </v-tooltip>
</template>

<script>
  import moment from 'moment'

  moment.locale('ru')

  const FORMAT = 'DD.MM.YYYY HH:mm'
  export default {
    name: 'DateTimeFormat',
    props: ['value'],
    data() {
      return {
        showCalendarFormat: true,
      }
    },
    computed: {
      calendarFormat() {
        return moment(this.value, FORMAT).calendar()
      },
      stringFormat() {
        return moment(this.value, FORMAT).format(FORMAT)
      },
    },
    methods: {
      toggleFormat() {
        this.showCalendarFormat = !this.showCalendarFormat
      },
    },
  }
</script>
