<template>
  <div>
    <v-menu
      v-if="!$attrs.readonly && !$attrs.disabled"
      v-model="picker"
      :close-on-content-click="false"
      v-bind="$attrs"
      lazy
      transition="scale-transition"
      offset-y
      full-width
      max-width="290px"
      min-width="290px"
    >
      <v-text-field
        slot="activator"
        v-model="inputValue"
        v-validate="{custom_rules: [validateDay]}"
        v-bind="$attrs"
        persistent-hint
        append-icon="event"
        clearable
        @input="onInput"
        @blur="onBlur"
      />
      <v-date-picker
        v-model="date"
        :allowed-dates="workDays"
        :events="shortWorkDays"
        :type="type"
        no-title
        locale="ru"
        first-day-of-week="1"
        @change="onChange"
      />
    </v-menu>

    <v-text-field v-else v-model="inputValue" v-bind="$attrs" persistent-hint append-icon="event" />
  </div>
</template>

<script>
  import moment from 'moment'

  export default {
    name: 'DatePicker',
    inject: {
      $validator: '$validator',
    },
    props: {
      value: {
        type: String,
      },
      format: {
        type: String,
        default: 'DD.MM.YYYY',
      },
      useWorkCalendar: {
        type: Boolean,
        default: () => false,
      },
      type: {
        type: String,
        default: 'date',
      },
    },
    data() {
      return {
        picker: false,
        inputValue: this.value,
        date: this.parseDate(this.value),
      }
    },
    watch: {
      value(val) {
        this.inputValue = val
        this.date = this.parseDate(val)
      },
      inputValue(val) {
        this.$emit('input', val)
      },
    },
    methods: {
      async validateDay(val) {
        if (!this.useWorkCalendar) return
        val = this.parseDate(val)
        if (!val) return
        const year = parseInt(val.split('-')[0])
        await this.$store.dispatch('loadWorkCalendarIfNotExist', year)
        if (this.$store.getters.isHolidays(year, val)) {
          return 'Выходной или праздничный день'
        }
      },
      workDays(val) {
        if (!this.useWorkCalendar) return true
        const year = parseInt(val.split('-')[0])
        this.$store.dispatch('loadWorkCalendarIfNotExist', year)
        return !this.$store.getters.isHolidays(year, val)
      },
      shortWorkDays(val) {
        if (!this.useWorkCalendar) return false
        const year = parseInt(val.split('-')[0])
        this.$store.dispatch('loadWorkCalendarIfNotExist', year)
        return this.$store.getters.isShortWorkdays(year, val)
      },
      parseDate(date) {
        if (!date) return null
        const m = moment(date, this.format)
        if (m.isValid() && m.year() > 1000) return m.format('YYYY-MM-DD')
      },
      formatDate(date) {
        if (!date) return null
        return moment(date, 'YYYY-MM-DD').format(this.format)
      },
      onInput(val) {
        const date = this.parseDate(val)
        if (date) {
          this.date = date
        }
      },
      onBlur() {
        const date = this.parseDate(this.inputValue)
        if (date) {
          this.date = date
          this.inputValue = this.formatDate(date)
        } else {
          this.date = null
          this.inputValue = null
        }
      },
      onChange(val) {
        this.inputValue = this.formatDate(val)
        this.picker = false
      },
    },
  }
</script>
