<template>
  <div class="experts-load-widget">
    <loader-overlay :value="isLoading" />
    <v-alert v-if="alert" :value="alert" type="info">
      <div>Нет данных</div>
    </v-alert>
    <table v-else width="100%">
      <thead>
        <tr>
          <th
            v-for="head in headers"
            :key="head.value"
            :rowspan="1 + !Boolean(head.items)"
            :colspan="headerColspan(head)"
            :align="head.align"
          >
            {{ head.text }}
          </th>
        </tr>
        <tr>
          <th v-for="(header, index) in headerChildItems" :key="index" :rowspan="1" :align="header.align || 'center'">
            {{ header.text }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, tr_index) in items" :key="tr_index">
          <td v-for="(val, td_index) in item" :key="`${tr_index}_${td_index}`" :align="val.align || 'center'">
            {{ val.item || '' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import LoadMixin from 'mixins/LoadMixin'

  export default {
    name: 'ExpertsLoadWidget',
    mixins: [LoadMixin],
    props: {
      apiPath: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        alert: false,
        items: [],
        headers: [],
        headerChildItems: [],
      }
    },
    computed: {},
    methods: {
      headerColspan(header) {
        if (header.items) {
          return header.items.length
        }
        return 1
      },
      load() {
        this.loadingDecorator(
          this.$ajax.get(`${this.apiPath}experts-load/`).then(response => {
            this.headers = response.data.headers
            this.headers.forEach(element => {
              if (element.items) {
                element.items.forEach(element => {
                  this.headerChildItems.push(element)
                })
              }
            })
            this.alert = response.data.no_data
            response.data.items.forEach(row => {
              const items = []
              this.headers.forEach(header => {
                if (header.items) {
                  header.items.forEach(childHeader => {
                    items.push({align: childHeader.align, item: row[header.value][childHeader.value]})
                  })
                } else {
                  items.push({align: header.align, item: row[header.value]})
                }
              })
              this.items.push(items)
            })
          }),
        )
      },
    },
  }
</script>

<style scoped>
  table {
    border-collapse: collapse;
    word-break: break-word;
  }

  td,
  th {
    border: 2px solid #e5e5e5;
    position: relative;
  }

  td:first-of-type {
    word-break: normal;
  }
</style>
