<template>
  <v-autocomplete
    ref="input"
    :items="items"
    :loading="loading"
    :menu-props="{maxHeight: '300px'}"
    :no-filter="true"
    :search-input.sync="term"
    :value="value"
    item-text="text"
    item-value="guid"
    no-data-text="Введите адрес в формате: Регион, город, улица, дом, квартира"
    return-object
    v-bind="$attrs"
    @input="handleInput"
    v-on="getListeners"
  />
</template>
<script>
  import debounce from 'lodash/debounce'

  const REGION = 1
  const AREA = 3
  const SETTLEMENT = 35
  const CITY = 4
  const LOCALITY = 6
  const PLAN_STRUCT = 65
  const STREET = 7
  const STEAD = 75
  const HOUSE = 8
  const ROOM = 9
  const LG_GLOBAL = 'global'
  const LG_ADDROBJ = 'addrobj'
  const LG_STEAD = 'stead'
  const LG_HOUSE = 'house'
  const LG_HOUSE_AND_STEAD = 'house_and_stead'
  const LG_ROOM = 'room'

  export default {
    name: 'FiasAddress',
    props: {
      value: Object,
      apiRoot: String,
      apiKey: String,
    },
    data() {
      return {
        loading: false,
        term: '',
        items: [],
        selected: this.value,
        lock: false,
        isOpen: false,
      }
    },
    computed: {
      getListeners() {
        const {input, ...others} = this.$listeners
        return {...others}
      },
    },
    watch: {
      term(val) {
        if (this.isOpen && (this.term !== this.selected?.text || !this.selected?.guid)) {
          this.searchAddress(this.term)
        }
      },
      isOpen(val) {
        if (this.isOpen && (this.term !== this.selected?.text || !this.selected?.guid)) {
          this.searchAddress(this.term)
        }
      },
    },
    mounted() {
      if (this.value) {
        this.items = [this.value]
      }
      this.$watch(
        () => this.$refs.input.$_menuProps.value,
        (val, oldVal) => {
          this.isOpen = val
        },
      )
    },
    methods: {
      async handleInput(value) {
        if (value?.guid) {
          if (this.selected?.guid !== value.guid) {
            const rest = value.rest
            value = await this.getInfo(value.guid)
            if (rest) {
              value.text = [value.text, rest].join(' ')
              value.rest = rest
            }
          } else if (this.selected && value.text.startsWith(this.selected.text)) {
            // сохранение оставшейся части в остаток
            value.rest = value.text.slice(this.selected.text.length)
          }
        }

        this.selected = value
        this.items = [this.selected]
        this.$emit('input', this.modifyInfo(this.selected))
      },
      cancelActiveRequest() {
        // отмена текущего запроса
        if (this._cancelRequest !== undefined) {
          this._cancelRequest()
          delete this._cancelRequest
        }
      },
      async makeRequest(url, params = null) {
        this.cancelActiveRequest()
        let result = null
        const headers = {
          'X-API-KEY': this.apiKey,
        }
        try {
          this.loading = true
          const cancelToken = new this.$ajax.CancelToken(cancelRequest => {
            this._cancelRequest = cancelRequest
          })
          const response = await this.$ajax.get(url, {params, headers, cancelToken})
          result = response.data
        } catch (e) {
          if (!(e instanceof this.$ajax.Cancel)) {
            this.$emit('error', e)
          }
        }
        this.loading = false
        return result
      },
      async getInfo(guid) {
        this.lock = true
        const response = await this.makeRequest(`${this.apiRoot}info/${guid}`)

        this.lock = false
        if (response) {
          return response
        }
      },

      getSearchParams(term) {
        const params = {term, limit: 4, levelgroup: LG_ADDROBJ}
        // Если ввели за раз много символов, то скорее всего это адрес скопировали будем искать по дому
        if (!this.selected?.guid && term.length > 30) {
          params.levelgroup = LG_GLOBAL
        }
        if (this.selected?.guid) {
          let selectedText = this.selected.text.trim()
          if (this.selected.rest) {
            // не учтьваем остаток
            selectedText = selectedText.slice(0, selectedText.length - this.selected.rest.length).trim()
          }
          if (term.startsWith(selectedText)) {
            params.ancestorguid = this.selected.guid
            if ([STREET, PLAN_STRUCT].includes(this.selected.aolevel)) {
              params.levelgroup = LG_HOUSE_AND_STEAD
            } else if (this.selected.aolevel === HOUSE) {
              params.levelgroup = LG_ROOM
            } else {
              params.levelgroup = LG_ADDROBJ
            }
          } else {
            // если введный текст не относится к выбранному адресу то переходим на уровень выше
            const levels = [
              // this.selected.house,
              [this.selected.street, LG_HOUSE_AND_STEAD],
              [this.selected.plan_struct, LG_HOUSE_AND_STEAD],
              [this.selected.locality, LG_ADDROBJ],
              [this.selected.city, LG_ADDROBJ],
              [this.selected.settlement, LG_ADDROBJ],
              [this.selected.area, LG_ADDROBJ],
              [this.selected.region, LG_ADDROBJ],
            ]
            const ancestor = levels.find(([item, levelgroup]) => item && term.includes(item.formalname))
            if (ancestor) {
              params.ancestorguid = ancestor.guid
              params.levelgroup = ancestor.levelgroup
            }
          }
        }
        return params
      },
      modifyInfo(info) {
        // перобразование информации для гранения в базе
        if (!info) {
          return info
        }
        return {
          ...info,
          region: info.region?.part || null,
          area: info.area?.part || null,
          settlement: info.settlement?.part || null,
          city: info.city?.part || null,
          locality: info.locality?.part || null,
          plan_struct: info.plan_struct?.part || null,
          street: info.street?.part || null,
          house: info.house?.part || null,
          room: info.room?.part || null,
          stead: info.stead?.part || null,
        }
      },
      searchAddress: debounce(async function(term) {
        if (this.lock) {
          return
        }
        if (!term) {
          // нет запроса нет результата
          this.items = []
          this.selected = null
          this.$emit('input', this.selected)
          return
        }

        const params = this.getSearchParams(term)

        const response = await this.makeRequest(`${this.apiRoot}search/`, params)
        const items = []
        if (response?.result) {
          items.push(...response.result)

          // ищем адресс который совпадает со строка поиска и меняем в нём текст
          const found = items.find(({text}) => new RegExp(`^${text}\\W+.*$`).test(term))
          if (found) {
            found.rest = term.slice(found.text.length)
            found.text = [found.text, found.rest].join('')
          } else if (this.selected) {
            const text = this.selected.text
            items.push({...this.selected, text: new RegExp(`^${text}\\W+.*$`).test(term) ? term : text})
          }
          this.items = items
        }
      }, 600),
    },
  }
</script>
