<template>
  <div>
    <v-text-field
      ref="fileTextField"
      prepend-icon="attach_file"
      single-line="single-line"
      :value="fileName"
      v-bind="$attrs"
      @click.native="onFocus"
    />
    <input
      v-show="false"
      ref="fileInput"
      type="file"
      :name="name"
      :accept="accept"
      :multiple="false"
      @change="onFileChange"
    />
  </div>
</template>

<script>
  export default {
    name: 'FileInput',
    inject: {
      $validator: '$validator',
    },
    props: ['value', 'name', 'accept'],
    data() {
      return {
        fileName: this.value,
      }
    },
    methods: {
      onFocus() {
        this.$refs.fileInput.click()
      },
      onFileChange($event) {
        const files = $event.target.files || $event.dataTransfer.files
        if (files && files.length) {
          const file = files[0]
          this.fileName = file.name
          this.$emit('input', file)
        } else {
          this.fileName = null
          this.$emit('input', null)
        }
      },
    },
  }
</script>
