<template>
  <div class="gantt-diagram">
    <div class="diagram-header">
      <a class="prev-month-btn" href="#" @click.prevent="changeMonth('prev')">
        <v-icon>fa-chevron-left</v-icon>
      </a>
      <div class="current-month">
        <transition-group :name="`slide-${direction}`" mode="out-in">
          <span :key="month" class="d-inline-flex">{{ monthName }} {{ year }}</span>
        </transition-group>
      </div>
      <a class="next-month-btn" href="#" @click.prevent="changeMonth('next')">
        <v-icon>fa-chevron-right</v-icon>
      </a>
    </div>
    <div class="transition-wrapper">
      <transition-group :name="`slide-${direction}`" mode="out-in">
        <table :key="month" class="diagram-table">
          <thead>
            <tr>
              <th style="width: 180px;" rowspan="2" />
              <th :style="{width: `${dayWidth * 2}%`}" rowspan="2">
                Дней за месяц
              </th>
              <th :style="{width: `${dayWidth * 2}%`}" rowspan="2">
                Дней за год
              </th>
              <th v-for="(weekInfo, i) in weekdayInfos.weekInfos" :key="i" :colspan="weekInfo.length">
                <template v-if="weekInfo.length >= 5">
                  {{ weekInfo.text }}
                </template>
              </th>
            </tr>
            <tr>
              <th
                v-for="(weekDayInfo, i) in weekdayInfos.weekdayInfos"
                :key="i"
                :class="`day-num ${getWorkdayClass(i)}`"
                :style="{width: `${dayWidth}%`}"
              >
                {{ weekDayInfo.shortName }}
              </th>
            </tr>
          </thead>
          <template v-if="currentGroups.length">
            <tbody v-for="group in currentGroups" :key="group.id">
              <tr v-for="(elem, elemIndex) in group.elems" :key="elem.id">
                <td v-if="elemIndex === 0" class="group-title" :rowspan="group.elems.length">
                  <v-tooltip bottom>
                    <span slot="activator">{{ group.label }}</span>
                    {{ group.label }}
                  </v-tooltip>
                </td>
                <td v-if="elemIndex === 0" class="group-duration" :rowspan="group.elems.length">
                  {{ currentMonthDurations[group.id] || 0 }}
                </td>
                <td v-if="elemIndex === 0" class="group-duration" :rowspan="group.elems.length">
                  {{ currentYearDurations[group.id] || 0 }}
                </td>
                <td v-for="i in range(dayCount)" :key="i" :class="getWorkdayClass(i)">
                  <template v-if="elem[i]">
                    <v-menu :open-on-hover="true" :offset-y="true" auto>
                      <template #activator="{ on }">
                        <div :class="`${elem.value.type} ${elem.value.phase}`" v-on="on">
                          <a class="elem" :href="`/workspace/inspecting/#/${elem.value.id}/info`" />
                        </div>
                      </template>
                      <a class="tooltip white pa-2" :href="`/workspace/inspecting/#/${elem.value.id}/info`">
                        <slot name="tooltip" :elem="elem.value" />
                      </a>
                    </v-menu>
                  </template>
                </td>
              </tr>
            </tbody>
          </template>
          <template v-else>
            <tbody class="no-hover">
              <tr>
                <td class="empty-group-text" :colspan="dayCount + 3">
                  {{ this.emptyGroupText }}
                </td>
              </tr>
            </tbody>
          </template>
        </table>
      </transition-group>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'

  export default {
    name: 'GanttDiagram',
    props: {
      groups: {
        required: true,
        type: Array,
      },
      defaultYear: {
        required: true,
        type: Number,
      },
      defaultMonth: {
        required: true,
        type: Number,
      },
      emptyGroupText: {
        required: true,
        type: String,
      },
    },
    data() {
      return {
        year: this.defaultYear,
        month: this.defaultMonth,
        direction: null,
      }
    },
    computed: {
      dayWidth() {
        return 100 / this.dayCount
      },
      dayCount() {
        return new Date(this.year, this.month + 1, 0).getDate()
      },
      monthName() {
        const monthNames = moment.months()
        return monthNames[this.month]
      },
      currentGroups() {
        const groups = []
        for (const group of this.groups) {
          const filtered_elems = group.elems
            .filter(elem => elem.startDate && elem.endDate)
            .map(elem => {
              return {
                ...elem,
                startDateObj: moment(elem.startDate, 'DD.MM.YYYY'),
                endDateObj: moment(elem.endDate, 'DD.MM.YYYY'),
              }
            })
            .filter(elem => elem.startDateObj.year() === this.year || elem.endDateObj.year() === this.year)
          if (!filtered_elems.length) {
            continue
          }
          const currentGroup = {...group}
          let elems = filtered_elems
            .filter(elem => elem.startDateObj.month() === this.month || elem.endDateObj.month() === this.month)
            .map(elem => this.elemToRow(elem))
          if (!elems.length) {
            elems = [false]
          }
          currentGroup.elems = elems.sort(function(a, b) {
            return a.value.startDateObj - b.value.startDateObj
          })
          groups.push(currentGroup)
        }
        return groups
      },
      currentYearDurations() {
        return this.getDurationsByPeriod('year')
      },
      currentMonthDurations() {
        return this.getDurationsByPeriod('month')
      },
      weekdayInfos() {
        const firstDayOfMonth = moment([this.year, this.month, 1])
        let weekInfos = [{}, {}, {}, {}, {}, {}]
        let weekNum = 0
        const weekdayInfos = []
        const dateFormat = 'DD MMMM'
        for (const i of this.range(firstDayOfMonth.weekday(), firstDayOfMonth.weekday() + this.dayCount)) {
          const currentDay = moment(firstDayOfMonth)
            .add(i, 'd')
            .subtract(firstDayOfMonth.weekday(), 'd')
          const weekday = i % 7
          if (i === firstDayOfMonth.weekday() || weekday === 0) {
            weekInfos[weekNum].isWeekStart = true
            weekInfos[weekNum].dateStart = currentDay
          }
          if (i === firstDayOfMonth.weekday() + this.dayCount - 1 || weekday === 6) {
            const week = Object.assign(weekInfos[weekNum], {
              isWeekEnd: true,
              dateEnd: currentDay,
              length: currentDay.diff(weekInfos[weekNum].dateStart, 'days') + 1,
            })
            if (week.length > 1) {
              week.text = `${week.dateStart.format(dateFormat)} - ${week.dateEnd.format(dateFormat)}`
            } else {
              week.text = week.dateStart.format(dateFormat)
            }
            weekInfos[weekNum] = week
            weekNum += 1
          }
          weekdayInfos.push({shortName: currentDay.format('dd'), weekDay: weekday + 1})
        }
        weekInfos = weekInfos.filter(elem => Object.keys(elem).length !== 0)
        return {weekdayInfos, weekInfos}
      },
      holidaysInfos() {
        const firstDayOfMonth = moment([this.year, this.month, 1]).format('YYYY-MM-DD')
        const lastDayOfMonth = moment([this.year, this.month, this.dayCount]).format('YYYY-MM-DD')
        const holidays = this.$store.getters
          .getHolidays(this.year)
          .filter(day => day >= firstDayOfMonth && day <= lastDayOfMonth)
        const shortWorkdays = this.$store.getters
          .getShortWorkdays(this.year)
          .filter(day => day >= firstDayOfMonth && day <= lastDayOfMonth)
        return {holidays, shortWorkdays}
      },
    },
    async mounted() {
      await this.$store.dispatch('loadWorkCalendarIfNotExist', this.year)
    },
    methods: {
      range: _.range,
      elemToRow(elem) {
        const firstDayOfCurrentMonth = moment([this.year, this.month, 1])
        const startDate = elem.startDateObj.diff(firstDayOfCurrentMonth, 'days')
        const endDate = elem.endDateObj.diff(firstDayOfCurrentMonth, 'days')
        const before = Math.max(startDate, 0)
        const length = Math.min(endDate, this.dayCount) - Math.max(startDate, 0) + 1
        const row = {value: elem}
        for (const i of this.range(this.dayCount)) {
          row[i] = i >= before && i < before + length
        }
        return row
      },
      async changeMonth(direction) {
        let newDate = moment([this.year, this.month, 1])
        if (direction === 'prev') {
          newDate = newDate.subtract(1, 'month')
        }
        if (direction === 'next') {
          newDate = newDate.add(1, 'month')
        }
        this.direction = direction
        this.month = newDate.month()
        this.year = newDate.year()

        await this.$store.dispatch('loadWorkCalendarIfNotExist', this.year)
      },
      getDurationsByPeriod(period) {
        const durations = {}
        for (const group of this.groups) {
          const currentGroup = {...group}
          let elems = currentGroup.elems
            .map(elem => {
              return {
                ...elem,
                startDateObj: moment(elem.startDate, 'DD.MM.YYYY'),
                endDateObj: moment(elem.endDate, 'DD.MM.YYYY'),
              }
            })
            .filter(elem => elem.startDateObj.year() === this.year || elem.endDateObj.year() === this.year)
          const firstDayOfYearCurrentPeriod = moment([this.year, this.month, 1])
            .startOf(period)
            .dayOfYear()
          const lastDayOfYearCurrentPeriod = moment([this.year, this.month, 1])
            .endOf(period)
            .dayOfYear()
          if (period === 'month') {
            elems = elems.filter(
              elem => elem.startDateObj.month() === this.month || elem.endDateObj.month() === this.month,
            )
          }
          const daysInPeriod = new Set()
          for (const elem of elems) {
            const startDayOfYear = Math.max(elems[elem].startDateObj.dayOfYear(), firstDayOfYearCurrentPeriod)
            const endDayOfYear = Math.min(elems[elem].endDateObj.dayOfYear(), lastDayOfYearCurrentPeriod)
            if (!startDayOfYear || !endDayOfYear) {
              continue
            }
            this.range(startDayOfYear, endDayOfYear + 1).reduce((set, elem) => set.add(elem), daysInPeriod)
          }
          durations[group.id] = daysInPeriod.size
        }
        return durations
      },
      getWorkdayClass(dayNumber) {
        const holidayInfos = this.holidaysInfos
        const currentDay = moment([this.year, this.month, dayNumber + 1]).format('YYYY-MM-DD')
        const todayDay = moment().format('YYYY-MM-DD')
        const classes = []
        if (holidayInfos.holidays.includes(currentDay)) {
          classes.push('holidays')
        } else if (holidayInfos.shortWorkdays.includes(currentDay)) {
          classes.push('short-workdays')
        } else {
          classes.push('workdays')
        }
        if (currentDay === todayDay) {
          classes.push('today')
        }
        return classes.join(' ')
      },
    },
  }
</script>
<style scoped>
  .diagram-header {
    display: flex;
  }

  .transition-wrapper {
    position: relative;
    overflow: hidden;
  }

  .current-month {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
  }

  .prev-month-btn:hover,
  .next-month-btn:hover {
    text-decoration: none;
  }

  .diagram-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-width: 0;

    tbody:not(.no-hover):hover {
      background-color: rgba(0, 0, 0, 0.06);
      transition: background 0.25s cubic-bezier(0.25, 0.8, 0.5, 1);
      will-change: background;
    }

    tr {
      height: 32px;
    }

    th,
    td {
      border: 1px solid #e5e5e5;
      position: relative;
    }
  }

  .group-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
  }

  .group-duration {
    font-weight: bold;
    text-align: center;
  }

  .day-num {
    text-align: center;
  }

  .holidays {
    background-color: #f5f5f5;
  }

  th.today,
  td.today {
    background-color: rgba(115, 255, 95, 0.25);
  }

  .elem {
    height: 21px;
    position: absolute;
    top: calc(50% - 11px);
    left: -1px;
    right: -1px;
    background-attachment: fixed;
    border-width: 1px 0;
    border-style: solid;
  }

  .elem-start {
    border-left-width: 1px;
  }

  .elem-end {
    border-right-width: 1px;
  }

  .planned .elem {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 4px, #2196f3 4px, #2196f3 8px);
    border-color: #2196f3;
  }

  .planned.__finished__ .elem {
    background-color: #2196f3;
    border-color: #2196f3;
  }

  .unplanned .elem {
    background-color: #59ad79;
    border-color: #59ad79;
  }

  .empty-group-text {
    text-align: center;
    font-size: 25px;
    color: #919191;
    padding: 50px;
    width: 100%;
  }

  .tooltip {
    display: block;
    color: #000;
    text-decoration: none;
  }
</style>
