<template>
  <div class="ckeditor">
    <textarea :id="id" :value="value" />
  </div>
</template>
<script>
  import 'ckeditor_loader'

  let inc = new Date().getTime()
  export default {
    props: {
      value: {
        type: String,
      },
      id: {
        type: String,
        default: () => `editor-${++inc}`,
      },
      height: {
        type: String,
        default: '200px',
      },
      toolbar: {
        type: Array,
        default: () => [
          ['Format'],
          ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],
          ['Link', 'Unlink'],
          ['Source', 'Maximize'],
          '/',
          ['Bold', 'Italic', 'Strike', 'Underline', '-', 'RemoveFormat'],
          ['BulletedList', 'NumberedList', 'Blockquote'],
          ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
          ['TextColor', 'BGColor'],
        ],
      },
      language: {
        type: String,
        default: 'ru',
      },
      extraPlugins: {
        type: String,
        default: 'colorbutton,panelbutton',
      },
    },
    data() {
      return {
        destroyed: false,
      }
    },
    computed: {
      instance() {
        return window.CKEDITOR.instances[this.id]
      },
      config() {
        return {
          toolbar: this.toolbar,
          language: this.language,
          height: this.height,
          extraPlugins: this.extraPlugins,
        }
      },
    },
    mounted() {
      if (typeof CKEDITOR === 'undefined') {
        console.log('CKEDITOR is missing (http://ckeditor.com/)')
      } else {
        window.CKEDITOR.replace(this.id, this.config)

        this.instance.setData(this.value)
        this.instance.on('instanceReady', () => {
          this.instance.setData(this.value)
        })
        this.instance.on('change', this.onChange)
        this.instance.on('blur', this.onBlur)
        this.instance.on('focus', this.onFocus)
        this.instance.on('fileUploadResponse', () => {
          setTimeout(() => {
            this.onChange()
          }, 0)
        })
      }
    },
    beforeDestroy() {
      try {
        if (!this.destroyed) {
          this.instance.focusManager.blur(true)
          window.CKEDITOR.removeAllListeners()
          this.instance.destroy(true)
          this.destroyed = true
        }
      } catch (e) {}
    },
    beforeUpdate(val) {
      const instanceValue = this.instance.getData()
      if (instanceValue !== this.value) {
        this.instance.setData(val, {internal: false})
      }
    },
    methods: {
      onChange() {
        const instanceValue = this.instance.getData()
        if (instanceValue !== this.value) {
          this.$emit('input', instanceValue)
        }
      },
      onBlur() {
        this.$emit('blur', this.instance)
      },
      onFocus() {
        this.$emit('focus', this.instance)
      },
    },
  }
</script>
