<template>
  <div>
    <v-menu
      v-model="picker"
      :close-on-content-click="false"
      v-bind="$attrs"
      lazy
      transition="scale-transition"
      offset-y
      full-width
      max-width="290px"
      min-width="290px"
    >
      <v-text-field
        slot="activator"
        v-model="inputValue"
        v-bind="$attrs"
        persistent-hint
        append-icon="event"
        clearable
        @input="onInput"
        @blur="onBlur"
      />
      <v-time-picker
        :readonly="isReadonly"
        :value="time"
        no-title
        locale="ru"
        format="24hr"
        @input="onTimeInput"
        @change="onTimeChange"
      />
    </v-menu>
  </div>
</template>

<script>
  import moment from 'moment'

  export default {
    name: 'TimePicker',
    props: {
      value: {
        type: String,
      },
      format: {
        type: String,
        default: 'HH:mm',
      },
    },
    data() {
      return {
        picker: false,
        tab: '0',
        inputValue: this.value,
        time: this.parseTime(this.value),
      }
    },
    computed: {
      isReadonly() {
        return this.$attrs.readonly || this.$attrs.disabled
      },
    },
    watch: {
      picker(val) {
        if (!val) {
          this.tab = '0'
        }
      },
      inputValue(val) {
        this.$emit('input', val)
      },
    },
    methods: {
      parseTime(time) {
        if (!time) return null
        const m = moment(time, this.format)
        if (m.isValid()) return m.format('HH:mm')
      },
      formatTime(time) {
        if (!time) return null
        return moment(time, 'HH:mm').format(this.format)
      },
      onInput(val) {
        const time = this.parseTime(val)
        if (time) {
          this.time = time
        }
      },
      onBlur() {
        const time = this.parseTime(this.inputValue)
        if (time) {
          this.time = time
          this.inputValue = this.formatTime(time)
        } else {
          this.time = null
          this.inputValue = null
        }
      },
      onTimeInput(time) {
        this.inputValue = this.formatTime(time)
        this.time = time
      },
      onTimeChange() {
        this.picker = false
      },
    },
  }
</script>
