<template>
  <div>
    <v-text-field
      ref="input"
      :append-icon="disableToggle ? '' : type === 'password' ? 'fa-eye' : 'fa-eye-slash'"
      :class="classes"
      :type="type"
      :value="value"
      v-bind="$attrs"
      @click:append="togglePassword"
      @input="updatePassword"
    />
    <div ref="meter" class="VuePassword__Strength">
      <slot v-if="!disableStrength" :strength="this.strength" name="strength-meter">
        <svg class="VuePassword__Meter" height=".5rem" preserveAspectRatio="none" viewBox="0 0 123 2" width="100%">
          <path :class="getStrengthClass(0)" d="M0 1 L30 1" />
          <path :class="getStrengthClass(1)" d="M31 1 L61 1" />
          <path :class="getStrengthClass(2)" d="M62 1 L92 1" />
          <path :class="getStrengthClass(3)" d="M93 1 L123 1" />
        </svg>
      </slot>

      <slot v-if="!disableStrength" :strength="this.strength" name="strength-message">
        <div :class="strengthClass" class="VuePassword__Message">
          {{ message }}
        </div>
      </slot>
    </div>
  </div>
</template>

<script>
  export default {
    inheritAttrs: false,
    props: {
      /**
       * Classes to apply to the password input.
       */
      classes: {
        type: [String, Array],
        default: '',
      },

      /**
       * Classes to apply for the various strength levels from zxcvbn.
       */
      strengthClasses: {
        type: Array,
        default() {
          return [
            'VuePassword--very-weak',
            'VuePassword--weak',
            'VuePassword--medium',
            'VuePassword--good',
            'VuePassword--great',
          ]
        },
      },

      /**
       * Messages to apply to the various strength levels from zxcvbn.
       */
      strengthMessages: {
        type: Array,
        default() {
          return ['Очень слабый пароль', 'Слабый пароль', 'Средний пароль', 'Сильный пароль', 'Очень сильный пароль']
        },
      },

      value: {
        type: String,
        default: '',
      },
      /**
       * Set any additional user inputs to influence the password strength
       * calculated by zxcvbn.
       */
      userInputs: {
        type: Array,
        default() {
          return []
        },
      },

      /**
       * Disable the password toggle.
       */
      disableToggle: {
        type: Boolean,
        default: false,
      },

      /**
       * Disable the password strength.
       */
      disableStrength: {
        type: Boolean,
        default: false,
      },
    },

    data() {
      return {
        type: 'password',
        strength: {},
        dirty: false,
      }
    },

    computed: {
      /**
       * Get the current password strength message.
       *
       * @return {string}
       */
      message() {
        if (this.strength.score >= 0 && this.dirty) {
          if (this.strengthMessages[this.strength.score]) {
            return this.strengthMessages[this.strength.score]
          }
        }
        return null
      },

      /**
       * Get the current password strength class.
       *
       * @return {string}
       */
      strengthClass() {
        if (this.strength.score >= 0) {
          if (this.strengthClasses[this.strength.score]) {
            return this.strengthClasses[this.strength.score]
          }
        }
        return null
      },

      /**
       * Get the feedback warning or suggestion from zxcvbn.
       *
       * @return {string}
       */
      feedback() {
        if (this.strength.feedback) {
          if (this.strength.feedback.warning) {
            return this.strength.feedback.warning
          } else {
            return this.strength.feedback.suggestions[0]
          }
        }
        return null
      },
    },

    watch: {
      /**
       * Watch for changes in the user inputs prop to update the strength score.
       */
      userInputs() {
        this.setStrength(this.value)
      },
    },

    mounted() {
      // If a password exists on mount, get the strength from zxcvbn.
      if (this.value) {
        this.setStrength(this.value)
        this.dirty = true
      }
      const details = this.$refs.input.$el.querySelector('.v-text-field__details')
      details.insertBefore(this.$refs.meter, details.firstChild)
    },

    methods: {
      /**
       * Update the password input.
       *
       * @param  {String} password
       */
      updatePassword(password) {
        this.$emit('input', password)
        this.dirty = true
        this.setStrength(password)
      },

      /**
       * Toggle the visibility of the password.
       */
      togglePassword() {
        this.type = this.type === 'password' ? 'text' : 'password'
        this.$nextTick(this.$refs.input.focus)
      },

      /**
       * Get the current strength class based on the strength calculated
       * by zxcvbn.
       *
       * @param  {Number} strength
       * @return {String}
       */
      getStrengthClass(strength) {
        if (this.strength.score > strength) {
          return this.strengthClass
        }

        return ''
      },
      setStrength(password) {
        import(/* webpackChunkName: "zxcvbn" */ 'zxcvbn').then(zxcvbn => {
          this.strength = zxcvbn.default(password, this.userInputs)
        })
      },
    },
  }
</script>

<style lang="scss" scoped>
  .VuePassword {
    position: relative;
  }

  .VuePassword__Input {
    position: relative;
  }

  .VuePassword input {
    padding-right: 2.5em;
    width: 100%;
  }

  .VuePassword__Toggle {
    float: right;
    cursor: pointer;
    margin-right: 12px;
    margin-top: -29px;
    position: relative;
    z-index: 2;
  }

  .VuePassword__Toggle::before {
    content: '';
    border-left: 1px solid #d0d0d0;
    top: -1px;
    bottom: -3px;
    left: -11px;
    position: absolute;
  }

  .VuePassword__Toggle__Icon {
    fill: currentColor;
    height: 100%;
    width: 1.5em;
    margin-right: 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .VuePassword__Meter {
    color: rgb(175, 175, 175);
    display: block;
    margin-top: 0.2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .VuePassword__Meter path {
    stroke: currentColor;
    stroke-width: 2;
  }

  .VuePassword--very-weak {
    color: rgb(175, 175, 175);
  }

  .VuePassword--weak {
    color: rgb(230, 30, 30);
  }

  .VuePassword--medium {
    color: rgb(255, 160, 65);
  }

  .VuePassword--good {
    color: rgb(100, 200, 75);
  }

  .VuePassword--great {
    color: rgb(75, 150, 50);
  }

  .VuePassword__Message {
    position: absolute;
    top: 14px;
    right: 0;
    cursor: default;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
  }

  .VuePassword__Strength {
    position: relative;
  }

  /deep/ .v-input__slot {
    margin-bottom: 0;
  }

  /deep/ .v-text-field__details {
    flex-direction: column;
    min-height: 31px;
  }
</style>
